- model_class = @offer.class
= tutorial_progress_bar
%h1 Vos annonces
#offers
  - @offers.each do |offer|
    = render( :partial => '/become_teacher/offer', :locals=>{:offer => offer}, :required => true )
= render( :partial => '/offers/form', :locals=>{:offer=> @offer, :remote => true} )
%nav
  = link_to 'Continuer', next_wizard_path
