#become-teacher
  .become-teacher-offers
    .row
      = tutorial_progress_bar
    .row
      .col-sm-8.col-sm-offset-2
        .card
          .card-content
            %span.card-title.text-center Quelle(s) matière(s) enseignez-vous ?
            = render partial: 'offer', locals:{offer: @offer, id: 1}
      - @user.offers.each do |offer|
        .col-sm-8.col-sm-offset-2
          = render partial: 'edit_offer', locals:{offer: offer}
    .row
      .col-sm-2
      .col-sm-8
        %nav.text-right
          = link_to 'Continuer', next_wizard_path, class:'btn btn-qw btn-sm btn-green'