.become-teacher-offers
  .row
    %h2.page-title-green.text-center Les cours que vous donnez
    - model_class = @offer.class
    .col-sm-2
    .col-sm-8.offers-list
      - @user.offers.each do |offer|
        = render partial: 'edit_offer', locals:{offer: offer}
      = render partial: 'offer', locals:{offer: @offer, id: 1}

      %nav.text-right
        = link_to 'Continuer', next_wizard_path, class:'btn btn-qw btn-sm btn-green'
  .row
    = tutorial_progress_bar
