#become-teacher
  .become-teacher-general-infos
    .text-center
      = tutorial_progress_bar
    .content.valign-wrapper
      .row
        .col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
          .card
            .card-content
              %h2
                Bienvenue sur Qwerteach!<br />
                %small Nous sommes ravis de vous avoir parmis nous :)
              .img_rocket_finish_lesson_pack
                = image_tag('rocket.png')
              %p
                Avant de continuer, nous vous demandons de valider votre adresse e-mail.
                Pour ce faire, cliquez sur le lien présent dans l'e-mail que nous vous avons envoyé.
                %br
                = link_to "C'est fait!", next_wizard_path, class: 'btn btn-green btn-qw'
              %hr
              = link_to "Help! Je n'ai pas reçu d'email!", new_confirmation_path(@user), class: 'text-lightgrey'
