.test-become-teacher
    %nav.main_nav
        .wrap
        .label_logo
            %img{:alt => "QwerTeach", :src => "https://qwerteach.com/assets/logotext-6441427fdda2eaa7a811db01d11ff2fab7dfebcb2db6af3eba083aaef4e1a777.png", :style => "border:0;display:block;outline:none;text-decoration:none;width:100%;"}
        .right
            %a.btn.blue{:href => "#"} Devenir prof
            %a.btn.txt{:href => "#"} Se connecter
            %a.btn.primary{:href => "#"} S'incrire
    %header
      .wrap
        .main_title_block
          %h1 Le bon prof au bon moment
          %h2 Les meilleurs professeurs particulers sont sur Qwearteach
      %a.toScrollDown{:href => "#top"}
    .content_block_body
      .block_body
        %section#top.head
          .block_title
            %h2
              Les cours particulers,
              %br
              %span.grey nouvelle génération
          .block_sign_up.show
            %span.title_sign Inscrivez vous maintent
            =render partial: 'devise/registrations/new_form'
          %ul.assets_cours
            %li
              %figure
                %img{:alt => "Les cours particulier depuis votre canapé", :src => "/landing_eleve.f9706283.svg"}
              %article
                %h4.title Les cours particuliers depuis votre canapé
                %p
                  Grâce à notre classe virtuelle intuitive et simple d’utilisation, combinant tableau interactif et vidéoconférence,
                  trouvez un prof et prenez vos cours particuliers en direct
            %li
              %figure
                %img{:alt => "Les meilleurs proffs", :src => "/landing_prof.604371dc.svg"}
              %article
                %h4.title Les meilleurs profs
                %p
                  Même dans les matières les plus pointues, les professeurs sont certifiés grâce à un entretien individuel, ils
                  sont ensuite évalués à la fin de chaque séance
            %li
              %figure
                %img{:alt => "Le soutien scilaire en toute confiance", :src => "/landing_payement.0b6c2723.svg"}
              %article
                %h4.title Le soutien scolaire en toute confiance
                %p
                  Nous sommes là pour vous aider à trouver le professeur qu’il vous faut. Payez à la réservation, l’argent lui
                  sera versé à la fin du cours.
        %section.teachers
          .block_title
            %h2 Découvrez le meilleur prof pour vous
          %ul.teachers_list
            %li.teacher
              %a{:href => "#"}
                %figure
                  %img{:alt => "Prof...", :src => "https://i.pinimg.com/originals/e4/46/3b/e4463b1fc313d5b2a736cb352d498d76.jpg"}
                  %figcaption
                    %span
                      Quentin
                      %br
                      senuti
            %li.teacher
              %a{:href => "#"}
                %figure
                  %img{:alt => "Prof...", :src => "https://i.pinimg.com/originals/e4/46/3b/e4463b1fc313d5b2a736cb352d498d76.jpg"}
                  %figcaption
                    %span
                      Quentin
                      %br
                      senuti
              %a{:href => "#"}
                %figure
                  %img{:alt => "Prof...", :src => "https://i.pinimg.com/originals/e4/46/3b/e4463b1fc313d5b2a736cb352d498d76.jpg"}
                  %figcaption
                    %span
                      Quentin
                      %br
                      senuti
            %li.teacher
              %a{:href => "#"}
                %figure
                  %img{:alt => "Prof...", :src => "https://i.pinimg.com/originals/e4/46/3b/e4463b1fc313d5b2a736cb352d498d76.jpg"}
                  %figcaption
                    %span
                      Quentin
                      %br
                      senuti
            %li.teacher
              %a{:href => "#"}
                %figure
                  %img{:alt => "Prof...", :src => "https://i.pinimg.com/originals/e4/46/3b/e4463b1fc313d5b2a736cb352d498d76.jpg"}
                  %figcaption
                    %span
                      Quentin
                      %br
                      senuti
              %a{:href => "#"}
                %figure
                  %img{:alt => "Prof...", :src => "https://i.pinimg.com/originals/e4/46/3b/e4463b1fc313d5b2a736cb352d498d76.jpg"}
                  %figcaption
                    %span
                      Quentin
                      %br
                      senuti
            %li.teacher
              %a{:href => "#"}
                %figure
                  %img{:alt => "Prof...", :src => "https://i.pinimg.com/originals/e4/46/3b/e4463b1fc313d5b2a736cb352d498d76.jpg"}
                  %figcaption
                    %span
                      Quentin
                      %br
                      senuti
        %section.press
          .before
          .block_title
            %h2 La presse parle de nous
          %ul.press_list
            %li
              %a{:href => "#"}
                %img{:alt => "Le Soir", :src => "/le_soir.36a1ebc9.jpeg"}
            %li
              %a{:href => "#"}
                %img{:alt => "BEL RTL", :src => "/Belrtl.de1bd680.jpg"}
            %li
              %a{:href => "#"}
                %img{:alt => "Educatis", :src => "/logo_educadis.7e73b99e.jpg"}
            %li
              %a{:href => "#"}
                %img{:alt => "Data News", :src => "/logo-datanews.ba94f8a5.png"}
            %li
              %a{:href => "#"}
                %img{:alt => "Tendances Trends", :src => "/tendances_trends.0580ba1e.png"}
        %section.subscribe
          .block_title._center
            %h2 Profitez maintenant de tous les avantages
          .centered_btn
            %a.btn.primary
              S'inscrire maintenant
        %section.testimny
          .side.l.st-slider
            %input#slide1.cs_anchor.radio{:name => "slider", :type => "radio"}
            %input#slide2.cs_anchor.radio{:name => "slider", :type => "radio"}
            %input#slide3.cs_anchor.radio{:name => "slider", :type => "radio"}
            %input#play1.cs_anchor.radio{:checked => "checked", :name => "slider", :type => "radio"}
            .slider
              .article_inner
                .article_slider
                  .article._1
                    %p Super prof très éfficace et très a l'écoute. Bon contact humain, ce qui est très appréciable !
                    %span.data Henri, 16ans - Lyon
                / .article_slider
                .article_slider
                  .article._1
                    %p Super prof très éfficace et très a l'écoute. Bon contact humain, ce qui est très appréciable !
                    %span.data Henri, 16ans - Lyon
                / .article_slider
                .article_slider
                  .article._1
                    %p Super prof très éfficace et très a l'écoute. Bon contact humain, ce qui est très appréciable !
                    %span.data Henri, 16ans - Lyon
                / .article_slider
              / .article_inner
            / .slider
            .labels
              .fake-radio
                %label.radio-btn{:for => "slide1"}
                %label.radio-btn{:for => "slide2"}
                %label.radio-btn{:for => "slide3"}
          / .slide
          .side.r
            %ul
              %li
                %a{:href => "#"}
                  %span.v
                  Passez au cours en ligne et boostez vos notes !
              %li
                %a{:href => "#"}
                  %span.v
                  Passez au cours en ligne et boostez vos notes !
              %li
                %a{:href => "#"}
                  %span.v
                  Passez au cours en ligne et boostez vos notes !
        %section.become_teacher
          .block_title._center
            %h2 Envie de devenir prof ?
          .centered_btn
            %a.btn.default
              Passez à l'action !

:javascript
  $(document).on('click', 'a[href^="#"]', function (event) {
      event.preventDefault();

      $('html, body').animate({
          scrollTop: $($.attr(this, 'href')).offset().top
      }, 500);
  })

  let st = 0, lastScrollTop = 0
    , vpH = 0
    , vpW = 0
    , BlockBody = $('.block_body')
    , toScrollDown = $('.toScrollDown')
    , isNavHide = false
    , topNav = $('nav.main_nav')
    , signUpBlock = $('.block_sign_up')
    , ContentBlockBody = $('.content_block_body')
    , ContentBlockBodySize = ContentBlockBody.height()
  
  $(window).scroll(function() {
      st = $(window).scrollTop()
  
      if (st > 20) {
          toScrollDown.addClass('hide')
      } else {
          if (st < 20) {
              toScrollDown.removeClass('hide')
          }
          toScrollDown.removeClass('hide')
      }

      if (st > lastScrollTop) {
          topNav.addClass('hide')
      } else {
          topNav.removeClass('hide')
          $('nav.main_nav').addClass('onScreen')
          if (st == 0) {
              $('nav.main_nav').removeClass('onScreen')
          }
      }
      lastScrollTop = st  
  
  })

  $(window).resize(function() {
      st = $(window).scrollTop()
      vpH = $(window).height()
      vpW = $(window).width()
  })
