.card-header.bordered
  - content_for(:title) { "Nouveau commentaire sur #{@commentable.name}" }
  .header-block
    %h3.title= content_for(:title)
  .header-block.pull-right
    = link_to 'Back', :back, class: "btn btn-secondary"
.card-block
  = render 'admin/comments/form', page: @page
