.message-container.clearfix
  .message-datetime
    %time{:datetime => "#{message.created_at}", :title => "#{message.created_at.strftime("%d %b  %Y at %I:%M%p")}"}
      = message_date message.created_at
      - if !@recievers.nil? && message.is_read?(@recievers.first)
        %i.fa.fa-check
  .message.message-sent
    #{simple_format(message.body)}