.message-container.clearfix
  .message.message-sent
    #{simple_format(message.body)}
    %time{:datetime => "#{message.created_at}", :title => "#{message.created_at.strftime("%d %b  %Y at %I:%M%p")}"}