.container
  .row
    %ul.tabs
      %li.tab
        %a{href: "#general-infos", data:{turbolinks: false}} Informations générales
      %li.tab
        %a{href: "#password", data:{turbolinks: false}} Mot de passe
      - if @user.is_a?(Teacher)
        %li.tab
          %a{href: "#offers", data:{turbolinks: false}} Mes annonces
      %li.tab
        = link_to "Voir mon profil", user_path(@user), target: "_blank"

#avatar-crop-modal.modal
  .modal-dialog
    .modal-content
      %h4 Recadrer la photo
      .modal-body-avatar
        .avatar-uploaded-view
          %img.avatar-uploaded-view-image
        .avatar-uploaded-preview
          %img.avatar-uploaded-preview-image
      .modal-footer.text-center
        %a.modal-action.modal-close{href: '#!'} Annuler
        %button.btn.btn-success.btn-qw.btn-avatar-save{'type'=>'button'} Sauver



:javascript
  new AvatarUploader();

:javascript
  $('.edit-user-avatar').on('click', function(){
    $('#user_avatar').trigger('click');
  });
  $('#user_avatar').on('change', function(){

    if ( $('#user_avatar').get(0).files[0] ) {
      $('#avatar-crop-modal').modal('show');
    }
  });
  var h = $(body).height();
  $('.menu').css({height:h});

  $('ul.tabs').tabs();
  CKEDITOR.replace( 'user_description' );
