---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic cXdlcnRlYWNocmFpbHM6eGs0WUpMWnZ5S3N5QWJoN0Q3RlRNUk92ckZ6azQyMWZzRE9pRHhIUHJPNlNVYzBvUnA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"c60a7d0b83fe47438a1248e146350f6a","token_type":"bearer","expires_in":1199}'
  recorded_at: Sat, 11 Mar 2017 19:37:10 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"SH","Nationality":"GP","Address":{"AddressLine1":"Tamika
        Greens","AddressLine2":"1509","PostalCode":"NQ5 5DQ","City":"Lubowitzport","Region":"Kansas","Country":"TF"},"FirstName":"Jonnie","LastName":"White","Birthday":700268400,"Email":"willian.strosin@schulistlesch.ca","PersonType":"NATURAL","Tag":"user
        5"}'
    headers:
      Authorization:
      - bearer c60a7d0b83fe47438a1248e146350f6a
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.25","lang":"ruby","lang_version":"2.3.3 p222 (2016-11-21)","platform":"x86_64-darwin16","uname":"Darwin
        Aurelies-MacBook-Pro.local 16.4.0 Darwin Kernel Version 16.4.0: Thu Dec 22
        22:53:21 PST 2016; root:xnu-3789.41.3~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '255'
      - '31'
      - '3125'
      - '80'
      X-Ratelimit-Remaining:
      - '102475'
      - '2269'
      - '4420'
      - '8545'
      X-Ratelimit-Reset:
      - '1489261920'
      - '1489262820'
      - '1489264620'
      - '1489347360'
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Tamika Greens","AddressLine2":"1509","City":"Lubowitzport","Region":"Kansas","PostalCode":"NQ5
        5DQ","Country":"TF"},"FirstName":"Jonnie","LastName":"White","Birthday":700268400,"Nationality":"GP","CountryOfResidence":"SH","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"PersonType":"NATURAL","Email":"willian.strosin@schulistlesch.ca","KYCLevel":"LIGHT","Id":"22461194","Tag":"user
        5","CreationDate":1489261032}'
  recorded_at: Sat, 11 Mar 2017 19:37:13 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[22461194],"Currency":"EUR","Description":"wallet user 5"}'
    headers:
      Authorization:
      - bearer c60a7d0b83fe47438a1248e146350f6a
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.25","lang":"ruby","lang_version":"2.3.3 p222 (2016-11-21)","platform":"x86_64-darwin16","uname":"Darwin
        Aurelies-MacBook-Pro.local 16.4.0 Darwin Kernel Version 16.4.0: Thu Dec 22
        22:53:21 PST 2016; root:xnu-3789.41.3~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '256'
      - '3126'
      - '32'
      - '81'
      X-Ratelimit-Remaining:
      - '102474'
      - '2268'
      - '4419'
      - '8544'
      X-Ratelimit-Reset:
      - '1489261920'
      - '1489262820'
      - '1489264620'
      - '1489347360'
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 5","Owners":["22461194"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"22461195","Tag":null,"CreationDate":1489261035}'
  recorded_at: Sat, 11 Mar 2017 19:37:16 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/22461194/cards?per_page=100&sort=CreationDate:desc
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer c60a7d0b83fe47438a1248e146350f6a
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.25","lang":"ruby","lang_version":"2.3.3 p222 (2016-11-21)","platform":"x86_64-darwin16","uname":"Darwin
        Aurelies-MacBook-Pro.local 16.4.0 Darwin Kernel Version 16.4.0: Thu Dec 22
        22:53:21 PST 2016; root:xnu-3789.41.3~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/22461194/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="first",<https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/22461194/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="last"
      X-Number-Of-Pages:
      - '1'
      X-Number-Of-Items:
      - '0'
      X-Ratelimit:
      - '259'
      - '3129'
      - '35'
      - '84'
      X-Ratelimit-Remaining:
      - '102471'
      - '2265'
      - '4416'
      - '8541'
      X-Ratelimit-Reset:
      - '1489261920'
      - '1489262820'
      - '1489264620'
      - '1489347360'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sat, 11 Mar 2017 19:37:27 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cardregistrations
    body:
      encoding: UTF-8
      string: '{"UserId":22461194,"Currency":"EUR","CardType":"CB_VISA_MASTERCARD"}'
    headers:
      Authorization:
      - bearer c60a7d0b83fe47438a1248e146350f6a
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.25","lang":"ruby","lang_version":"2.3.3 p222 (2016-11-21)","platform":"x86_64-darwin16","uname":"Darwin
        Aurelies-MacBook-Pro.local 16.4.0 Darwin Kernel Version 16.4.0: Thu Dec 22
        22:53:21 PST 2016; root:xnu-3789.41.3~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '260'
      - '3130'
      - '36'
      - '85'
      X-Ratelimit-Remaining:
      - '102470'
      - '2264'
      - '4415'
      - '8540'
      X-Ratelimit-Reset:
      - '1489261920'
      - '1489262820'
      - '1489264620'
      - '1489347360'
    body:
      encoding: UTF-8
      string: '{"Id":"22461198","Tag":null,"CreationDate":1489261051,"UserId":"22461194","AccessKey":"1X0m87dmM2LiwFgxPLBJ","PreregistrationData":"kQPPb_p6QpYPvI1-YUyRdH5iJhko9A0dpOfhUixp49ShYKB4ATawi6PIrrcfNlyjS4wCy-yiraxeE65tmxOe8A","RegistrationData":null,"CardId":null,"CardType":"CB_VISA_MASTERCARD","CardRegistrationURL":"https://homologation-webpayment.payline.com/webpayment/getToken","ResultCode":null,"ResultMessage":null,"Currency":"EUR","Status":"CREATED"}'
  recorded_at: Sat, 11 Mar 2017 19:37:31 GMT
- request:
    method: post
    uri: https://homologation-webpayment.payline.com/webpayment/getToken
    body:
      encoding: US-ASCII
      string: accessKeyRef=1X0m87dmM2LiwFgxPLBJ&cardNumber=3569990000000132&cardExpirationDate=1017&cardCvx=131&data=kQPPb_p6QpYPvI1-YUyRdH5iJhko9A0dpOfhUixp49ShYKB4ATawi6PIrrcfNlyjS4wCy-yiraxeE65tmxOe8A
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: data=vnIa_PTQ0-xmANB_pgWFIah4T8pnKocW5fah03QKntiFTYzZzKRzV5qL7m94D0Ug_K67trRbQOkv29jew6yf2pbqEs2gvWWriz98SuQa7hBrLkMkYsPF6SKHwl_plPtkAnpAeTzgzvyvIP0nrIWgpA
  recorded_at: Sat, 11 Mar 2017 19:37:37 GMT
- request:
    method: put
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cardregistrations/22461198
    body:
      encoding: UTF-8
      string: '{"RegistrationData":"data=data=vnIa_PTQ0-xmANB_pgWFIah4T8pnKocW5fah03QKntiFTYzZzKRzV5qL7m94D0Ug_K67trRbQOkv29jew6yf2pbqEs2gvWWriz98SuQa7hBrLkMkYsPF6SKHwl_plPtkAnpAeTzgzvyvIP0nrIWgpA"}'
    headers:
      Authorization:
      - bearer c60a7d0b83fe47438a1248e146350f6a
      Content-Type:
      - application/json
      X-Mangopay-Client-[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/22461194/wallets
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer c60a7d0b83fe47438a1248e146350f6a
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.25","lang":"ruby","lang_version":"2.3.3 p222 (2016-11-21)","platform":"x86_64-darwin16","uname":"Darwin
        Aurelies-MacBook-Pro.local [...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cards/22461199
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer c60a7d0b83fe47438a1248e146350f6a
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.25","lang":"ruby","lang_version":"2.3.3 p222 (2016-11-21)","platform":"x86_64-darwin16","uname":"Darwin
        Aurelies-MacBook-Pro.local 16.4.0 Darwin Kernel Version 16.4.0: Thu Dec 22
        22:53:21 PST 2016; root:xnu-3789.41.3~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '263'
      - '3133'
      - '39'
      - '88'
      X-Ratelimit-Remaining:
      - '102467'
      - '2261'
      - '4412'
      - '8537'
      X-Ratelimit-Reset:
      - '1489261920'
      - '1489262820'
      - '1489264620'
      - '1489347360'
    body:
      encoding: UTF-8
      string: '{"ExpirationDate":"1017","Alias":"356999XXXXXX0132","CardType":"CB_VISA_MASTERCARD","CardProvider":"MASTERCARD","Country":"USA","Product":"   ","BankCode":"unknown","Active":true,"Currency":"EUR","Validity":"UNKNOWN","UserId":"22461194","Id":"22461199","Tag":null,"CreationDate":1489261059}'
  recorded_at: Sat, 11 Mar 2017 19:37:45 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/payins/card/direct
    body:
      encoding: UTF-8
      string: '{"AuthorId":22461194,"CreditedUserId":22461194,"DebitedFunds":{"Currency":"EUR","Amount":4000.0},"Fees":{"Currency":"EUR","Amount":0.0},"CreditedWalletId":"22461195","SecureModeReturnURL":"http://test.com","SecureMode":"FORCE","CardId":"22461199"}'
    headers:
      Authorization:
      - bearer c60a7d0b83fe47438a1248e146350f6a
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.25","lang":"ruby","lang_version":"2.3.3 p222 (2016-11-21)","platform":"x86_64-darwin16","uname":"Darwin
        Aurelies-MacBook-Pro.local 16.4.0 Darwin Kernel Version 16.4.0: Thu Dec 22
        22:53:21 PST 2016; root:xnu-3789.41.3~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '264'
      - '3134'
      - '40'
      - '89'
      X-Ratelimit-Remaining:
      - '102466'
      - '2260'
      - '4411'
      - '8536'
      X-Ratelimit-Reset:
      - '1489261920'
      - '1489262820'
      - '1489264620'
      - '1489347360'
    body:
      encoding: UTF-8
      string: '{"Id":"22461202","Tag":null,"CreationDate":1489261067,"AuthorId":"22461194","CreditedUserId":"22461194","DebitedFunds":{"Currency":"EUR","Amount":4000},"CreditedFunds":{"Currency":"EUR","Amount":4000},"Fees":{"Currency":"EUR","Amount":0},"Status":"CREATED","ResultCode":null,"ResultMessage":null,"ExecutionDate":null,"Type":"PAYIN","Nature":"REGULAR","CreditedWalletId":"22461195","DebitedWalletId":null,"PaymentType":"CARD","ExecutionType":"DIRECT","SecureMode":"FORCE","CardId":"22461199","SecureModeReturnURL":"http://test.com/?transactionId=22461202","SecureModeRedirectURL":"https://api.sandbox.mangopay.com:443/Redirect/ACSWithValidation?token=9a61783bde2b47a988d681000b88f06f","SecureModeNeeded":true,"StatementDescriptor":null}'
  recorded_at: Sat, 11 Mar 2017 19:37:49 GMT
[...]
