---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic cXdlcnRlYWNocmFpbHM6eGs0WUpMWnZ5S3N5QWJoN0Q3RlRNUk92ckZ6azQyMWZzRE9pRHhIUHJPNlNVYzBvUnA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"8fba7edc811d43e282638992c318a909","token_type":"bearer","expires_in":1199}'
  recorded_at: Fri, 24 Mar 2017 03:10:14 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"LR","Nationality":"CM","Address":{"AddressLine1":"Sanford
        Ridges","AddressLine2":"302","PostalCode":"FM49 5ES","City":"Janetteburgh","Region":"Minnesota","Country":"SB"},"FirstName":"Jacinto","LastName":"Rippin","Birthday":701370000,"Email":"vernon_dare@gulgowski.biz","PersonType":"NATURAL","Tag":"user
        1662"}'
    headers:
      Authorization:
      - bearer 8fba7edc811d43e282638992c318a909
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MacBook-Pro-MacBook.local 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29
        17:56:20 PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '120'
      - '30'
      - '3549'
      - '60'
      X-Ratelimit-Remaining:
      - '102051'
      - '2270'
      - '4440'
      - '8680'
      X-Ratelimit-Reset:
      - '1490325900'
      - '1490326800'
      - '1490328600'
      - '1490411340'
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Sanford Ridges","AddressLine2":"302","City":"Janetteburgh","Region":"Minnesota","PostalCode":"FM49
        5ES","Country":"SB"},"FirstName":"Jacinto","LastName":"Rippin","Birthday":701370000,"Nationality":"CM","CountryOfResidence":"LR","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"PersonType":"NATURAL","Email":"vernon_dare@gulgowski.biz","KYCLevel":"LIGHT","Id":"23182810","Tag":"user
        1662","CreationDate":1490325014}'
  recorded_at: Fri, 24 Mar 2017 03:10:14 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[23182810],"Currency":"EUR","Description":"wallet user 1662"}'
    headers:
      Authorization:
      - bearer 8fba7edc811d43e282638992c318a909
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MacBook-Pro-MacBook.local 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29
        17:56:20 PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '121'
      - '31'
      - '3550'
      - '61'
      X-Ratelimit-Remaining:
      - '102050'
      - '2269'
      - '4439'
      - '8679'
      X-Ratelimit-Reset:
      - '1490325900'
      - '1490326800'
      - '1490328600'
      - '1490411340'
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 1662","Owners":["23182810"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"23182811","Tag":null,"CreationDate":1490325015}'
  recorded_at: Fri, 24 Mar 2017 03:10:15 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23182810/cards?per_page=100&sort=CreationDate:desc
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer 8fba7edc811d43e282638992c318a909
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MacBook-Pro-MacBook.local 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29
        17:56:20 PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23182810/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="first",<https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23182810/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="last"
      X-Number-Of-Pages:
      - '1'
      X-Number-Of-Items:
      - '0'
      X-Ratelimit:
      - '125'
      - '35'
      - '3554'
      - '65'
      X-Ratelimit-Remaining:
      - '102046'
      - '2265'
      - '4435'
      - '8675'
      X-Ratelimit-Reset:
      - '1490325900'
      - '1490326800'
      - '1490328600'
      - '1490411340'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 24 Mar 2017 03:10:18 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cardregistrations
    body:
      encoding: UTF-8
      string: '{"UserId":23182810,"Currency":"EUR","CardType":"CB_VISA_MASTERCARD"}'
    headers:
      Authorization:
      - bearer 8fba7edc811d43e282638992c318a909
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MacBook-Pro-MacBook.local 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29
        17:56:20 PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '126'
      - '3555'
      - '36'
      - '66'
      X-Ratelimit-Remaining:
      - '102045'
      - '2264'
      - '4434'
      - '8674'
      X-Ratelimit-Reset:
      - '1490325900'
      - '1490326800'
      - '1490328600'
      - '1490411340'
    body:
      encoding: UTF-8
      string: '{"Id":"23182818","Tag":null,"CreationDate":1490325018,"UserId":"23182810","AccessKey":"1X0m87dmM2LiwFgxPLBJ","PreregistrationData":"ObMObfSdwRfyE4QClGtUc91x0JiE4HGLqzIa_Wc4hLe3bXtj4Zf_kdZsKqNVw1D2S4wCy-yiraxeE65tmxOe8A","RegistrationData":null,"CardId":null,"CardType":"CB_VISA_MASTERCARD","CardRegistrationURL":"https://homologation-webpayment.payline.com/webpayment/getToken","ResultCode":null,"ResultMessage":null,"Currency":"EUR","Status":"CREATED"}'
  recorded_at: Fri, 24 Mar 2017 03:10:18 GMT
- request:
    method: post
    uri: https://homologation-webpayment.payline.com/webpayment/getToken
    body:
      encoding: US-ASCII
      string: accessKeyRef=1X0m87dmM2LiwFgxPLBJ&cardNumber=3569990000000132&cardExpirationDate=1017&cardCvx=131&data=ObMObfSdwRfyE4QClGtUc91x0JiE4HGLqzIa_Wc4hLe3bXtj4Zf_kdZsKqNVw1D2S4wCy-yiraxeE65tmxOe8A
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: data=zhOzMuGOpoDc3tuUg5z-5iQ1FY4w_jTwWKFa4WWJ43chM_qbqYFdrjhQw6unv9G19oeHmTsdh4tENwDy-WsqmuMXVX5MuK21xbjzhiN1FvdcMno-TH-uVmrMIWwDURfPj_xhEP1mO3a4c0TqpYJePQ
  recorded_at: Fri, 24 Mar 2017 03:10:21 GMT
- request:
    method: put
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cardregistrations/23182818
    body:
      encoding: UTF-8
      string: '{"RegistrationData":"data=data=zhOzMuGOpoDc3tuUg5z-5iQ1FY4w_jTwWKFa4WWJ43chM_qbqYFdrjhQw6unv9G19oeHmTsdh4tENwDy-WsqmuMXVX5MuK21xbjzhiN1FvdcMno-TH-uVmrMIWwDURfPj_xhEP1mO3a4c0TqpYJePQ"}'
    headers:
      Authorization:
      - bearer 8fba7edc811d43e282638992c318a909
      Content-Type:
      - application/json
      X-Mangopay-Client-[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23182810/wallets
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer 8fba7edc811d43e282638992c318a909
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MacBook-Pro-MacBook.local 1[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/payins/card/direct
    body:
      encoding: UTF-8
      string: '{"AuthorId":23182810,"CreditedUserId":23182810,"DebitedFunds":{"Currency":"EUR","Amount":4900.0},"Fees":{"Currency":"EUR","Amount":0.0},"CreditedWalletId":"23182811","SecureModeReturnURL":"http://test.com","SecureMode":"DEFAULT","CardId":"23182819"}'
    headers:
      Authorization:
      - bearer 8fba7edc811d43e282638992c318a909
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MacBook-Pro-MacBook.local 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29
        17:56:20 PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '129'
      - '3558'
      - '39'
      - '69'
      X-Ratelimit-Remaining:
      - '102042'
      - '2261'
      - '4431'
      - '8671'
      X-Ratelimit-Reset:
      - '1490325900'
      - '1490326800'
      - '1490328600'
      - '1490411340'
    body:
      encoding: UTF-8
      string: '{"Id":"23182822","Tag":null,"CreationDate":1490325023,"AuthorId":"23182810","CreditedUserId":"23182810","DebitedFunds":{"Currency":"EUR","Amount":4900},"CreditedFunds":{"Currency":"EUR","Amount":4900},"Fees":{"Currency":"EUR","Amount":0},"Status":"SUCCEEDED","ResultCode":"000000","ResultMessage":"Success","ExecutionDate":1490325024,"Type":"PAYIN","Nature":"REGULAR","CreditedWalletId":"23182811","DebitedWalletId":null,"PaymentType":"CARD","ExecutionType":"DIRECT","SecureMode":"DEFAULT","CardId":"23182819","SecureModeReturnURL":null,"SecureModeRedirectURL":null,"SecureModeNeeded":false,"StatementDescriptor":null}'
  recorded_at: Fri, 24 Mar 2017 03:10:25 GMT
[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/transfers
    body:
      encoding: UTF-8
      string: '{"AuthorId":23182810,"DebitedFunds":{"Currency":"EUR","Amount":2000.0},"Fees":{"Currency":"EUR","Amount":0.0},"DebitedWalletId":"23182811","CreditedWalletId":"23182815"}'
    headers:
      Authorization:
      - bearer 8fba7edc811d43e282638992c318a909
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"binding[...]
