---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic cXdlcnRlYWNocmFpbHM6eGs0WUpMWnZ5S3N5QWJoN0Q3RlRNUk92ckZ6azQyMWZzRE9pRHhIUHJPNlNVYzBvUnA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"8b24d99eb5a34fb1a3d3aa582b9b0abc","token_type":"bearer","expires_in":1199}'
  recorded_at: Wed, 22 Mar 2017 20:05:42 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"HT","Nationality":"BO","Address":{"AddressLine1":"Muller
        Flat","AddressLine2":"887","PostalCode":"MK79 8TX","City":"Port Lionelfort","Region":"Kansas","Country":"AM"},"FirstName":"Kris","LastName":"Gorczany","Birthday":701197200,"Email":"blaine@heaney.info","PersonType":"NATURAL","Tag":"user
        5"}'
    headers:
      Authorization:
      - bearer 8b24d99eb5a34fb1a3d3aa582b9b0abc
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '121'
      - '192'
      - '3871'
      - '69'
      X-Ratelimit-Remaining:
      - '101729'
      - '2231'
      - '4379'
      - '8608'
      X-Ratelimit-Reset:
      - '1490214000'
      - '1490214900'
      - '1490216700'
      - '1490299440'
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Muller Flat","AddressLine2":"887","City":"Port
        Lionelfort","Region":"Kansas","PostalCode":"MK79 8TX","Country":"AM"},"FirstName":"Kris","LastName":"Gorczany","Birthday":701197200,"Nationality":"BO","CountryOfResidence":"HT","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"PersonType":"NATURAL","Email":"blaine@heaney.info","KYCLevel":"LIGHT","Id":"23105649","Tag":"user
        5","CreationDate":1490213138}'
  recorded_at: Wed, 22 Mar 2017 20:05:45 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[23105649],"Currency":"EUR","Description":"wallet user 5"}'
    headers:
      Authorization:
      - bearer 8b24d99eb5a34fb1a3d3aa582b9b0abc
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '122'
      - '193'
      - '3872'
      - '70'
      X-Ratelimit-Remaining:
      - '101728'
      - '2230'
      - '4378'
      - '8607'
      X-Ratelimit-Reset:
      - '1490214000'
      - '1490214900'
      - '1490216700'
      - '1490299440'
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 5","Owners":["23105649"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"23105650","Tag":null,"CreationDate":1490213140}'
  recorded_at: Wed, 22 Mar 2017 20:05:45 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23105649/cards?per_page=100&sort=CreationDate:desc
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer 8b24d99eb5a34fb1a3d3aa582b9b0abc
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23105649/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="first",<https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23105649/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="last"
      X-Number-Of-Pages:
      - '1'
      X-Number-Of-Items:
      - '0'
      X-Ratelimit:
      - '125'
      - '196'
      - '3875'
      - '73'
      X-Ratelimit-Remaining:
      - '101725'
      - '2227'
      - '4375'
      - '8604'
      X-Ratelimit-Reset:
      - '1490214000'
      - '1490214900'
      - '1490216700'
      - '1490299440'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 22 Mar 2017 20:05:47 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cardregistrations
    body:
      encoding: UTF-8
      string: '{"UserId":23105649,"Currency":"EUR","CardType":"CB_VISA_MASTERCARD"}'
    headers:
      Authorization:
      - bearer 8b24d99eb5a34fb1a3d3aa582b9b0abc
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '126'
      - '197'
      - '3876'
      - '74'
      X-Ratelimit-Remaining:
      - '101724'
      - '2226'
      - '4374'
      - '8603'
      X-Ratelimit-Reset:
      - '1490214000'
      - '1490214900'
      - '1490216700'
      - '1490299440'
    body:
      encoding: UTF-8
      string: '{"Id":"23105653","Tag":null,"CreationDate":1490213142,"UserId":"23105649","AccessKey":"1X0m87dmM2LiwFgxPLBJ","PreregistrationData":"HBalUf7sKsj1NiktfVS7-zAloXxdc4XUF9rrGyxC-rezv1vY1OThn_tbByHT40k0S4wCy-yiraxeE65tmxOe8A","RegistrationData":null,"CardId":null,"CardType":"CB_VISA_MASTERCARD","CardRegistrationURL":"https://homologation-webpayment.payline.com/webpayment/getToken","ResultCode":null,"ResultMessage":null,"Currency":"EUR","Status":"CREATED"}'
  recorded_at: Wed, 22 Mar 2017 20:05:48 GMT
- request:
    method: post
    uri: https://homologation-webpayment.payline.com/webpayment/getToken
    body:
      encoding: US-ASCII
      string: accessKeyRef=1X0m87dmM2LiwFgxPLBJ&cardNumber=3569990000000132&cardExpirationDate=1017&cardCvx=131&data=HBalUf7sKsj1NiktfVS7-zAloXxdc4XUF9rrGyxC-rezv1vY1OThn_tbByHT40k0S4wCy-yiraxeE65tmxOe8A
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: data=VLTIjgpf1ag15dmwRyhmOUYkGSsjl8iV8v3IUwsaGTNAA6YUyaWchC6IPH68NkbknTdLZtcmg_M6FuNoqtdSSYu-eWoYj3xPfjeSE90-I0pzbi0fUIk9cA6BFhBBDIEGbX1XfWEJnpZqiQjOBiSApw
  recorded_at: Wed, 22 Mar 2017 20:05:49 GMT
- request:
    method: put
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cardregistrations/23105653
    body:
      encoding: UTF-8
      string: '{"RegistrationData":"data=data=VLTIjgpf1ag15dmwRyhmOUYkGSsjl8iV8v3IUwsaGTNAA6YUyaWchC6IPH68NkbknTdLZtcmg_M6FuNoqtdSSYu-eWoYj3xPfjeSE90-I0pzbi0fUIk9cA6BFhBBDIEGbX1XfWEJnpZqiQjOBiSApw"}'
    headers:
      Authorization:
      - bearer 8b24d99eb5a34fb1a3d3aa582b9b0abc
      Content-Type:
      - application/json
      X-Mangopay-Client-[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23105649/wallets
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer 8b24d99eb5a34fb1a3d3aa582b9b0abc
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Da[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/payins/card/direct
    body:
      encoding: UTF-8
      string: '{"AuthorId":23105649,"CreditedUserId":23105649,"DebitedFunds":{"Currency":"EUR","Amount":4900.0},"Fees":{"Currency":"EUR","Amount":0.0},"CreditedWalletId":"23105650","SecureModeReturnURL":"http://test.com","SecureMode":"DEFAULT","CardId":"23105654"}'
    headers:
      Authorization:
      - bearer 8b24d99eb5a34fb1a3d3aa582b9b0abc
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '129'
      - '200'
      - '3879'
      - '77'
      X-Ratelimit-Remaining:
      - '101721'
      - '2223'
      - '4371'
      - '8600'
      X-Ratelimit-Reset:
      - '1490214000'
      - '1490214900'
      - '1490216700'
      - '1490299440'
    body:
      encoding: UTF-8
      string: '{"Id":"23105655","Tag":null,"CreationDate":1490213146,"AuthorId":"23105649","CreditedUserId":"23105649","DebitedFunds":{"Currency":"EUR","Amount":4900},"CreditedFunds":{"Currency":"EUR","Amount":4900},"Fees":{"Currency":"EUR","Amount":0},"Status":"SUCCEEDED","ResultCode":"000000","ResultMessage":"Success","ExecutionDate":1490213147,"Type":"PAYIN","Nature":"REGULAR","CreditedWalletId":"23105650","DebitedWalletId":null,"PaymentType":"CARD","ExecutionType":"DIRECT","SecureMode":"DEFAULT","CardId":"23105654","SecureModeReturnURL":null,"SecureModeRedirectURL":null,"SecureModeNeeded":false,"StatementDescriptor":null}'
  recorded_at: Wed, 22 Mar 2017 20:05:52 GMT
[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/transfers
    body:
      encoding: UTF-8
      string: '{"AuthorId":23105649,"DebitedFunds":{"Currency":"EUR","Amount":2000.0},"Fees":{"Currency":"EUR","Amount":0.0},"DebitedWalletId":"23105650","CreditedWalletId":"23105652"}'
    headers:
      Authorization:
      - bearer 8b24d99eb5a34fb1a3d3aa582b9b0abc
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"binding[...]
