---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic cXdlcnRlYWNocmFpbHM6eGs0WUpMWnZ5S3N5QWJoN0Q3RlRNUk92ckZ6azQyMWZzRE9pRHhIUHJPNlNVYzBvUnA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"9b4ba8990d364651becaccfb0e3263cc","token_type":"bearer","expires_in":1199}'
  recorded_at: Sun, 12 Mar 2017 11:37:49 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"GS","Nationality":"SM","Address":{"AddressLine1":"Kuhn
        Circle","AddressLine2":"3505","PostalCode":"OP7 5PV","City":"Kuvalisshire","Region":"Louisiana","Country":"BR"},"FirstName":"Roxana","LastName":"Shields","Birthday":700354800,"Email":"savanna@durgan.co.uk","PersonType":"NATURAL","Tag":"user
        5"}'
    headers:
      Authorization:
      - bearer 9b4ba8990d364651becaccfb0e3263cc
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.25","lang":"ruby","lang_version":"2.3.3 p222 (2016-11-21)","platform":"x86_64-darwin16","uname":"Darwin
        Aurelies-MBP.home 16.4.0 Darwin Kernel Version 16.4.0: Thu Dec 22 22:53:21
        PST 2016; root:xnu-3789.41.3~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '155'
      - '3170'
      - '65'
      - '95'
      X-Ratelimit-Remaining:
      - '102430'
      - '2235'
      - '4405'
      - '8645'
      X-Ratelimit-Reset:
      - '1489319520'
      - '1489320420'
      - '1489322220'
      - '1489404960'
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Kuhn Circle","AddressLine2":"3505","City":"Kuvalisshire","Region":"Louisiana","PostalCode":"OP7
        5PV","Country":"BR"},"FirstName":"Roxana","LastName":"Shields","Birthday":700354800,"Nationality":"SM","CountryOfResidence":"GS","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"PersonType":"NATURAL","Email":"savanna@durgan.co.uk","KYCLevel":"LIGHT","Id":"22479041","Tag":"user
        5","CreationDate":1489318669}'
  recorded_at: Sun, 12 Mar 2017 11:37:50 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[22479041],"Currency":"EUR","Description":"wallet user 5"}'
    headers:
      Authorization:
      - bearer 9b4ba8990d364651becaccfb0e3263cc
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.25","lang":"ruby","lang_version":"2.3.3 p222 (2016-11-21)","platform":"x86_64-darwin16","uname":"Darwin
        Aurelies-MBP.home 16.4.0 Darwin Kernel Version 16.4.0: Thu Dec 22 22:53:21
        PST 2016; root:xnu-3789.41.3~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '156'
      - '3171'
      - '66'
      - '96'
      X-Ratelimit-Remaining:
      - '102429'
      - '2234'
      - '4404'
      - '8644'
      X-Ratelimit-Reset:
      - '1489319520'
      - '1489320420'
      - '1489322220'
      - '1489404960'
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 5","Owners":["22479041"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"22479042","Tag":null,"CreationDate":1489318670}'
  recorded_at: Sun, 12 Mar 2017 11:37:51 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/22479041/cards?per_page=100&sort=CreationDate:desc
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer 9b4ba8990d364651becaccfb0e3263cc
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.25","lang":"ruby","lang_version":"2.3.3 p222 (2016-11-21)","platform":"x86_64-darwin16","uname":"Darwin
        Aurelies-MBP.home 16.4.0 Darwin Kernel Version 16.4.0: Thu Dec 22 22:53:21
        PST 2016; root:xnu-3789.41.3~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/22479041/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="first",<https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/22479041/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="last"
      X-Number-Of-Pages:
      - '1'
      X-Number-Of-Items:
      - '0'
      X-Ratelimit:
      - '159'
      - '3174'
      - '69'
      - '99'
      X-Ratelimit-Remaining:
      - '102426'
      - '2231'
      - '4401'
      - '8641'
      X-Ratelimit-Reset:
      - '1489319520'
      - '1489320420'
      - '1489322220'
      - '1489404960'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sun, 12 Mar 2017 11:37:51 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cardregistrations
    body:
      encoding: UTF-8
      string: '{"UserId":22479041,"Currency":"EUR","CardType":"CB_VISA_MASTERCARD"}'
    headers:
      Authorization:
      - bearer 9b4ba8990d364651becaccfb0e3263cc
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.25","lang":"ruby","lang_version":"2.3.3 p222 (2016-11-21)","platform":"x86_64-darwin16","uname":"Darwin
        Aurelies-MBP.home 16.4.0 Darwin Kernel Version 16.4.0: Thu Dec 22 22:53:21
        PST 2016; root:xnu-3789.41.3~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '100'
      - '160'
      - '3175'
      - '70'
      X-Ratelimit-Remaining:
      - '102425'
      - '2230'
      - '4400'
      - '8640'
      X-Ratelimit-Reset:
      - '1489319520'
      - '1489320420'
      - '1489322220'
      - '1489404960'
    body:
      encoding: UTF-8
      string: '{"Id":"22479045","Tag":null,"CreationDate":1489318671,"UserId":"22479041","AccessKey":"1X0m87dmM2LiwFgxPLBJ","PreregistrationData":"YkgVxL1yNY4ZOfKtqEew_aH4escgySCMTTPCGTdhyLywKTNPzwu7RWvrrOZYSrXLS4wCy-yiraxeE65tmxOe8A","RegistrationData":null,"CardId":null,"CardType":"CB_VISA_MASTERCARD","CardRegistrationURL":"https://homologation-webpayment.payline.com/webpayment/getToken","ResultCode":null,"ResultMessage":null,"Currency":"EUR","Status":"CREATED"}'
  recorded_at: Sun, 12 Mar 2017 11:37:52 GMT
- request:
    method: post
    uri: https://homologation-webpayment.payline.com/webpayment/getToken
    body:
      encoding: US-ASCII
      string: accessKeyRef=1X0m87dmM2LiwFgxPLBJ&cardNumber=3569990000000132&cardExpirationDate=1017&cardCvx=131&data=YkgVxL1yNY4ZOfKtqEew_aH4escgySCMTTPCGTdhyLywKTNPzwu7RWvrrOZYSrXLS4wCy-yiraxeE65tmxOe8A
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: data=G28TBKICKxArLDF4Q7_NN2wVRXrp74t6WabwoDWDFj98W1cLq-sXrcJJbzLJeuc1R5SdsCqO0BsAtenxl-qf8CBqlXbwfDZxEasIhZYFiD8tflnDhujYAncP5d50lAaWVYrLfd15g3WKxBHcHhxTmg
  recorded_at: Sun, 12 Mar 2017 11:37:52 GMT
- request:
    method: put
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cardregistrations/22479045
    body:
      encoding: UTF-8
      string: '{"RegistrationData":"data=data=G28TBKICKxArLDF4Q7_NN2wVRXrp74t6WabwoDWDFj98W1cLq-sXrcJJbzLJeuc1R5SdsCqO0BsAtenxl-qf8CBqlXbwfDZxEasIhZYFiD8tflnDhujYAncP5d50lAaWVYrLfd15g3WKxBHcHhxTmg"}'
    headers:
      Authorization:
      - bearer 9b4ba8990d364651becaccfb0e3263cc
      Content-Type:
      - application/json
      X-Mangopay-Client-[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/22479041/wallets
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer 9b4ba8990d364651becaccfb0e3263cc
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.25","lang":"ruby","lang_version":"2.3.3 p222 (2016-11-21)","platform":"x86_64-darwin16","uname":"Darwin
        Aurelies-MBP.home 16.4.0 Da[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/payins/card/direct
    body:
      encoding: UTF-8
      string: '{"AuthorId":22479041,"CreditedUserId":22479041,"DebitedFunds":{"Currency":"EUR","Amount":4000.0},"Fees":{"Currency":"EUR","Amount":0.0},"CreditedWalletId":"22479042","SecureModeReturnURL":"http://test.com","SecureMode":"DEFAULT","CardId":"22479046"}'
    headers:
      Authorization:
      - bearer 9b4ba8990d364651becaccfb0e3263cc
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.25","lang":"ruby","lang_version":"2.3.3 p222 (2016-11-21)","platform":"x86_64-darwin16","uname":"Darwin
        Aurelies-MBP.home 16.4.0 Darwin Kernel Version 16.4.0: Thu Dec 22 22:53:21
        PST 2016; root:xnu-3789.41.3~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '103'
      - '163'
      - '3178'
      - '73'
      X-Ratelimit-Remaining:
      - '102422'
      - '2227'
      - '4397'
      - '8637'
      X-Ratelimit-Reset:
      - '1489319520'
      - '1489320420'
      - '1489322220'
      - '1489404960'
    body:
      encoding: UTF-8
      string: '{"Id":"22479047","Tag":null,"CreationDate":1489318673,"AuthorId":"22479041","CreditedUserId":"22479041","DebitedFunds":{"Currency":"EUR","Amount":4000},"CreditedFunds":{"Currency":"EUR","Amount":4000},"Fees":{"Currency":"EUR","Amount":0},"Status":"SUCCEEDED","ResultCode":"000000","ResultMessage":"Success","ExecutionDate":1489318675,"Type":"PAYIN","Nature":"REGULAR","CreditedWalletId":"22479042","DebitedWalletId":null,"PaymentType":"CARD","ExecutionType":"DIRECT","SecureMode":"DEFAULT","CardId":"22479046","SecureModeReturnURL":null,"SecureModeRedirectURL":null,"SecureModeNeeded":false,"StatementDescriptor":null}'
  recorded_at: Sun, 12 Mar 2017 11:37:56 GMT
[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/transfers
    body:
      encoding: UTF-8
      string: '{"AuthorId":22479041,"DebitedFunds":{"Currency":"EUR","Amount":2000.0},"Fees":{"Currency":"EUR","Amount":0.0},"DebitedWalletId":"22479042","CreditedWalletId":"22479044"}'
    headers:
      Authorization:
      - bearer 9b4ba8990d364651becaccfb0e3263cc
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"binding[...]
- request:
    method: post
    uri: http://localhost:9292/faye
    body:
      encoding: US-ASCII
      string: message=%7B%22channel%22%3A%22%2Fnotifications%2F6%22%2C%22data%22%3A%7B%22channel%22%3A%22%2Fnotifications%2F6%22%2C%22data%22%3A%7B%22notification%22%3A%7B%22id%22%3A1%2C%22receiver_id%22%3A6%2C%22receiver_type%22%3A%22User%22%2C%22notification_id%22%3A1%2C%22is_read%22%3Afalse%2C%22trashed%22%3Afalse%2C%22deleted%22%3Afalse%2C%22mailbox_type%22%3Anull%2C%22created_at%22%3A%222017-03-12T12%3A37%3A57.959%2B01%3A00%22%2C%22updated_at%22%3A%222017-03-12T12%3A37%3A57.959%2B01%3A00%22%2C%22is_delivered%22%3Afalse%2C%22delivery_method%22%3Anull%2C%22message_id%22%3Anull%7D%7D%7D%2C%22ext%22%3A%7B%22private_pub_token%22%3A%22secret%22%7D%7D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"channel":"/notifications/6","successful":true}]'
  recorded_at: Sun, 12 Mar 2017 11:37:57 GMT
recorded_with: VCR 3.0.3
