---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic cXdlcnRlYWNocmFpbHM6eGs0WUpMWnZ5S3N5QWJoN0Q3RlRNUk92ckZ6azQyMWZzRE9pRHhIUHJPNlNVYzBvUnA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"722920db1b4f45579353edf459142986","token_type":"bearer","expires_in":1199}'
  recorded_at: Fri, 24 Mar 2017 03:14:26 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"MY","Nationality":"CF","Address":{"AddressLine1":"Rippin
        Passage","AddressLine2":"03951","PostalCode":"QM20 9AK","City":"Nannietown","Region":"Montana","Country":"NC"},"FirstName":"Ahmed","LastName":"Swift","Birthday":701370000,"Email":"devon@klockoschaden.biz","PersonType":"NATURAL","Tag":"user
        1672"}'
    headers:
      Authorization:
      - bearer 722920db1b4f45579353edf459142986
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MacBook-Pro-MacBook.local 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29
        17:56:20 PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '132'
      - '3561'
      - '42'
      - '72'
      X-Ratelimit-Remaining:
      - '102039'
      - '2258'
      - '4428'
      - '8668'
      X-Ratelimit-Reset:
      - '1490326140'
      - '1490327040'
      - '1490328840'
      - '1490411580'
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Rippin Passage","AddressLine2":"03951","City":"Nannietown","Region":"Montana","PostalCode":"QM20
        9AK","Country":"NC"},"FirstName":"Ahmed","LastName":"Swift","Birthday":701370000,"Nationality":"CF","CountryOfResidence":"MY","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"PersonType":"NATURAL","Email":"devon@klockoschaden.biz","KYCLevel":"LIGHT","Id":"23182877","Tag":"user
        1672","CreationDate":1490325266}'
  recorded_at: Fri, 24 Mar 2017 03:14:27 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[23182877],"Currency":"EUR","Description":"wallet user 1672"}'
    headers:
      Authorization:
      - bearer 722920db1b4f45579353edf459142986
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MacBook-Pro-MacBook.local 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29
        17:56:20 PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '133'
      - '3562'
      - '43'
      - '73'
      X-Ratelimit-Remaining:
      - '102038'
      - '2257'
      - '4427'
      - '8667'
      X-Ratelimit-Reset:
      - '1490326140'
      - '1490327040'
      - '1490328840'
      - '1490411580'
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 1672","Owners":["23182877"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"23182878","Tag":null,"CreationDate":1490325267}'
  recorded_at: Fri, 24 Mar 2017 03:14:28 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23182877/cards?per_page=100&sort=CreationDate:desc
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer 722920db1b4f45579353edf459142986
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MacBook-Pro-MacBook.local 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29
        17:56:20 PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23182877/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="first",<https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23182877/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="last"
      X-Number-Of-Pages:
      - '1'
      X-Number-Of-Items:
      - '0'
      X-Ratelimit:
      - '136'
      - '3565'
      - '46'
      - '76'
      X-Ratelimit-Remaining:
      - '102035'
      - '2254'
      - '4424'
      - '8664'
      X-Ratelimit-Reset:
      - '1490326140'
      - '1490327040'
      - '1490328840'
      - '1490411580'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Fri, 24 Mar 2017 03:14:29 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cardregistrations
    body:
      encoding: UTF-8
      string: '{"UserId":23182877,"Currency":"EUR","CardType":"CB_VISA_MASTERCARD"}'
    headers:
      Authorization:
      - bearer 722920db1b4f45579353edf459142986
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MacBook-Pro-MacBook.local 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29
        17:56:20 PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '137'
      - '3566'
      - '47'
      - '77'
      X-Ratelimit-Remaining:
      - '102034'
      - '2253'
      - '4423'
      - '8663'
      X-Ratelimit-Reset:
      - '1490326140'
      - '1490327040'
      - '1490328840'
      - '1490411580'
    body:
      encoding: UTF-8
      string: '{"Id":"23182881","Tag":null,"CreationDate":1490325269,"UserId":"23182877","AccessKey":"1X0m87dmM2LiwFgxPLBJ","PreregistrationData":"c9KuNKYJ7Ur8QlG3XTkcYBOF1EVbUuUT9elJDlJVodsg3Pe_Tiywv1Z-P5ZxMiGDS4wCy-yiraxeE65tmxOe8A","RegistrationData":null,"CardId":null,"CardType":"CB_VISA_MASTERCARD","CardRegistrationURL":"https://homologation-webpayment.payline.com/webpayment/getToken","ResultCode":null,"ResultMessage":null,"Currency":"EUR","Status":"CREATED"}'
  recorded_at: Fri, 24 Mar 2017 03:14:30 GMT
- request:
    method: post
    uri: https://homologation-webpayment.payline.com/webpayment/getToken
    body:
      encoding: US-ASCII
      string: accessKeyRef=1X0m87dmM2LiwFgxPLBJ&cardNumber=3569990000000132&cardExpirationDate=1017&cardCvx=131&data=c9KuNKYJ7Ur8QlG3XTkcYBOF1EVbUuUT9elJDlJVodsg3Pe_Tiywv1Z-P5ZxMiGDS4wCy-yiraxeE65tmxOe8A
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: data=VLTIjgpf1ag15dmwRyhmORY1oB7OEiMSKV_rMhW8LjZOcB4oD0ZE5thDmAPkEaLI9q9a8uGn19Zjdf25nJeF_glb2qerePeoJyBV1rkqvfWGi4xIHsWdVtsjtuH7KBh7TXauzRzkVdwDG4nPLNO8Hw
  recorded_at: Fri, 24 Mar 2017 03:14:31 GMT
- request:
    method: put
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cardregistrations/23182881
    body:
      encoding: UTF-8
      string: '{"RegistrationData":"data=data=VLTIjgpf1ag15dmwRyhmORY1oB7OEiMSKV_rMhW8LjZOcB4oD0ZE5thDmAPkEaLI9q9a8uGn19Zjdf25nJeF_glb2qerePeoJyBV1rkqvfWGi4xIHsWdVtsjtuH7KBh7TXauzRzkVdwDG4nPLNO8Hw"}'
    headers:
      Authorization:
      - bearer 722920db1b4f45579353edf459142986
      Content-Type:
      - application/json
      X-Mangopay-Client-[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23182877/wallets
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer 722920db1b4f45579353edf459142986
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MacBook-Pro-MacBook.local 1[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/payins/card/direct
    body:
      encoding: UTF-8
      string: '{"AuthorId":23182877,"CreditedUserId":23182877,"DebitedFunds":{"Currency":"EUR","Amount":4900.0},"Fees":{"Currency":"EUR","Amount":0.0},"CreditedWalletId":"23182878","SecureModeReturnURL":"http://test.com","SecureMode":"DEFAULT","CardId":"23182882"}'
    headers:
      Authorization:
      - bearer 722920db1b4f45579353edf459142986
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MacBook-Pro-MacBook.local 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29
        17:56:20 PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '140'
      - '3569'
      - '50'
      - '80'
      X-Ratelimit-Remaining:
      - '102031'
      - '2250'
      - '4420'
      - '8660'
      X-Ratelimit-Reset:
      - '1490326140'
      - '1490327040'
      - '1490328840'
      - '1490411580'
    body:
      encoding: UTF-8
      string: '{"Id":"23182883","Tag":null,"CreationDate":1490325273,"AuthorId":"23182877","CreditedUserId":"23182877","DebitedFunds":{"Currency":"EUR","Amount":4900},"CreditedFunds":{"Currency":"EUR","Amount":4900},"Fees":{"Currency":"EUR","Amount":0},"Status":"SUCCEEDED","ResultCode":"000000","ResultMessage":"Success","ExecutionDate":1490325275,"Type":"PAYIN","Nature":"REGULAR","CreditedWalletId":"23182878","DebitedWalletId":null,"PaymentType":"CARD","ExecutionType":"DIRECT","SecureMode":"DEFAULT","CardId":"23182882","SecureModeReturnURL":null,"SecureModeRedirectURL":null,"SecureModeNeeded":false,"StatementDescriptor":null}'
  recorded_at: Fri, 24 Mar 2017 03:14:35 GMT
[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/transfers
    body:
      encoding: UTF-8
      string: '{"AuthorId":23182877,"DebitedFunds":{"Currency":"EUR","Amount":2000.0},"Fees":{"Currency":"EUR","Amount":0.0},"DebitedWalletId":"23182878","CreditedWalletId":"23182880"}'
    headers:
      Authorization:
      - bearer 722920db1b4f45579353edf459142986
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"binding[...]
