---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic cXdlcnRlYWNocmFpbHM6eGs0WUpMWnZ5S3N5QWJoN0Q3RlRNUk92ckZ6azQyMWZzRE9pRHhIUHJPNlNVYzBvUnA=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"d9cb9181fb9c4b35a3fb1cd391e8621d","token_type":"bearer","expires_in":1199}'
  recorded_at: Thu, 15 Mar 2018 05:32:03 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"BB","Nationality":"MF","Address":{"AddressLine1":"Vanita
        Fields","AddressLine2":"18884","PostalCode":"CV5 6SR","City":"West Humberto","Region":"Michigan","Country":"VI"},"FirstName":"Refugio","LastName":"Wuckert","Birthday":732132000,"Email":"elsie@franeckirutherford.com","PersonType":"NATURAL","Tag":"user
        3"}'
    headers:
      Authorization:
      - bearer d9cb9181fb9c4b35a3fb1cd391e8621d
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.30.1","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        Ivans-MacBook-Pro.local 16.6.0 Darwin Kernel Version 16.6.0: Fri Apr 14 16:21:16
        PDT 2017; root:xnu-3789.60.24~6/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '1121'
      - '26325'
      - '267'
      - '553'
      X-Ratelimit-Remaining:
      - '2033'
      - '3947'
      - '7679'
      - '79275'
      X-Ratelimit-Reset:
      - '1521092820'
      - '1521093720'
      - '1521095520'
      - '1521178260'
    body:
      encoding: ASCII-8BIT
      string: '{"Address":{"AddressLine1":"Vanita Fields","AddressLine2":"18884","City":"West
        Humberto","Region":"Michigan","PostalCode":"CV5 6SR","Country":"VI"},"FirstName":"Refugio","LastName":"Wuckert","Birthday":732132000,"Nationality":"MF","CountryOfResidence":"BB","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"Capacity":"NORMAL","PersonType":"NATURAL","Email":"elsie@franeckirutherford.com","KYCLevel":"LIGHT","Id":"45088174","Tag":"user
        3","CreationDate":1521091924}'
  recorded_at: Thu, 15 Mar 2018 05:32:04 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[45088174],"Currency":"EUR","Description":"wallet user 3"}'
    headers:
      Authorization:
      - bearer d9cb9181fb9c4b35a3fb1cd391e8621d
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.30.1","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        Ivans-MacBook-Pro.local 16.6.0 Darwin Kernel Version 16.6.0: Fri Apr 14 16:21:16
        PDT 2017; root:xnu-3789.60.24~6/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '1122'
      - '26326'
      - '268'
      - '554'
      X-Ratelimit-Remaining:
      - '2032'
      - '3946'
      - '7678'
      - '79274'
      X-Ratelimit-Reset:
      - '1521092820'
      - '1521093720'
      - '1521095520'
      - '1521178260'
    body:
      encoding: ASCII-8BIT
      string: '{"Description":"wallet user 3","Owners":["45088174"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"45088175","Tag":null,"CreationDate":1521091924}'
  recorded_at: Thu, 15 Mar 2018 05:32:04 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/45088174/cards?active=true&per_page=100&sort=CreationDate:desc
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer d9cb9181fb9c4b35a3fb1cd391e8621d
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.30.1","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        Ivans-MacBook-Pro.local 16.6.0 Darwin Kernel Version 16.6.0: Fri Apr 14 16:21:16
        PDT 2017; root:xnu-3789.60.24~6/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '1125'
      - '26329'
      - '271'
      - '557'
      X-Ratelimit-Remaining:
      - '2029'
      - '3943'
      - '7675'
      - '79271'
      X-Ratelimit-Reset:
      - '1521092820'
      - '1521093720'
      - '1521095520'
      - '1521178260'
      X-Number-Of-Pages:
      - '1'
      X-Number-Of-Items:
      - '0'
      Link:
      - <https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/45088174/cards?sort=CreationDate:desc&per_page=100&active=true&page=1>;
        rel="first",<https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/45088174/cards?sort=CreationDate:desc&per_page=100&active=true&page=1>;
        rel="last"
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 15 Mar 2018 05:32:06 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cardregistrations
    body:
      encoding: UTF-8
      string: '{"UserId":45088174,"Currency":"EUR","CardType":"CB_VISA_MASTERCARD"}'
    headers:
      Authorization:
      - bearer d9cb9181fb9c4b35a3fb1cd391e8621d
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.30.1","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        Ivans-MacBook-Pro.local 16.6.0 Darwin Kernel Version 16.6.0: Fri Apr 14 16:21:16
        PDT 2017; root:xnu-3789.60.24~6/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '1126'
      - '26330'
      - '272'
      - '558'
      X-Ratelimit-Remaining:
      - '2028'
      - '3942'
      - '7674'
      - '79270'
      X-Ratelimit-Reset:
      - '1521092820'
      - '1521093720'
      - '1521095520'
      - '1521178260'
    body:
      encoding: ASCII-8BIT
      string: '{"Id":"45088178","Tag":null,"CreationDate":1521091926,"UserId":"45088174","AccessKey":"1X0m87dmM2LiwFgxPLBJ","PreregistrationData":"fztL6okJyT8dJpVcSz7IN4kdk2d0K9oiZO5VgtK1UzIt7n9fOTLveoLMObG3AcP7S4wCy-yiraxeE65tmxOe8A","RegistrationData":null,"CardId":null,"CardType":"CB_VISA_MASTERCARD","CardRegistrationURL":"https://homologation-webpayment.payline.com/webpayment/getToken","ResultCode":null,"ResultMessage":null,"Currency":"EUR","Status":"CREATED"}'
  recorded_at: Thu, 15 Mar 2018 05:32:06 GMT
- request:
    method: post
    uri: https://homologation-webpayment.payline.com/webpayment/getToken
    body:
      encoding: US-ASCII
      string: accessKeyRef=1X0m87dmM2LiwFgxPLBJ&cardNumber=4706750000000017&cardExpirationDate=1018&cardCvx=131&data=fztL6okJyT8dJpVcSz7IN4kdk2d0K9oiZO5VgtK1UzIt7n9fOTLveoLMObG3AcP7S4wCy-yiraxeE65tmxOe8A
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: '200'
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: data=dAj315t4g0Sq0Zy7Th16sUPhcxPfn0zaUhP_fmqXY8C1L9EsLPQ5-Fc15wlAyPeHvivhbFEs1AbT6Eetmjr6Sxgq9NC-4hvyA60gw197GhyW-nMTsxMPjnJXFOMakAIK_uh-M22NjZ6dU5YsJBBYuA
  recorded_at: Thu, 15 Mar 2018 05:32:07 GMT
- request:
    method: put
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cardregistrations/45088178
    body:
      encoding: UTF-8
      string: '{"RegistrationData":"data=dAj315t4g0Sq0Zy7Th16sUPhcxPfn0zaUhP_fmqXY8C1L9EsLPQ5-Fc15wlAyPeHvivhbFEs1AbT6Eetmjr6Sxgq9NC-4hvyA60gw197GhyW-nMTsxMPjnJXFOMakAIK_uh-M22NjZ6dU5YsJBBYuA"}'
    headers:
      Authorization:
      - bearer d9cb9181fb9c4b35a3fb1cd391e8621d
      Content-Type:
      - application/json
      X-Mangopay-Client-User-[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/45088174/wallets
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer d9cb9181fb9c4b35a3fb1cd391e8621d
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.30.1","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        Ivans-MacBook-Pro.local 1[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/payins/card/direct
    body:
      encoding: UTF-8
      string: '{"AuthorId":45088174,"CreditedUserId":45088174,"DebitedFunds":{"Currency":"EUR","Amount":4900.0},"Fees":{"Currency":"EUR","Amount":0.0},"CreditedWalletId":"45088175","SecureModeReturnURL":"http://test.com","SecureMode":"DEFAULT","CardId":"45088179"}'
    headers:
      Authorization:
      - bearer d9cb9181fb9c4b35a3fb1cd391e8621d
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.30.1","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        Ivans-MacBook-Pro.local 16.6.0 Darwin Kernel Version 16.6.0: Fri Apr 14 16:21:16
        PDT 2017; root:xnu-3789.60.24~6/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '1129'
      - '26333'
      - '275'
      - '561'
      X-Ratelimit-Remaining:
      - '2025'
      - '3939'
      - '7671'
      - '79267'
      X-Ratelimit-Reset:
      - '1521092820'
      - '1521093720'
      - '1521095520'
      - '1521178260'
    body:
      encoding: ASCII-8BIT
      string: '{"Id":"45088180","Tag":null,"CreationDate":1521091928,"AuthorId":"45088174","CreditedUserId":"45088174","DebitedFunds":{"Currency":"EUR","Amount":4900},"CreditedFunds":{"Currency":"EUR","Amount":4900},"Fees":{"Currency":"EUR","Amount":0},"Status":"SUCCEEDED","ResultCode":"000000","ResultMessage":"Success","ExecutionDate":1521091930,"Type":"PAYIN","Nature":"REGULAR","CreditedWalletId":"45088175","DebitedWalletId":null,"PaymentType":"CARD","ExecutionType":"DIRECT","SecureMode":"DEFAULT","CardId":"45088179","SecureModeReturnURL":null,"SecureModeRedirectURL":null,"SecureModeNeeded":false,"Billing":{"Address":{"AddressLine1":null,"AddressLine2":null,"City":null,"Region":null,"PostalCode":null,"Country":null}},"SecurityInfo":{"AVSResult":"NO_CHECK"},"StatementDescriptor":null}'
  recorded_at: Thu, 15 Mar 2018 05:32:10 GMT
[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/transfers
    body:
      encoding: UTF-8
      string: '{"AuthorId":45088174,"DebitedFunds":{"Currency":"EUR","Amount":2000.0},"Fees":{"Currency":"EUR","Amount":0.0},"DebitedWalletId":"45088175","CreditedWalletId":"45088177"}'
    headers:
      Authorization:
      - bearer d9cb9181fb9c4b35a3fb1cd391e8621d
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"binding[...]
