---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic cXdlcnRlYWNocmFpbHM6eGs0WUpMWnZ5S3N5QWJoN0Q3RlRNUk92ckZ6azQyMWZzRE9pRHhIUHJPNlNVYzBvUnA=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"d4ba28cd5ac145f2a6598b436dd5a8ba","token_type":"bearer","expires_in":1199}'
  recorded_at: Thu, 15 Mar 2018 05:16:00 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"GH","Nationality":"GS","Address":{"AddressLine1":"Chasity
        River","AddressLine2":"342","PostalCode":"YK3 5XH","City":"Bernaport","Region":"North
        Carolina","Country":"KY"},"FirstName":"Delia","LastName":"Marks","Birthday":732132000,"Email":"ericka.predovic@daniel.us","PersonType":"NATURAL","Tag":"user
        1"}'
    headers:
      Authorization:
      - bearer d4ba28cd5ac145f2a6598b436dd5a8ba
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.30.1","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        Ivans-MacBook-Pro.local 16.6.0 Darwin Kernel Version 16.6.0: Fri Apr 14 16:21:16
        PDT 2017; root:xnu-3789.60.24~6/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '1152'
      - '26287'
      - '263'
      - '547'
      X-Ratelimit-Remaining:
      - '2037'
      - '3953'
      - '7648'
      - '79313'
      X-Ratelimit-Reset:
      - '1521091860'
      - '1521092760'
      - '1521094560'
      - '1521177300'
    body:
      encoding: ASCII-8BIT
      string: '{"Address":{"AddressLine1":"Chasity River","AddressLine2":"342","City":"Bernaport","Region":"North
        Carolina","PostalCode":"YK3 5XH","Country":"KY"},"FirstName":"Delia","LastName":"Marks","Birthday":732132000,"Nationality":"GS","CountryOfResidence":"GH","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"Capacity":"NORMAL","PersonType":"NATURAL","Email":"ericka.predovic@daniel.us","KYCLevel":"LIGHT","Id":"45087779","Tag":"user
        1","CreationDate":1521090960}'
  recorded_at: Thu, 15 Mar 2018 05:16:01 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[45087779],"Currency":"EUR","Description":"wallet user 1"}'
    headers:
      Authorization:
      - bearer d4ba28cd5ac145f2a6598b436dd5a8ba
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.30.1","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        Ivans-MacBook-Pro.local 16.6.0 Darwin Kernel Version 16.6.0: Fri Apr 14 16:21:16
        PDT 2017; root:xnu-3789.60.24~6/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '1153'
      - '26288'
      - '264'
      - '548'
      X-Ratelimit-Remaining:
      - '2036'
      - '3952'
      - '7647'
      - '79312'
      X-Ratelimit-Reset:
      - '1521091860'
      - '1521092760'
      - '1521094560'
      - '1521177300'
    body:
      encoding: ASCII-8BIT
      string: '{"Description":"wallet user 1","Owners":["45087779"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"45087781","Tag":null,"CreationDate":1521090961}'
  recorded_at: Thu, 15 Mar 2018 05:16:01 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/45087779/cards?active=true&per_page=100&sort=CreationDate:desc
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer d4ba28cd5ac145f2a6598b436dd5a8ba
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.30.1","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        Ivans-MacBook-Pro.local 16.6.0 Darwin Kernel Version 16.6.0: Fri Apr 14 16:21:16
        PDT 2017; root:xnu-3789.60.24~6/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '1156'
      - '26291'
      - '267'
      - '551'
      X-Ratelimit-Remaining:
      - '2033'
      - '3949'
      - '7644'
      - '79309'
      X-Ratelimit-Reset:
      - '1521091860'
      - '1521092760'
      - '1521094560'
      - '1521177300'
      X-Number-Of-Pages:
      - '1'
      X-Number-Of-Items:
      - '0'
      Link:
      - <https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/45087779/cards?sort=CreationDate:desc&per_page=100&active=true&page=1>;
        rel="first",<https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/45087779/cards?sort=CreationDate:desc&per_page=100&active=true&page=1>;
        rel="last"
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Thu, 15 Mar 2018 05:16:03 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cardregistrations
    body:
      encoding: UTF-8
      string: '{"UserId":45087779,"Currency":"EUR","CardType":"CB_VISA_MASTERCARD"}'
    headers:
      Authorization:
      - bearer d4ba28cd5ac145f2a6598b436dd5a8ba
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.30.1","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        Ivans-MacBook-Pro.local 16.6.0 Darwin Kernel Version 16.6.0: Fri Apr 14 16:21:16
        PDT 2017; root:xnu-3789.60.24~6/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '1157'
      - '26292'
      - '268'
      - '552'
      X-Ratelimit-Remaining:
      - '2032'
      - '3948'
      - '7643'
      - '79308'
      X-Ratelimit-Reset:
      - '1521091860'
      - '1521092760'
      - '1521094560'
      - '1521177300'
    body:
      encoding: ASCII-8BIT
      string: '{"Id":"45087790","Tag":null,"CreationDate":1521090963,"UserId":"45087779","AccessKey":"1X0m87dmM2LiwFgxPLBJ","PreregistrationData":"pMUiqKEKexdo_NolxfBziU1ZsDkWRBvZE3nNt8T8SNnlmBq5sqs_-UyUcoakrvxQS4wCy-yiraxeE65tmxOe8A","RegistrationData":null,"CardId":null,"CardType":"CB_VISA_MASTERCARD","CardRegistrationURL":"https://homologation-webpayment.payline.com/webpayment/getToken","ResultCode":null,"ResultMessage":null,"Currency":"EUR","Status":"CREATED"}'
  recorded_at: Thu, 15 Mar 2018 05:16:03 GMT
- request:
    method: post
    uri: https://homologation-webpayment.payline.com/webpayment/getToken
    body:
      encoding: US-ASCII
      string: accessKeyRef=1X0m87dmM2LiwFgxPLBJ&cardNumber=4706750000000017&cardExpirationDate=1018&cardCvx=131&data=pMUiqKEKexdo_NolxfBziU1ZsDkWRBvZE3nNt8T8SNnlmBq5sqs_-UyUcoakrvxQS4wCy-yiraxeE65tmxOe8A
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: '200'
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: data=5RSy5qslgAQ7I5fkw79Lp_Bc8XkCn-24ZR4hB2QlBdVcmxWrVUI9v6ONKzyYNBoNgAIVZ2COYKikwFYlPl2UnSK0Y966D5DcujSDrwlyguR5AXyqBbg2P2UjVeRYmmOv_uh-M22NjZ6dU5YsJBBYuA
  recorded_at: Thu, 15 Mar 2018 05:16:04 GMT
- request:
    method: put
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cardregistrations/45087790
    body:
      encoding: UTF-8
      string: '{"RegistrationData":"data=5RSy5qslgAQ7I5fkw79Lp_Bc8XkCn-24ZR4hB2QlBdVcmxWrVUI9v6ONKzyYNBoNgAIVZ2COYKikwFYlPl2UnSK0Y966D5DcujSDrwlyguR5AXyqBbg2P2UjVeRYmmOv_uh-M22NjZ6dU5YsJBBYuA"}'
    headers:
      Authorization:
      - bearer d4ba28cd5ac145f2a6598b436dd5a8ba
      Content-Type:
      - application/json
      X-Mangopay-Client-User-[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/45087779/wallets
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer d4ba28cd5ac145f2a6598b436dd5a8ba
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.30.1","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        Ivans-MacBook-Pro.local 1[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/payins/card/direct
    body:
      encoding: UTF-8
      string: '{"AuthorId":45087779,"CreditedUserId":45087779,"DebitedFunds":{"Currency":"EUR","Amount":4900.0},"Fees":{"Currency":"EUR","Amount":0.0},"CreditedWalletId":"45087781","SecureModeReturnURL":"http://test.com","SecureMode":"DEFAULT","CardId":"45087864"}'
    headers:
      Authorization:
      - bearer d4ba28cd5ac145f2a6598b436dd5a8ba
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.30.1","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        Ivans-MacBook-Pro.local 16.6.0 Darwin Kernel Version 16.6.0: Fri Apr 14 16:21:16
        PDT 2017; root:xnu-3789.60.24~6/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '1175'
      - '26313'
      - '289'
      - '573'
      X-Ratelimit-Remaining:
      - '2011'
      - '3927'
      - '7625'
      - '79287'
      X-Ratelimit-Reset:
      - '1521092040'
      - '1521092940'
      - '1521094740'
      - '1521177480'
    body:
      encoding: ASCII-8BIT
      string: '{"Id":"45087865","Tag":null,"CreationDate":1521091191,"AuthorId":"45087779","CreditedUserId":"45087779","DebitedFunds":{"Currency":"EUR","Amount":4900},"CreditedFunds":{"Currency":"EUR","Amount":4900},"Fees":{"Currency":"EUR","Amount":0},"Status":"SUCCEEDED","ResultCode":"000000","ResultMessage":"Success","ExecutionDate":1521091192,"Type":"PAYIN","Nature":"REGULAR","CreditedWalletId":"45087781","DebitedWalletId":null,"PaymentType":"CARD","ExecutionType":"DIRECT","SecureMode":"DEFAULT","CardId":"45087864","SecureModeReturnURL":null,"SecureModeRedirectURL":null,"SecureModeNeeded":false,"Billing":{"Address":{"AddressLine1":null,"AddressLine2":null,"City":null,"Region":null,"PostalCode":null,"Country":null}},"SecurityInfo":{"AVSResult":"NO_CHECK"},"StatementDescriptor":null}'
  recorded_at: Thu, 15 Mar 2018 05:19:53 GMT
[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/transfers
    body:
      encoding: UTF-8
      string: '{"AuthorId":45087779,"DebitedFunds":{"Currency":"EUR","Amount":2000.0},"Fees":{"Currency":"EUR","Amount":0.0},"DebitedWalletId":"45087781","CreditedWalletId":"45087783"}'
    headers:
      Authorization:
      - bearer d4ba28cd5ac145f2a6598b436dd5a8ba
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"binding[...]
