---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic cXdlcnRlYWNocmFpbHM6eGs0WUpMWnZ5S3N5QWJoN0Q3RlRNUk92ckZ6azQyMWZzRE9pRHhIUHJPNlNVYzBvUnA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"ffdf0ae5827b44e0a8167dd84ab98a98","token_type":"bearer","expires_in":1199}'
  recorded_at: Wed, 28 Jun 2017 04:18:25 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"GD","Nationality":"AR","Address":{"AddressLine1":"Ben
        Meadows","AddressLine2":"125","PostalCode":"OC73 0YM","City":"Reillychester","Region":"Missouri","Country":"GU"},"FirstName":"Donald","LastName":"Nienow","Birthday":709660800,"Email":"celine_bechtelar@kuhlman.biz","PersonType":"NATURAL","Tag":"user
        5"}'
    headers:
      Authorization:
      - bearer ffdf0ae5827b44e0a8167dd84ab98a98
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MacBook-Pro-MacBook.local 16.5.0 Darwin Kernel Version 16.5.0: Fri Mar  3
        16:52:33 PST 2017; root:xnu-3789.51.2~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '147'
      - '179'
      - '297'
      - '576'
      X-Ratelimit-Remaining:
      - '105024'
      - '2153'
      - '4321'
      - '8503'
      X-Ratelimit-Reset:
      - '1498624380'
      - '1498625280'
      - '1498627080'
      - '1498709820'
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Ben Meadows","AddressLine2":"125","City":"Reillychester","Region":"Missouri","PostalCode":"OC73
        0YM","Country":"GU"},"FirstName":"Donald","LastName":"Nienow","Birthday":709660800,"Nationality":"AR","CountryOfResidence":"GD","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"Capacity":"NORMAL","PersonType":"NATURAL","Email":"celine_bechtelar@kuhlman.biz","KYCLevel":"LIGHT","Id":"28327162","Tag":"user
        5","CreationDate":1498623505}'
  recorded_at: Wed, 28 Jun 2017 04:18:26 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[28327162],"Currency":"EUR","Description":"wallet user 5"}'
    headers:
      Authorization:
      - bearer ffdf0ae5827b44e0a8167dd84ab98a98
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MacBook-Pro-MacBook.local 16.5.0 Darwin Kernel Version 16.5.0: Fri Mar  3
        16:52:33 PST 2017; root:xnu-3789.51.2~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '148'
      - '180'
      - '298'
      - '577'
      X-Ratelimit-Remaining:
      - '105023'
      - '2152'
      - '4320'
      - '8502'
      X-Ratelimit-Reset:
      - '1498624380'
      - '1498625280'
      - '1498627080'
      - '1498709820'
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 5","Owners":["28327162"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"28327163","Tag":null,"CreationDate":1498623506}'
  recorded_at: Wed, 28 Jun 2017 04:18:26 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/28327162/cards?per_page=100&sort=CreationDate:desc
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer ffdf0ae5827b44e0a8167dd84ab98a98
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MacBook-Pro-MacBook.local 16.5.0 Darwin Kernel Version 16.5.0: Fri Mar  3
        16:52:33 PST 2017; root:xnu-3789.51.2~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/28327162/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="first",<https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/28327162/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="last"
      X-Number-Of-Pages:
      - '1'
      X-Number-Of-Items:
      - '0'
      X-Ratelimit:
      - '151'
      - '183'
      - '301'
      - '580'
      X-Ratelimit-Remaining:
      - '105020'
      - '2149'
      - '4317'
      - '8499'
      X-Ratelimit-Reset:
      - '1498624380'
      - '1498625280'
      - '1498627080'
      - '1498709820'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 28 Jun 2017 04:18:28 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cardregistrations
    body:
      encoding: UTF-8
      string: '{"UserId":28327162,"Currency":"EUR","CardType":"CB_VISA_MASTERCARD"}'
    headers:
      Authorization:
      - bearer ffdf0ae5827b44e0a8167dd84ab98a98
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MacBook-Pro-MacBook.local 16.5.0 Darwin Kernel Version 16.5.0: Fri Mar  3
        16:52:33 PST 2017; root:xnu-3789.51.2~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '152'
      - '184'
      - '302'
      - '581'
      X-Ratelimit-Remaining:
      - '105019'
      - '2148'
      - '4316'
      - '8498'
      X-Ratelimit-Reset:
      - '1498624380'
      - '1498625280'
      - '1498627080'
      - '1498709820'
    body:
      encoding: UTF-8
      string: '{"Id":"28327166","Tag":null,"CreationDate":1498623508,"UserId":"28327162","AccessKey":"1X0m87dmM2LiwFgxPLBJ","PreregistrationData":"dtxlzFRSvUcdNkJimn-i_CqY-EQ-2vsI-GmcOzd69etX7gkV-FGUi7s0-oLAlK5GS4wCy-yiraxeE65tmxOe8A","RegistrationData":null,"CardId":null,"CardType":"CB_VISA_MASTERCARD","CardRegistrationURL":"https://homologation-webpayment.payline.com/webpayment/getToken","ResultCode":null,"ResultMessage":null,"Currency":"EUR","Status":"CREATED"}'
  recorded_at: Wed, 28 Jun 2017 04:18:28 GMT
- request:
    method: post
    uri: https://homologation-webpayment.payline.com/webpayment/getToken
    body:
      encoding: US-ASCII
      string: accessKeyRef=1X0m87dmM2LiwFgxPLBJ&cardNumber=3569990000000132&cardExpirationDate=1017&cardCvx=131&data=dtxlzFRSvUcdNkJimn-i_CqY-EQ-2vsI-GmcOzd69etX7gkV-FGUi7s0-oLAlK5GS4wCy-yiraxeE65tmxOe8A
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: data=G28TBKICKxArLDF4Q7_NN6H36QW8xqm1bUbCscZHee2dBE5-Deyf_u86WxoaufjlNIOW8vCmU0QoMw6ZIhoA5t8NkXYkv2_Z4Z328bmg8dLDisy3ij3vrCwJgdA5aRyfy8UpLfwZkSQshcwZQVs4tg
  recorded_at: Wed, 28 Jun 2017 04:18:29 GMT
- request:
    method: put
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cardregistrations/28327166
    body:
      encoding: UTF-8
      string: '{"RegistrationData":"data=data=G28TBKICKxArLDF4Q7_NN6H36QW8xqm1bUbCscZHee2dBE5-Deyf_u86WxoaufjlNIOW8vCmU0QoMw6ZIhoA5t8NkXYkv2_Z4Z328bmg8dLDisy3ij3vrCwJgdA5aRyfy8UpLfwZkSQshcwZQVs4tg"}'
    headers:
      Authorization:
      - bearer ffdf0ae5827b44e0a8167dd84ab98a98
      Content-Type:
      - application/json
      X-Mangopay-Client-[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/28327162/wallets
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer ffdf0ae5827b44e0a8167dd84ab98a98
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MacBook-Pro-MacBook.local 1[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/payins/card/direct
    body:
      encoding: UTF-8
      string: '{"AuthorId":28327162,"CreditedUserId":28327162,"DebitedFunds":{"Currency":"EUR","Amount":4500.0},"Fees":{"Currency":"EUR","Amount":0.0},"CreditedWalletId":"28327163","SecureModeReturnURL":"http://test.com","SecureMode":"DEFAULT","CardId":"28327167"}'
    headers:
      Authorization:
      - bearer ffdf0ae5827b44e0a8167dd84ab98a98
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MacBook-Pro-MacBook.local 16.5.0 Darwin Kernel Version 16.5.0: Fri Mar  3
        16:52:33 PST 2017; root:xnu-3789.51.2~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '155'
      - '187'
      - '305'
      - '584'
      X-Ratelimit-Remaining:
      - '105016'
      - '2145'
      - '4313'
      - '8495'
      X-Ratelimit-Reset:
      - '1498624380'
      - '1498625280'
      - '1498627080'
      - '1498709820'
    body:
      encoding: UTF-8
      string: '{"Id":"28327168","Tag":null,"CreationDate":1498623510,"AuthorId":"28327162","CreditedUserId":"28327162","DebitedFunds":{"Currency":"EUR","Amount":4500},"CreditedFunds":{"Currency":"EUR","Amount":4500},"Fees":{"Currency":"EUR","Amount":0},"Status":"SUCCEEDED","ResultCode":"000000","ResultMessage":"Success","ExecutionDate":1498623512,"Type":"PAYIN","Nature":"REGULAR","CreditedWalletId":"28327163","DebitedWalletId":null,"PaymentType":"CARD","ExecutionType":"DIRECT","SecureMode":"DEFAULT","CardId":"28327167","SecureModeReturnURL":null,"SecureModeRedirectURL":null,"SecureModeNeeded":false,"StatementDescriptor":null}'
  recorded_at: Wed, 28 Jun 2017 04:18:32 GMT
[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/transfers
    body:
      encoding: UTF-8
      string: '{"AuthorId":28327162,"DebitedFunds":{"Currency":"EUR","Amount":3000.0},"Fees":{"Currency":"EUR","Amount":0.0},"DebitedWalletId":"28327163","CreditedWalletId":"28327165"}'
    headers:
      Authorization:
      - bearer ffdf0ae5827b44e0a8167dd84ab98a98
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"binding[...]
[...]
