---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic cXdlcnRlYWNocmFpbHM6eGs0WUpMWnZ5S3N5QWJoN0Q3RlRNUk92ckZ6azQyMWZzRE9pRHhIUHJPNlNVYzBvUnA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"b081e39ec99b446a8f9116320e53f684","token_type":"bearer","expires_in":1199}'
  recorded_at: Wed, 28 Jun 2017 04:18:41 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"IN","Nationality":"WF","Address":{"AddressLine1":"Samara
        Junctions","AddressLine2":"398","PostalCode":"QB44 9BP","City":"Lake Delenachester","Region":"Alabama","Country":"MV"},"FirstName":"Linwood","LastName":"Prosacco","Birthday":709660800,"Email":"gwenn.bernier@murazikrogahn.ca","PersonType":"NATURAL","Tag":"user
        5"}'
    headers:
      Authorization:
      - bearer b081e39ec99b446a8f9116320e53f684
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MacBook-Pro-MacBook.local 16.5.0 Darwin Kernel Version 16.5.0: Fri Mar  3
        16:52:33 PST 2017; root:xnu-3789.51.2~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '168'
      - '200'
      - '318'
      - '597'
      X-Ratelimit-Remaining:
      - '105003'
      - '2132'
      - '4300'
      - '8482'
      X-Ratelimit-Reset:
      - '1498624380'
      - '1498625280'
      - '1498627080'
      - '1498709820'
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Samara Junctions","AddressLine2":"398","City":"Lake
        Delenachester","Region":"Alabama","PostalCode":"QB44 9BP","Country":"MV"},"FirstName":"Linwood","LastName":"Prosacco","Birthday":709660800,"Nationality":"WF","CountryOfResidence":"IN","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"Capacity":"NORMAL","PersonType":"NATURAL","Email":"gwenn.bernier@murazikrogahn.ca","KYCLevel":"LIGHT","Id":"28327180","Tag":"user
        5","CreationDate":1498623521}'
  recorded_at: Wed, 28 Jun 2017 04:18:41 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[28327180],"Currency":"EUR","Description":"wallet user 5"}'
    headers:
      Authorization:
      - bearer b081e39ec99b446a8f9116320e53f684
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MacBook-Pro-MacBook.local 16.5.0 Darwin Kernel Version 16.5.0: Fri Mar  3
        16:52:33 PST 2017; root:xnu-3789.51.2~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '169'
      - '201'
      - '319'
      - '598'
      X-Ratelimit-Remaining:
      - '105002'
      - '2131'
      - '4299'
      - '8481'
      X-Ratelimit-Reset:
      - '1498624380'
      - '1498625280'
      - '1498627080'
      - '1498709820'
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 5","Owners":["28327180"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"28327181","Tag":null,"CreationDate":1498623522}'
  recorded_at: Wed, 28 Jun 2017 04:18:42 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/28327180/cards?per_page=100&sort=CreationDate:desc
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer b081e39ec99b446a8f9116320e53f684
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MacBook-Pro-MacBook.local 16.5.0 Darwin Kernel Version 16.5.0: Fri Mar  3
        16:52:33 PST 2017; root:xnu-3789.51.2~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/28327180/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="first",<https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/28327180/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="last"
      X-Number-Of-Pages:
      - '1'
      X-Number-Of-Items:
      - '0'
      X-Ratelimit:
      - '172'
      - '204'
      - '322'
      - '601'
      X-Ratelimit-Remaining:
      - '104999'
      - '2128'
      - '4296'
      - '8478'
      X-Ratelimit-Reset:
      - '1498624380'
      - '1498625280'
      - '1498627080'
      - '1498709820'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 28 Jun 2017 04:18:43 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cardregistrations
    body:
      encoding: UTF-8
      string: '{"UserId":28327180,"Currency":"EUR","CardType":"CB_VISA_MASTERCARD"}'
    headers:
      Authorization:
      - bearer b081e39ec99b446a8f9116320e53f684
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MacBook-Pro-MacBook.local 16.5.0 Darwin Kernel Version 16.5.0: Fri Mar  3
        16:52:33 PST 2017; root:xnu-3789.51.2~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '173'
      - '205'
      - '323'
      - '602'
      X-Ratelimit-Remaining:
      - '104998'
      - '2127'
      - '4295'
      - '8477'
      X-Ratelimit-Reset:
      - '1498624380'
      - '1498625280'
      - '1498627080'
      - '1498709820'
    body:
      encoding: UTF-8
      string: '{"Id":"28327184","Tag":null,"CreationDate":1498623524,"UserId":"28327180","AccessKey":"1X0m87dmM2LiwFgxPLBJ","PreregistrationData":"ObMObfSdwRfyE4QClGtUc-i1SwQhsz_r7OpUhdZ_nBVaGUxunrAhN1KsmrVV5o7sS4wCy-yiraxeE65tmxOe8A","RegistrationData":null,"CardId":null,"CardType":"CB_VISA_MASTERCARD","CardRegistrationURL":"https://homologation-webpayment.payline.com/webpayment/getToken","ResultCode":null,"ResultMessage":null,"Currency":"EUR","Status":"CREATED"}'
  recorded_at: Wed, 28 Jun 2017 04:18:44 GMT
- request:
    method: post
    uri: https://homologation-webpayment.payline.com/webpayment/getToken
    body:
      encoding: US-ASCII
      string: accessKeyRef=1X0m87dmM2LiwFgxPLBJ&cardNumber=3569990000000132&cardExpirationDate=1017&cardCvx=131&data=ObMObfSdwRfyE4QClGtUc-i1SwQhsz_r7OpUhdZ_nBVaGUxunrAhN1KsmrVV5o7sS4wCy-yiraxeE65tmxOe8A
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: data=VLTIjgpf1ag15dmwRyhmOQHpL7xnzDtVwp2AEaPUg_GTzOH4Rwx3CU3riRJmaWDOQP3niOxsrmi0zOk58OGleD2oikZ_kAz6cVogu-x17oR7Gs453fOP_1ak_JIvyT5c62dyw02vFAL1pXe9nn2uYQ
  recorded_at: Wed, 28 Jun 2017 04:18:45 GMT
- request:
    method: put
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cardregistrations/28327184
    body:
      encoding: UTF-8
      string: '{"RegistrationData":"data=data=VLTIjgpf1ag15dmwRyhmOQHpL7xnzDtVwp2AEaPUg_GTzOH4Rwx3CU3riRJmaWDOQP3niOxsrmi0zOk58OGleD2oikZ_kAz6cVogu-x17oR7Gs453fOP_1ak_JIvyT5c62dyw02vFAL1pXe9nn2uYQ"}'
    headers:
      Authorization:
      - bearer b081e39ec99b446a8f9116320e53f684
      Content-Type:
      - application/json
      X-Mangopay-Client-[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/28327180/wallets
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer b081e39ec99b446a8f9116320e53f684
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MacBook-Pro-MacBook.local 1[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/payins/card/direct
    body:
      encoding: UTF-8
      string: '{"AuthorId":28327180,"CreditedUserId":28327180,"DebitedFunds":{"Currency":"EUR","Amount":4500.0},"Fees":{"Currency":"EUR","Amount":0.0},"CreditedWalletId":"28327181","SecureModeReturnURL":"http://test.com","SecureMode":"DEFAULT","CardId":"28327185"}'
    headers:
      Authorization:
      - bearer b081e39ec99b446a8f9116320e53f684
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MacBook-Pro-MacBook.local 16.5.0 Darwin Kernel Version 16.5.0: Fri Mar  3
        16:52:33 PST 2017; root:xnu-3789.51.2~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '176'
      - '208'
      - '326'
      - '605'
      X-Ratelimit-Remaining:
      - '104995'
      - '2124'
      - '4292'
      - '8474'
      X-Ratelimit-Reset:
      - '1498624380'
      - '1498625280'
      - '1498627080'
      - '1498709820'
    body:
      encoding: UTF-8
      string: '{"Id":"28327186","Tag":null,"CreationDate":1498623526,"AuthorId":"28327180","CreditedUserId":"28327180","DebitedFunds":{"Currency":"EUR","Amount":4500},"CreditedFunds":{"Currency":"EUR","Amount":4500},"Fees":{"Currency":"EUR","Amount":0},"Status":"SUCCEEDED","ResultCode":"000000","ResultMessage":"Success","ExecutionDate":1498623527,"Type":"PAYIN","Nature":"REGULAR","CreditedWalletId":"28327181","DebitedWalletId":null,"PaymentType":"CARD","ExecutionType":"DIRECT","SecureMode":"DEFAULT","CardId":"28327185","SecureModeReturnURL":null,"SecureModeRedirectURL":null,"SecureModeNeeded":false,"StatementDescriptor":null}'
  recorded_at: Wed, 28 Jun 2017 04:18:48 GMT
[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/transfers
    body:
      encoding: UTF-8
      string: '{"AuthorId":28327180,"DebitedFunds":{"Currency":"EUR","Amount":3000.0},"Fees":{"Currency":"EUR","Amount":0.0},"DebitedWalletId":"28327181","CreditedWalletId":"28327183"}'
    headers:
      Authorization:
      - bearer b081e39ec99b446a8f9116320e53f684
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"binding[...]
[...]
