---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic cXdlcnRlYWNocmFpbHM6eGs0WUpMWnZ5S3N5QWJoN0Q3RlRNUk92ckZ6azQyMWZzRE9pRHhIUHJPNlNVYzBvUnA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"65fe242236fe409c9685917d47a15d04","token_type":"bearer","expires_in":1199}'
  recorded_at: Wed, 22 Mar 2017 20:09:26 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"CC","Nationality":"IE","Address":{"AddressLine1":"Mueller
        Parkways","AddressLine2":"272","PostalCode":"EO50 2FU","City":"Prosaccoside","Region":"Utah","Country":"VC"},"FirstName":"Sharri","LastName":"Pouros","Birthday":701197200,"Email":"eddie_stokes@gislason.name","PersonType":"NATURAL","Tag":"user
        5"}'
    headers:
      Authorization:
      - bearer 65fe242236fe409c9685917d47a15d04
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '121'
      - '203'
      - '3882'
      - '80'
      X-Ratelimit-Remaining:
      - '101718'
      - '2220'
      - '4379'
      - '8597'
      X-Ratelimit-Reset:
      - '1490214240'
      - '1490215140'
      - '1490216940'
      - '1490299680'
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Mueller Parkways","AddressLine2":"272","City":"Prosaccoside","Region":"Utah","PostalCode":"EO50
        2FU","Country":"VC"},"FirstName":"Sharri","LastName":"Pouros","Birthday":701197200,"Nationality":"IE","CountryOfResidence":"CC","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"PersonType":"NATURAL","Email":"eddie_stokes@gislason.name","KYCLevel":"LIGHT","Id":"23105787","Tag":"user
        5","CreationDate":1490213362}'
  recorded_at: Wed, 22 Mar 2017 20:09:27 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[23105787],"Currency":"EUR","Description":"wallet user 5"}'
    headers:
      Authorization:
      - bearer 65fe242236fe409c9685917d47a15d04
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '122'
      - '204'
      - '3883'
      - '81'
      X-Ratelimit-Remaining:
      - '101717'
      - '2219'
      - '4378'
      - '8596'
      X-Ratelimit-Reset:
      - '1490214240'
      - '1490215140'
      - '1490216940'
      - '1490299680'
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 5","Owners":["23105787"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"23105790","Tag":null,"CreationDate":1490213363}'
  recorded_at: Wed, 22 Mar 2017 20:09:28 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23105787/cards?per_page=100&sort=CreationDate:desc
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer 65fe242236fe409c9685917d47a15d04
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23105787/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="first",<https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23105787/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="last"
      X-Number-Of-Pages:
      - '1'
      X-Number-Of-Items:
      - '0'
      X-Ratelimit:
      - '125'
      - '207'
      - '3886'
      - '84'
      X-Ratelimit-Remaining:
      - '101714'
      - '2216'
      - '4375'
      - '8593'
      X-Ratelimit-Reset:
      - '1490214240'
      - '1490215140'
      - '1490216940'
      - '1490299680'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 22 Mar 2017 20:09:30 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cardregistrations
    body:
      encoding: UTF-8
      string: '{"UserId":23105787,"Currency":"EUR","CardType":"CB_VISA_MASTERCARD"}'
    headers:
      Authorization:
      - bearer 65fe242236fe409c9685917d47a15d04
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '126'
      - '208'
      - '3887'
      - '85'
      X-Ratelimit-Remaining:
      - '101713'
      - '2215'
      - '4374'
      - '8592'
      X-Ratelimit-Reset:
      - '1490214240'
      - '1490215140'
      - '1490216940'
      - '1490299680'
    body:
      encoding: UTF-8
      string: '{"Id":"23105793","Tag":null,"CreationDate":1490213365,"UserId":"23105787","AccessKey":"1X0m87dmM2LiwFgxPLBJ","PreregistrationData":"kQPPb_p6QpYPvI1-YUyRdDQ8mVqPAyVrhb7P7R49HqPOhfPqNmWuguTOBWDhNsC-S4wCy-yiraxeE65tmxOe8A","RegistrationData":null,"CardId":null,"CardType":"CB_VISA_MASTERCARD","CardRegistrationURL":"https://homologation-webpayment.payline.com/webpayment/getToken","ResultCode":null,"ResultMessage":null,"Currency":"EUR","Status":"CREATED"}'
  recorded_at: Wed, 22 Mar 2017 20:09:30 GMT
- request:
    method: post
    uri: https://homologation-webpayment.payline.com/webpayment/getToken
    body:
      encoding: US-ASCII
      string: accessKeyRef=1X0m87dmM2LiwFgxPLBJ&cardNumber=3569990000000132&cardExpirationDate=1017&cardCvx=131&data=kQPPb_p6QpYPvI1-YUyRdDQ8mVqPAyVrhb7P7R49HqPOhfPqNmWuguTOBWDhNsC-S4wCy-yiraxeE65tmxOe8A
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: data=VLTIjgpf1ag15dmwRyhmOYy87g2IFVc7POvhovPU-T4LO_1ExqidXzbqLalL5hYVNx6C7DAJOWXwXtMdzmnopXNp3iMIksISxyQd5dVsAoI0TgZYhA-Zh4soHlQAGwYmWmwkojapaZElOquFBmjuGg
  recorded_at: Wed, 22 Mar 2017 20:09:32 GMT
- request:
    method: put
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cardregistrations/23105793
    body:
      encoding: UTF-8
      string: '{"RegistrationData":"data=data=VLTIjgpf1ag15dmwRyhmOYy87g2IFVc7POvhovPU-T4LO_1ExqidXzbqLalL5hYVNx6C7DAJOWXwXtMdzmnopXNp3iMIksISxyQd5dVsAoI0TgZYhA-Zh4soHlQAGwYmWmwkojapaZElOquFBmjuGg"}'
    headers:
      Authorization:
      - bearer 65fe242236fe409c9685917d47a15d04
      Content-Type:
      - application/json
      X-Mangopay-Client-[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23105787/wallets
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer 65fe242236fe409c9685917d47a15d04
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Da[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/payins/card/direct
    body:
      encoding: UTF-8
      string: '{"AuthorId":23105787,"CreditedUserId":23105787,"DebitedFunds":{"Currency":"EUR","Amount":4500.0},"Fees":{"Currency":"EUR","Amount":0.0},"CreditedWalletId":"23105790","SecureModeReturnURL":"http://test.com","SecureMode":"DEFAULT","CardId":"23105796"}'
    headers:
      Authorization:
      - bearer 65fe242236fe409c9685917d47a15d04
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '129'
      - '211'
      - '3890'
      - '88'
      X-Ratelimit-Remaining:
      - '101710'
      - '2212'
      - '4371'
      - '8589'
      X-Ratelimit-Reset:
      - '1490214240'
      - '1490215140'
      - '1490216940'
      - '1490299680'
    body:
      encoding: UTF-8
      string: '{"Id":"23105797","Tag":null,"CreationDate":1490213369,"AuthorId":"23105787","CreditedUserId":"23105787","DebitedFunds":{"Currency":"EUR","Amount":4500},"CreditedFunds":{"Currency":"EUR","Amount":4500},"Fees":{"Currency":"EUR","Amount":0},"Status":"SUCCEEDED","ResultCode":"000000","ResultMessage":"Success","ExecutionDate":1490213370,"Type":"PAYIN","Nature":"REGULAR","CreditedWalletId":"23105790","DebitedWalletId":null,"PaymentType":"CARD","ExecutionType":"DIRECT","SecureMode":"DEFAULT","CardId":"23105796","SecureModeReturnURL":null,"SecureModeRedirectURL":null,"SecureModeNeeded":false,"StatementDescriptor":null}'
  recorded_at: Wed, 22 Mar 2017 20:09:35 GMT
[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/transfers
    body:
      encoding: UTF-8
      string: '{"AuthorId":23105787,"DebitedFunds":{"Currency":"EUR","Amount":2000.0},"Fees":{"Currency":"EUR","Amount":0.0},"DebitedWalletId":"23105790","CreditedWalletId":"23105792"}'
    headers:
      Authorization:
      - bearer 65fe242236fe409c9685917d47a15d04
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"binding[...]
[...]
