---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic cXdlcnRlYWNocmFpbHM6eGs0WUpMWnZ5S3N5QWJoN0Q3RlRNUk92ckZ6azQyMWZzRE9pRHhIUHJPNlNVYzBvUnA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"fa9f93fcdc814dc98ef8712acec37b4a","token_type":"bearer","expires_in":1199}'
  recorded_at: Wed, 22 Mar 2017 20:09:50 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"CR","Nationality":"GL","Address":{"AddressLine1":"Mike
        Pine","AddressLine2":"348","PostalCode":"KB3 1ZB","City":"Armstrongside","Region":"Rhode
        Island","Country":"GY"},"FirstName":"Abel","LastName":"Schmidt","Birthday":701197200,"Email":"grover@stammharris.info","PersonType":"NATURAL","Tag":"user
        5"}'
    headers:
      Authorization:
      - bearer fa9f93fcdc814dc98ef8712acec37b4a
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '133'
      - '215'
      - '3894'
      - '92'
      X-Ratelimit-Remaining:
      - '101706'
      - '2208'
      - '4367'
      - '8585'
      X-Ratelimit-Reset:
      - '1490214240'
      - '1490215140'
      - '1490216940'
      - '1490299680'
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Mike Pine","AddressLine2":"348","City":"Armstrongside","Region":"Rhode
        Island","PostalCode":"KB3 1ZB","Country":"GY"},"FirstName":"Abel","LastName":"Schmidt","Birthday":701197200,"Nationality":"GL","CountryOfResidence":"CR","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"PersonType":"NATURAL","Email":"grover@stammharris.info","KYCLevel":"LIGHT","Id":"23105807","Tag":"user
        5","CreationDate":1490213385}'
  recorded_at: Wed, 22 Mar 2017 20:09:51 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[23105807],"Currency":"EUR","Description":"wallet user 5"}'
    headers:
      Authorization:
      - bearer fa9f93fcdc814dc98ef8712acec37b4a
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '134'
      - '216'
      - '3895'
      - '93'
      X-Ratelimit-Remaining:
      - '101705'
      - '2207'
      - '4366'
      - '8584'
      X-Ratelimit-Reset:
      - '1490214240'
      - '1490215140'
      - '1490216940'
      - '1490299680'
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 5","Owners":["23105807"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"23105808","Tag":null,"CreationDate":1490213386}'
  recorded_at: Wed, 22 Mar 2017 20:09:51 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23105807/cards?per_page=100&sort=CreationDate:desc
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer fa9f93fcdc814dc98ef8712acec37b4a
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23105807/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="first",<https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23105807/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="last"
      X-Number-Of-Pages:
      - '1'
      X-Number-Of-Items:
      - '0'
      X-Ratelimit:
      - '137'
      - '219'
      - '3898'
      - '96'
      X-Ratelimit-Remaining:
      - '101702'
      - '2204'
      - '4363'
      - '8581'
      X-Ratelimit-Reset:
      - '1490214240'
      - '1490215140'
      - '1490216940'
      - '1490299680'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 22 Mar 2017 20:09:54 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cardregistrations
    body:
      encoding: UTF-8
      string: '{"UserId":23105807,"Currency":"EUR","CardType":"CB_VISA_MASTERCARD"}'
    headers:
      Authorization:
      - bearer fa9f93fcdc814dc98ef8712acec37b4a
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '138'
      - '220'
      - '3899'
      - '97'
      X-Ratelimit-Remaining:
      - '101701'
      - '2203'
      - '4362'
      - '8580'
      X-Ratelimit-Reset:
      - '1490214240'
      - '1490215140'
      - '1490216940'
      - '1490299680'
    body:
      encoding: UTF-8
      string: '{"Id":"23105815","Tag":null,"CreationDate":1490213389,"UserId":"23105807","AccessKey":"1X0m87dmM2LiwFgxPLBJ","PreregistrationData":"HBalUf7sKsj1NiktfVS7-0f1MgXZduErdxAG3oFZ1OFs0R61t9bBX1veQVw-CVEnS4wCy-yiraxeE65tmxOe8A","RegistrationData":null,"CardId":null,"CardType":"CB_VISA_MASTERCARD","CardRegistrationURL":"https://homologation-webpayment.payline.com/webpayment/getToken","ResultCode":null,"ResultMessage":null,"Currency":"EUR","Status":"CREATED"}'
  recorded_at: Wed, 22 Mar 2017 20:09:54 GMT
- request:
    method: post
    uri: https://homologation-webpayment.payline.com/webpayment/getToken
    body:
      encoding: US-ASCII
      string: accessKeyRef=1X0m87dmM2LiwFgxPLBJ&cardNumber=3569990000000132&cardExpirationDate=1017&cardCvx=131&data=HBalUf7sKsj1NiktfVS7-0f1MgXZduErdxAG3oFZ1OFs0R61t9bBX1veQVw-CVEnS4wCy-yiraxeE65tmxOe8A
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: data=h_vedXouHHyTkPJNolkKQMxWW43uVX3XxTtjy-3Wv-8Jw6a6mDlD4PCVYS01dqFvge9gLi4GUsQqdfi2zWWY8H4n4NA3gdPVKtXfIVduuJwxI8pI4HFyjKMBxRw4FBs5STioyPQ1isb1ZswnMpNiUA
  recorded_at: Wed, 22 Mar 2017 20:09:56 GMT
- request:
    method: put
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cardregistrations/23105815
    body:
      encoding: UTF-8
      string: '{"RegistrationData":"data=data=h_vedXouHHyTkPJNolkKQMxWW43uVX3XxTtjy-3Wv-8Jw6a6mDlD4PCVYS01dqFvge9gLi4GUsQqdfi2zWWY8H4n4NA3gdPVKtXfIVduuJwxI8pI4HFyjKMBxRw4FBs5STioyPQ1isb1ZswnMpNiUA"}'
    headers:
      Authorization:
      - bearer fa9f93fcdc814dc98ef8712acec37b4a
      Content-Type:
      - application/json
      X-Mangopay-Client-[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23105807/wallets
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer fa9f93fcdc814dc98ef8712acec37b4a
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Da[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/payins/card/direct
    body:
      encoding: UTF-8
      string: '{"AuthorId":23105807,"CreditedUserId":23105807,"DebitedFunds":{"Currency":"EUR","Amount":4500.0},"Fees":{"Currency":"EUR","Amount":0.0},"CreditedWalletId":"23105809","SecureModeReturnURL":"http://test.com","SecureMode":"DEFAULT","CardId":"23105816"}'
    headers:
      Authorization:
      - bearer fa9f93fcdc814dc98ef8712acec37b4a
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '100'
      - '141'
      - '223'
      - '3902'
      X-Ratelimit-Remaining:
      - '101698'
      - '2200'
      - '4359'
      - '8577'
      X-Ratelimit-Reset:
      - '1490214240'
      - '1490215140'
      - '1490216940'
      - '1490299680'
    body:
      encoding: UTF-8
      string: '{"Id":"23105817","Tag":null,"CreationDate":1490213393,"AuthorId":"23105807","CreditedUserId":"23105807","DebitedFunds":{"Currency":"EUR","Amount":4500},"CreditedFunds":{"Currency":"EUR","Amount":4500},"Fees":{"Currency":"EUR","Amount":0},"Status":"SUCCEEDED","ResultCode":"000000","ResultMessage":"Success","ExecutionDate":1490213394,"Type":"PAYIN","Nature":"REGULAR","CreditedWalletId":"23105809","DebitedWalletId":null,"PaymentType":"CARD","ExecutionType":"DIRECT","SecureMode":"DEFAULT","CardId":"23105816","SecureModeReturnURL":null,"SecureModeRedirectURL":null,"SecureModeNeeded":false,"StatementDescriptor":null}'
  recorded_at: Wed, 22 Mar 2017 20:09:59 GMT
[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/transfers
    body:
      encoding: UTF-8
      string: '{"AuthorId":23105807,"DebitedFunds":{"Currency":"EUR","Amount":2000.0},"Fees":{"Currency":"EUR","Amount":0.0},"DebitedWalletId":"23105809","CreditedWalletId":"23105814"}'
    headers:
      Authorization:
      - bearer fa9f93fcdc814dc98ef8712acec37b4a
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"binding[...]
[...]
