---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic cXdlcnRlYWNocmFpbHM6eGs0WUpMWnZ5S3N5QWJoN0Q3RlRNUk92ckZ6azQyMWZzRE9pRHhIUHJPNlNVYzBvUnA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"8c0063e9dac94657a406dcae4baa7606","token_type":"bearer","expires_in":1199}'
  recorded_at: Wed, 22 Mar 2017 20:10:03 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"AG","Nationality":"HT","Address":{"AddressLine1":"Nicolette
        Fall","AddressLine2":"49392","PostalCode":"RU83 6RJ","City":"Laynefurt","Region":"Oregon","Country":"HR"},"FirstName":"Florentino","LastName":"Legros","Birthday":701197200,"Email":"amira@thompson.info","PersonType":"NATURAL","Tag":"user
        5"}'
    headers:
      Authorization:
      - bearer 8c0063e9dac94657a406dcae4baa7606
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '104'
      - '145'
      - '227'
      - '3906'
      X-Ratelimit-Remaining:
      - '101694'
      - '2196'
      - '4355'
      - '8573'
      X-Ratelimit-Reset:
      - '1490214240'
      - '1490215140'
      - '1490216940'
      - '1490299680'
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Nicolette Fall","AddressLine2":"49392","City":"Laynefurt","Region":"Oregon","PostalCode":"RU83
        6RJ","Country":"HR"},"FirstName":"Florentino","LastName":"Legros","Birthday":701197200,"Nationality":"HT","CountryOfResidence":"AG","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"PersonType":"NATURAL","Email":"amira@thompson.info","KYCLevel":"LIGHT","Id":"23105821","Tag":"user
        5","CreationDate":1490213398}'
  recorded_at: Wed, 22 Mar 2017 20:10:04 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[23105821],"Currency":"EUR","Description":"wallet user 5"}'
    headers:
      Authorization:
      - bearer 8c0063e9dac94657a406dcae4baa7606
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '144'
      - '226'
      - '3905'
      - '96'
      X-Ratelimit-Remaining:
      - '101695'
      - '2204'
      - '4356'
      - '8574'
      X-Ratelimit-Reset:
      - '1490214300'
      - '1490215200'
      - '1490217000'
      - '1490299740'
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 5","Owners":["23105821"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"23105822","Tag":null,"CreationDate":1490213400}'
  recorded_at: Wed, 22 Mar 2017 20:10:05 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23105821/cards?per_page=100&sort=CreationDate:desc
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer 8c0063e9dac94657a406dcae4baa7606
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23105821/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="first",<https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23105821/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="last"
      X-Number-Of-Pages:
      - '1'
      X-Number-Of-Items:
      - '0'
      X-Ratelimit:
      - '147'
      - '229'
      - '3908'
      - '99'
      X-Ratelimit-Remaining:
      - '101692'
      - '2201'
      - '4353'
      - '8571'
      X-Ratelimit-Reset:
      - '1490214300'
      - '1490215200'
      - '1490217000'
      - '1490299740'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 22 Mar 2017 20:10:07 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cardregistrations
    body:
      encoding: UTF-8
      string: '{"UserId":23105821,"Currency":"EUR","CardType":"CB_VISA_MASTERCARD"}'
    headers:
      Authorization:
      - bearer 8c0063e9dac94657a406dcae4baa7606
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '100'
      - '148'
      - '230'
      - '3909'
      X-Ratelimit-Remaining:
      - '101691'
      - '2200'
      - '4352'
      - '8570'
      X-Ratelimit-Reset:
      - '1490214300'
      - '1490215200'
      - '1490217000'
      - '1490299740'
    body:
      encoding: UTF-8
      string: '{"Id":"23105825","Tag":null,"CreationDate":1490213402,"UserId":"23105821","AccessKey":"1X0m87dmM2LiwFgxPLBJ","PreregistrationData":"ctdPU2IGyKn3gQT0GVK0sdedMIR_aFhzR-FaHNS_X7532HXfgMPEmk_5An9UpTFkS4wCy-yiraxeE65tmxOe8A","RegistrationData":null,"CardId":null,"CardType":"CB_VISA_MASTERCARD","CardRegistrationURL":"https://homologation-webpayment.payline.com/webpayment/getToken","ResultCode":null,"ResultMessage":null,"Currency":"EUR","Status":"CREATED"}'
  recorded_at: Wed, 22 Mar 2017 20:10:08 GMT
- request:
    method: post
    uri: https://homologation-webpayment.payline.com/webpayment/getToken
    body:
      encoding: US-ASCII
      string: accessKeyRef=1X0m87dmM2LiwFgxPLBJ&cardNumber=3569990000000132&cardExpirationDate=1017&cardCvx=131&data=ctdPU2IGyKn3gQT0GVK0sdedMIR_aFhzR-FaHNS_X7532HXfgMPEmk_5An9UpTFkS4wCy-yiraxeE65tmxOe8A
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: data=zhOzMuGOpoDc3tuUg5z-5g3NHxaixjldgzREbWVoZyeWguG8Dj7c3yE-AP8d9f9qSTIsw3Vn2OqWLNXEvCNhmjCf1PMxvTImL_2xdo3r3rQ_5wbmmXu9p4axn3GGvfAEvy9aJoYpbTg7r7J1LDrMjA
  recorded_at: Wed, 22 Mar 2017 20:10:08 GMT
- request:
    method: put
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cardregistrations/23105825
    body:
      encoding: UTF-8
      string: '{"RegistrationData":"data=data=zhOzMuGOpoDc3tuUg5z-5g3NHxaixjldgzREbWVoZyeWguG8Dj7c3yE-AP8d9f9qSTIsw3Vn2OqWLNXEvCNhmjCf1PMxvTImL_2xdo3r3rQ_5wbmmXu9p4axn3GGvfAEvy9aJoYpbTg7r7J1LDrMjA"}'
    headers:
      Authorization:
      - bearer 8c0063e9dac94657a406dcae4baa7606
      Content-Type:
      - application/json
      X-Mangopay-Client-[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23105821/wallets
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer 8c0063e9dac94657a406dcae4baa7606
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Da[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/payins/card/direct
    body:
      encoding: UTF-8
      string: '{"AuthorId":23105821,"CreditedUserId":23105821,"DebitedFunds":{"Currency":"EUR","Amount":2000.0},"Fees":{"Currency":"EUR","Amount":0.0},"CreditedWalletId":"23105822","SecureModeReturnURL":"http://test.com","SecureMode":"DEFAULT","CardId":"23105828"}'
    headers:
      Authorization:
      - bearer 8c0063e9dac94657a406dcae4baa7606
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '103'
      - '151'
      - '233'
      - '3912'
      X-Ratelimit-Remaining:
      - '101688'
      - '2197'
      - '4349'
      - '8567'
      X-Ratelimit-Reset:
      - '1490214300'
      - '1490215200'
      - '1490217000'
      - '1490299740'
    body:
      encoding: UTF-8
      string: '{"Id":"23105829","Tag":null,"CreationDate":1490213407,"AuthorId":"23105821","CreditedUserId":"23105821","DebitedFunds":{"Currency":"EUR","Amount":2000},"CreditedFunds":{"Currency":"EUR","Amount":2000},"Fees":{"Currency":"EUR","Amount":0},"Status":"SUCCEEDED","ResultCode":"000000","ResultMessage":"Success","ExecutionDate":1490213410,"Type":"PAYIN","Nature":"REGULAR","CreditedWalletId":"23105822","DebitedWalletId":null,"PaymentType":"CARD","ExecutionType":"DIRECT","SecureMode":"DEFAULT","CardId":"23105828","SecureModeReturnURL":null,"SecureModeRedirectURL":null,"SecureModeNeeded":false,"StatementDescriptor":null}'
  recorded_at: Wed, 22 Mar 2017 20:10:16 GMT
[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/transfers
    body:
      encoding: UTF-8
      string: '{"AuthorId":23105821,"DebitedFunds":{"Currency":"EUR","Amount":2000.0},"Fees":{"Currency":"EUR","Amount":0.0},"DebitedWalletId":"23105823","CreditedWalletId":"23105824"}'
    headers:
      Authorization:
      - bearer 8c0063e9dac94657a406dcae4baa7606
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"binding[...]
[...]
