---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic cXdlcnRlYWNocmFpbHM6eGs0WUpMWnZ5S3N5QWJoN0Q3RlRNUk92ckZ6azQyMWZzRE9pRHhIUHJPNlNVYzBvUnA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"6d085031ba9347ab9eb3ad0f78a04a0d","token_type":"bearer","expires_in":1199}'
  recorded_at: Wed, 22 Mar 2017 20:13:28 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"CZ","Nationality":"MN","Address":{"AddressLine1":"Dietrich
        Cliff","AddressLine2":"983","PostalCode":"KF9 6IY","City":"North Owen","Region":"South
        Carolina","Country":"SZ"},"FirstName":"Alise","LastName":"Jones","Birthday":701197200,"Email":"carrol@hilpertdeckow.biz","PersonType":"NATURAL","Tag":"user
        5"}'
    headers:
      Authorization:
      - bearer 6d085031ba9347ab9eb3ad0f78a04a0d
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '102'
      - '161'
      - '243'
      - '3922'
      X-Ratelimit-Remaining:
      - '101678'
      - '2198'
      - '4339'
      - '8557'
      X-Ratelimit-Reset:
      - '1490214480'
      - '1490215380'
      - '1490217180'
      - '1490299920'
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Dietrich Cliff","AddressLine2":"983","City":"North
        Owen","Region":"South Carolina","PostalCode":"KF9 6IY","Country":"SZ"},"FirstName":"Alise","LastName":"Jones","Birthday":701197200,"Nationality":"MN","CountryOfResidence":"CZ","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"PersonType":"NATURAL","Email":"carrol@hilpertdeckow.biz","KYCLevel":"LIGHT","Id":"23105955","Tag":"user
        5","CreationDate":1490213603}'
  recorded_at: Wed, 22 Mar 2017 20:13:29 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[23105955],"Currency":"EUR","Description":"wallet user 5"}'
    headers:
      Authorization:
      - bearer 6d085031ba9347ab9eb3ad0f78a04a0d
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '103'
      - '162'
      - '244'
      - '3923'
      X-Ratelimit-Remaining:
      - '101677'
      - '2197'
      - '4338'
      - '8556'
      X-Ratelimit-Reset:
      - '1490214480'
      - '1490215380'
      - '1490217180'
      - '1490299920'
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 5","Owners":["23105955"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"23105958","Tag":null,"CreationDate":1490213604}'
  recorded_at: Wed, 22 Mar 2017 20:13:29 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23105955/cards?per_page=100&sort=CreationDate:desc
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer 6d085031ba9347ab9eb3ad0f78a04a0d
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23105955/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="first",<https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23105955/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="last"
      X-Number-Of-Pages:
      - '1'
      X-Number-Of-Items:
      - '0'
      X-Ratelimit:
      - '106'
      - '165'
      - '247'
      - '3926'
      X-Ratelimit-Remaining:
      - '101674'
      - '2194'
      - '4335'
      - '8553'
      X-Ratelimit-Reset:
      - '1490214480'
      - '1490215380'
      - '1490217180'
      - '1490299920'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 22 Mar 2017 20:13:31 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cardregistrations
    body:
      encoding: UTF-8
      string: '{"UserId":23105955,"Currency":"EUR","CardType":"CB_VISA_MASTERCARD"}'
    headers:
      Authorization:
      - bearer 6d085031ba9347ab9eb3ad0f78a04a0d
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '107'
      - '166'
      - '248'
      - '3927'
      X-Ratelimit-Remaining:
      - '101673'
      - '2193'
      - '4334'
      - '8552'
      X-Ratelimit-Reset:
      - '1490214480'
      - '1490215380'
      - '1490217180'
      - '1490299920'
    body:
      encoding: UTF-8
      string: '{"Id":"23105962","Tag":null,"CreationDate":1490213607,"UserId":"23105955","AccessKey":"1X0m87dmM2LiwFgxPLBJ","PreregistrationData":"ObMObfSdwRfyE4QClGtUc9pyAmoHyHUFo2XRpenBamZXgXJjskAFLfuXOvpoLSJcS4wCy-yiraxeE65tmxOe8A","RegistrationData":null,"CardId":null,"CardType":"CB_VISA_MASTERCARD","CardRegistrationURL":"https://homologation-webpayment.payline.com/webpayment/getToken","ResultCode":null,"ResultMessage":null,"Currency":"EUR","Status":"CREATED"}'
  recorded_at: Wed, 22 Mar 2017 20:13:32 GMT
- request:
    method: post
    uri: https://homologation-webpayment.payline.com/webpayment/getToken
    body:
      encoding: US-ASCII
      string: accessKeyRef=1X0m87dmM2LiwFgxPLBJ&cardNumber=3569990000000132&cardExpirationDate=1017&cardCvx=131&data=ObMObfSdwRfyE4QClGtUc9pyAmoHyHUFo2XRpenBamZXgXJjskAFLfuXOvpoLSJcS4wCy-yiraxeE65tmxOe8A
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: data=h_vedXouHHyTkPJNolkKQMxWW43uVX3XxTtjy-3Wv-9eVwk0tvrJakPGFWbh4hAXvXBhk_M_XcPN09fYcP6IJxy_Hy8-s1oroIIHC7VhpF-m0OrfDxe7CSHlUZgJnTD6BuNcHsqPQtPNXiy9ibnufg
  recorded_at: Wed, 22 Mar 2017 20:13:33 GMT
- request:
    method: put
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cardregistrations/23105962
    body:
      encoding: UTF-8
      string: '{"RegistrationData":"data=data=h_vedXouHHyTkPJNolkKQMxWW43uVX3XxTtjy-3Wv-9eVwk0tvrJakPGFWbh4hAXvXBhk_M_XcPN09fYcP6IJxy_Hy8-s1oroIIHC7VhpF-m0OrfDxe7CSHlUZgJnTD6BuNcHsqPQtPNXiy9ibnufg"}'
    headers:
      Authorization:
      - bearer 6d085031ba9347ab9eb3ad0f78a04a0d
      Content-Type:
      - application/json
      X-Mangopay-Client-[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23105955/wallets
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer 6d085031ba9347ab9eb3ad0f78a04a0d
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Da[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/payins/card/direct
    body:
      encoding: UTF-8
      string: '{"AuthorId":23105955,"CreditedUserId":23105955,"DebitedFunds":{"Currency":"EUR","Amount":4500.0},"Fees":{"Currency":"EUR","Amount":0.0},"CreditedWalletId":"23105958","SecureModeReturnURL":"http://test.com","SecureMode":"DEFAULT","CardId":"23105967"}'
    headers:
      Authorization:
      - bearer 6d085031ba9347ab9eb3ad0f78a04a0d
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '110'
      - '169'
      - '251'
      - '3930'
      X-Ratelimit-Remaining:
      - '101670'
      - '2190'
      - '4331'
      - '8549'
      X-Ratelimit-Reset:
      - '1490214480'
      - '1490215380'
      - '1490217180'
      - '1490299920'
    body:
      encoding: UTF-8
      string: '{"Id":"23105969","Tag":null,"CreationDate":1490213610,"AuthorId":"23105955","CreditedUserId":"23105955","DebitedFunds":{"Currency":"EUR","Amount":4500},"CreditedFunds":{"Currency":"EUR","Amount":4500},"Fees":{"Currency":"EUR","Amount":0},"Status":"SUCCEEDED","ResultCode":"000000","ResultMessage":"Success","ExecutionDate":1490213611,"Type":"PAYIN","Nature":"REGULAR","CreditedWalletId":"23105958","DebitedWalletId":null,"PaymentType":"CARD","ExecutionType":"DIRECT","SecureMode":"DEFAULT","CardId":"23105967","SecureModeReturnURL":null,"SecureModeRedirectURL":null,"SecureModeNeeded":false,"StatementDescriptor":null}'
  recorded_at: Wed, 22 Mar 2017 20:13:36 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/transfers
    body:
      encoding: UTF-8
      string: '{"AuthorId":23105955,"DebitedFunds":{"Currency":"EUR","Amount":3000.0},"Fees":{"Currency":"EUR","Amount":0.0},"DebitedWalletId":"23105958","CreditedWalletId":"23105960"}'
    headers:
      Authorization:
      - bearer 6d085031ba9347ab9eb3ad0f78a04a0d
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"binding[...]
[...]
