---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic cXdlcnRlYWNocmFpbHM6eGs0WUpMWnZ5S3N5QWJoN0Q3RlRNUk92ckZ6azQyMWZzRE9pRHhIUHJPNlNVYzBvUnA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"f8822c9a4ce14f3981c36d496ec0ceb2","token_type":"bearer","expires_in":1199}'
  recorded_at: Wed, 22 Mar 2017 18:55:27 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"GN","Nationality":"VI","Address":{"AddressLine1":"Turcotte
        Forks","AddressLine2":"785","PostalCode":"HN1 2BS","City":"Claudieside","Region":"Maine","Country":"CF"},"FirstName":"Barry","LastName":"Franecki","Birthday":701197200,"Email":"maybelle@kuvalis.ca","PersonType":"NATURAL","Tag":"user
        5"}'
    headers:
      Authorization:
      - bearer f8822c9a4ce14f3981c36d496ec0ceb2
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '151'
      - '197'
      - '264'
      - '3764'
      X-Ratelimit-Remaining:
      - '101836'
      - '2149'
      - '4303'
      - '8536'
      X-Ratelimit-Reset:
      - '1490209800'
      - '1490210700'
      - '1490212500'
      - '1490295240'
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Turcotte Forks","AddressLine2":"785","City":"Claudieside","Region":"Maine","PostalCode":"HN1
        2BS","Country":"CF"},"FirstName":"Barry","LastName":"Franecki","Birthday":701197200,"Nationality":"VI","CountryOfResidence":"GN","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"PersonType":"NATURAL","Email":"maybelle@kuvalis.ca","KYCLevel":"LIGHT","Id":"23103464","Tag":"user
        5","CreationDate":1490208923}'
  recorded_at: Wed, 22 Mar 2017 18:55:29 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[23103464],"Currency":"EUR","Description":"wallet user 5"}'
    headers:
      Authorization:
      - bearer f8822c9a4ce14f3981c36d496ec0ceb2
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '152'
      - '198'
      - '265'
      - '3765'
      X-Ratelimit-Remaining:
      - '101835'
      - '2148'
      - '4302'
      - '8535'
      X-Ratelimit-Reset:
      - '1490209800'
      - '1490210700'
      - '1490212500'
      - '1490295240'
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 5","Owners":["23103464"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"23103467","Tag":null,"CreationDate":1490208925}'
  recorded_at: Wed, 22 Mar 2017 18:55:30 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23103464/wallets
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer f8822c9a4ce14f3981c36d496ec0ceb2
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23103464/wallets?page=1&per_page=10>;
        rel="first",<https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23103464/wallets?page=1&per_page=10>;
        rel="last"
      X-Number-Of-Pages:
      - '1'
      X-Number-Of-Items:
      - '3'
      X-Ratelimit:
      - '155'
      - '201'
      - '268'
      - '3768'
      X-Ratelimit-Remaining:
      - '101832'
      - '2145'
      - '4299'
      - '8532'
      X-Ratelimit-Reset:
      - '1490209800'
      - '1490210700'
      - '1490212500'
      - '1490295240'
    body:
      encoding: UTF-8
      string: '[{"Description":"wallet user 5","Owners":["23103464"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"23103467","Tag":null,"CreationDate":1490208925},{"Description":"wallet
        bonus 5","Owners":["23103464"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"23103468","Tag":"Bonus","CreationDate":1490208925},{"Description":"wallet
        transfert 5","Owners":["23103464"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"23103469","Tag":"Transfert","CreationDate":1490208926}]'
  recorded_at: Wed, 22 Mar 2017 18:55:32 GMT
recorded_with: VCR 3.0.3
