---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic cXdlcnRlYWNocmFpbHM6eGs0WUpMWnZ5S3N5QWJoN0Q3RlRNUk92ckZ6azQyMWZzRE9pRHhIUHJPNlNVYzBvUnA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"f41151dbeb4047828e33cd74b72139ed","token_type":"bearer","expires_in":1199}'
  recorded_at: Wed, 22 Mar 2017 18:55:33 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"PA","Nationality":"PH","Address":{"AddressLine1":"Lavina
        Crescent","AddressLine2":"5261","PostalCode":"JX9 8IJ","City":"New Amyborough","Region":"Maryland","Country":"JP"},"FirstName":"Brady","LastName":"Morar","Birthday":701197200,"Email":"sophie@oreilly.com","PersonType":"NATURAL","Tag":"user
        5"}'
    headers:
      Authorization:
      - bearer f41151dbeb4047828e33cd74b72139ed
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '156'
      - '202'
      - '269'
      - '3769'
      X-Ratelimit-Remaining:
      - '101831'
      - '2144'
      - '4298'
      - '8531'
      X-Ratelimit-Reset:
      - '1490209800'
      - '1490210700'
      - '1490212500'
      - '1490295240'
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Lavina Crescent","AddressLine2":"5261","City":"New
        Amyborough","Region":"Maryland","PostalCode":"JX9 8IJ","Country":"JP"},"FirstName":"Brady","LastName":"Morar","Birthday":701197200,"Nationality":"PH","CountryOfResidence":"PA","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"PersonType":"NATURAL","Email":"sophie@oreilly.com","KYCLevel":"LIGHT","Id":"23103470","Tag":"user
        5","CreationDate":1490208928}'
  recorded_at: Wed, 22 Mar 2017 18:55:33 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[23103470],"Currency":"EUR","Description":"wallet user 5"}'
    headers:
      Authorization:
      - bearer f41151dbeb4047828e33cd74b72139ed
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '157'
      - '203'
      - '270'
      - '3770'
      X-Ratelimit-Remaining:
      - '101830'
      - '2143'
      - '4297'
      - '8530'
      X-Ratelimit-Reset:
      - '1490209800'
      - '1490210700'
      - '1490212500'
      - '1490295240'
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 5","Owners":["23103470"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"23103471","Tag":null,"CreationDate":1490208929}'
  recorded_at: Wed, 22 Mar 2017 18:55:34 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural/23103470
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer f41151dbeb4047828e33cd74b72139ed
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Da[...]
[...]
