---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic cXdlcnRlYWNocmFpbHM6eGs0WUpMWnZ5S3N5QWJoN0Q3RlRNUk92ckZ6azQyMWZzRE9pRHhIUHJPNlNVYzBvUnA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"33ebaf8ab87a4b62a4e534a426e38fa8","token_type":"bearer","expires_in":1199}'
  recorded_at: Wed, 22 Mar 2017 20:23:18 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"VN","Nationality":"SO","Address":{"AddressLine1":"Ziemann
        Hill","AddressLine2":"37708","PostalCode":"KU02 8XQ","City":"Thielside","Region":"Illinois","Country":"TD"},"FirstName":"Reta","LastName":"Schamberger","Birthday":701197200,"Email":"brain@hane.co.uk","PersonType":"NATURAL","Tag":"user
        5"}'
    headers:
      Authorization:
      - bearer 33ebaf8ab87a4b62a4e534a426e38fa8
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '177'
      - '270'
      - '3949'
      - '98'
      X-Ratelimit-Remaining:
      - '101651'
      - '2202'
      - '4323'
      - '8530'
      X-Ratelimit-Reset:
      - '1490215080'
      - '1490215980'
      - '1490217780'
      - '1490300520'
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Ziemann Hill","AddressLine2":"37708","City":"Thielside","Region":"Illinois","PostalCode":"KU02
        8XQ","Country":"TD"},"FirstName":"Reta","LastName":"Schamberger","Birthday":701197200,"Nationality":"SO","CountryOfResidence":"VN","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"PersonType":"NATURAL","Email":"brain@hane.co.uk","KYCLevel":"LIGHT","Id":"23106255","Tag":"user
        5","CreationDate":1490214194}'
  recorded_at: Wed, 22 Mar 2017 20:23:19 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[23106255],"Currency":"EUR","Description":"wallet user 5"}'
    headers:
      Authorization:
      - bearer 33ebaf8ab87a4b62a4e534a426e38fa8
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '178'
      - '271'
      - '3950'
      - '99'
      X-Ratelimit-Remaining:
      - '101650'
      - '2201'
      - '4322'
      - '8529'
      X-Ratelimit-Reset:
      - '1490215080'
      - '1490215980'
      - '1490217780'
      - '1490300520'
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 5","Owners":["23106255"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"23106258","Tag":null,"CreationDate":1490214194}'
  recorded_at: Wed, 22 Mar 2017 20:23:20 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23106255/cards?per_page=100&sort=CreationDate:desc
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer 33ebaf8ab87a4b62a4e534a426e38fa8
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23106255/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="first",<https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23106255/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="last"
      X-Number-Of-Pages:
      - '1'
      X-Number-Of-Items:
      - '0'
      X-Ratelimit:
      - '102'
      - '181'
      - '274'
      - '3953'
      X-Ratelimit-Remaining:
      - '101647'
      - '2198'
      - '4319'
      - '8526'
      X-Ratelimit-Reset:
      - '1490215080'
      - '1490215980'
      - '1490217780'
      - '1490300520'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 22 Mar 2017 20:23:21 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cardregistrations
    body:
      encoding: UTF-8
      string: '{"UserId":23106255,"Currency":"EUR","CardType":"CB_VISA_MASTERCARD"}'
    headers:
      Authorization:
      - bearer 33ebaf8ab87a4b62a4e534a426e38fa8
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '103'
      - '182'
      - '275'
      - '3954'
      X-Ratelimit-Remaining:
      - '101646'
      - '2197'
      - '4318'
      - '8525'
      X-Ratelimit-Reset:
      - '1490215080'
      - '1490215980'
      - '1490217780'
      - '1490300520'
    body:
      encoding: UTF-8
      string: '{"Id":"23106261","Tag":null,"CreationDate":1490214197,"UserId":"23106255","AccessKey":"1X0m87dmM2LiwFgxPLBJ","PreregistrationData":"ObMObfSdwRfyE4QClGtUc86sOBGZu-YZFL4OcR6MLcP5HEG3WM2Jr0zghcHu7nO-S4wCy-yiraxeE65tmxOe8A","RegistrationData":null,"CardId":null,"CardType":"CB_VISA_MASTERCARD","CardRegistrationURL":"https://homologation-webpayment.payline.com/webpayment/getToken","ResultCode":null,"ResultMessage":null,"Currency":"EUR","Status":"CREATED"}'
  recorded_at: Wed, 22 Mar 2017 20:23:22 GMT
- request:
    method: post
    uri: https://homologation-webpayment.payline.com/webpayment/getToken
    body:
      encoding: US-ASCII
      string: accessKeyRef=1X0m87dmM2LiwFgxPLBJ&cardNumber=3569990000000132&cardExpirationDate=1017&cardCvx=131&data=ObMObfSdwRfyE4QClGtUc86sOBGZu-YZFL4OcR6MLcP5HEG3WM2Jr0zghcHu7nO-S4wCy-yiraxeE65tmxOe8A
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: data=6GC916dHZPpYrs_zfN6X5G7TEJN222iXDf_nhm4WB6VWRVfU5nrjFYO7kK_vyUusPkF-QWJSYHwNj6EHAPQKkBKb1IaffCaNDwO6qng5iLzwQ23dPAezSS_7teHtYEo5m7I73Gw5Z-Bpemf3zVR8dQ
  recorded_at: Wed, 22 Mar 2017 20:23:24 GMT
- request:
    method: put
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cardregistrations/23106261
    body:
      encoding: UTF-8
      string: '{"RegistrationData":"data=data=6GC916dHZPpYrs_zfN6X5G7TEJN222iXDf_nhm4WB6VWRVfU5nrjFYO7kK_vyUusPkF-QWJSYHwNj6EHAPQKkBKb1IaffCaNDwO6qng5iLzwQ23dPAezSS_7teHtYEo5m7I73Gw5Z-Bpemf3zVR8dQ"}'
    headers:
      Authorization:
      - bearer 33ebaf8ab87a4b62a4e534a426e38fa8
      Content-Type:
      - application/json
      X-Mangopay-Client-[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23106255/wallets
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer 33ebaf8ab87a4b62a4e534a426e38fa8
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Da[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/payins/card/direct
    body:
      encoding: UTF-8
      string: '{"AuthorId":23106255,"CreditedUserId":23106255,"DebitedFunds":{"Currency":"EUR","Amount":4500.0},"Fees":{"Currency":"EUR","Amount":0.0},"CreditedWalletId":"23106258","SecureModeReturnURL":"http://test.com","SecureMode":"DEFAULT","CardId":"23106264"}'
    headers:
      Authorization:
      - bearer 33ebaf8ab87a4b62a4e534a426e38fa8
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '106'
      - '185'
      - '278'
      - '3957'
      X-Ratelimit-Remaining:
      - '101643'
      - '2194'
      - '4315'
      - '8522'
      X-Ratelimit-Reset:
      - '1490215080'
      - '1490215980'
      - '1490217780'
      - '1490300520'
    body:
      encoding: UTF-8
      string: '{"Id":"23106265","Tag":null,"CreationDate":1490214201,"AuthorId":"23106255","CreditedUserId":"23106255","DebitedFunds":{"Currency":"EUR","Amount":4500},"CreditedFunds":{"Currency":"EUR","Amount":4500},"Fees":{"Currency":"EUR","Amount":0},"Status":"SUCCEEDED","ResultCode":"000000","ResultMessage":"Success","ExecutionDate":1490214202,"Type":"PAYIN","Nature":"REGULAR","CreditedWalletId":"23106258","DebitedWalletId":null,"PaymentType":"CARD","ExecutionType":"DIRECT","SecureMode":"DEFAULT","CardId":"23106264","SecureModeReturnURL":null,"SecureModeRedirectURL":null,"SecureModeNeeded":false,"StatementDescriptor":null}'
  recorded_at: Wed, 22 Mar 2017 20:23:27 GMT
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural/23106255
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer 33ebaf8ab87a4b62a4e534a426e38fa8
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Da[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23106255/bankaccounts/iban
    body:
      encoding: UTF-8
      string: '{"OwnerName":"Gilberte Reichert","OwnerAddress":{"AddressLine1":"Ziemann
        Hill","AddressLine2":"37708","City":"Thielside","Region":"Illinois","PostalCode":"KU02
        8XQ","Country":"TD"},"Type":"iban","IBAN":"FR3020041010124530725S03383","BIC":"CRLYFRPP"}'
    headers:
      Authorization:
      - bearer 33ebaf8ab87a4b62a4e534a426e38fa8
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '108'
      - '187'
      - '280'
      - '3959'
      X-Ratelimit-Remaining:
      - '101641'
      - '2192'
      - '4313'
      - '8520'
      X-Ratelimit-Reset:
      - '1490215080'
      - '1490215980'
      - '1490217780'
      - '1490300520'
    body:
      encoding: UTF-8
      string: '{"OwnerAddress":{"AddressLine1":"Ziemann Hill","AddressLine2":"37708","City":"Thielside","Region":"Illinois","PostalCode":"KU02
        8XQ","Country":"TD"},"IBAN":"FR3020041010124530725S03383","BIC":"CRLYFRPP","UserId":"23106255","OwnerName":"Gilberte
        Reichert","Type":"IBAN","Id":"23106267","Tag":null,"CreationDate":1490214204,"Active":true}'
  recorded_at: Wed, 22 Mar 2017 20:23:29 GMT
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23106255/bankaccounts
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer 33ebaf8ab87a4b62a4e534a426e38fa8
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0[...]
[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/transfers
    body:
      encoding: UTF-8
      string: '{"AuthorId":23106255,"DebitedFunds":{"Currency":"EUR","Amount":4500.0},"Fees":{"Currency":"EUR","Amount":0.0},"DebitedWalletId":"23106258","CreditedWalletId":"23106260"}'
    headers:
      Authorization:
      - bearer 33ebaf8ab87a4b62a4e534a426e38fa8
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"binding[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/payouts/bankwire
    body:
      encoding: UTF-8
      string: '{"AuthorId":23106255,"DebitedFunds":{"Currency":"EUR","Amount":4500},"Fees":{"Currency":"EUR","Amount":0.0},"DebitedWalletId":"23106260","BankAccountId":"23106267"}'
    headers:
      Authorization:
      - bearer 33ebaf8ab87a4b62a4e534a426e38fa8
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '112'
      - '191'
      - '284'
      - '3963'
      X-Ratelimit-Remaining:
      - '101637'
      - '2188'
      - '4309'
      - '8516'
      X-Ratelimit-Reset:
      - '1490215080'
      - '1490215980'
      - '1490217780'
      - '1490300520'
    body:
      encoding: UTF-8
      string: '{"Id":"23106270","Tag":null,"CreationDate":1490214207,"AuthorId":"23106255","CreditedUserId":null,"DebitedFunds":{"Currency":"EUR","Amount":4500},"CreditedFunds":{"Currency":"EUR","Amount":4500},"Fees":{"Currency":"EUR","Amount":0},"Status":"CREATED","ResultCode":null,"ResultMessage":null,"ExecutionDate":null,"Type":"PAYOUT","Nature":"REGULAR","CreditedWalletId":null,"DebitedWalletId":"23106260","PaymentType":"BANK_WIRE","BankAccountId":"23106267","BankWireRef":null}'
  recorded_at: Wed, 22 Mar 2017 20:23:33 GMT
[...]
