%h3.text-center.text-green
  Votre boîte de réception est vide!
%hr
%br
%p.lead.text-center
  %i.fa.fa-inbox.fa-5x.text-green
%p.lead.text-center.text-grey.no-conversations
  Pour contacter un utilisateur pour la première fois, rendez-vous sur son profil.
  %br
  Entammez quelques conversations, puis revenez ici pour lire vos nouveaux messages.
  %br
  %br
  =link_to 'Voir tous les profs', profs_path