---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic cXdlcnRlYWNocmFpbHM6eGs0WUpMWnZ5S3N5QWJoN0Q3RlRNUk92ckZ6azQyMWZzRE9pRHhIUHJPNlNVYzBvUnA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"f70b83f5b62d4d31b1afd5ea769c9fbe","token_type":"bearer","expires_in":1199}'
  recorded_at: Tue, 20 Jun 2017 07:08:51 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"RW","Nationality":"GD","Address":{"AddressLine1":"Deangelo
        Pines","AddressLine2":"7658","PostalCode":"TR0 8FB","City":"South Kimberleeside","Region":"Oregon","Country":"NZ"},"FirstName":"Gabrielle","LastName":"Kutch","Birthday":708969600,"Email":"hayley@veum.name","PersonType":"NATURAL","Tag":"user
        15"}'
    headers:
      Authorization:
      - bearer f70b83f5b62d4d31b1afd5ea769c9fbe
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.4 p301 (2017-03-30)","platform":"x86_64-darwin15","uname":"Darwin
        macpro.local 15.6.0 Darwin Kernel Version 15.6.0: Mon Jan  9 23:07:29 PST
        2017; root:xnu-3248.60.11.2.1~1/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '144'
      - '184'
      - '184'
      - '868'
      X-Ratelimit-Remaining:
      - '104732'
      - '2156'
      - '4316'
      - '8616'
      X-Ratelimit-Reset:
      - '1497943380'
      - '1497944280'
      - '1497946080'
      - '1498028820'
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Deangelo Pines","AddressLine2":"7658","City":"South
        Kimberleeside","Region":"Oregon","PostalCode":"TR0 8FB","Country":"NZ"},"FirstName":"Gabrielle","LastName":"Kutch","Birthday":708969600,"Nationality":"GD","CountryOfResidence":"RW","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"Capacity":"NORMAL","PersonType":"NATURAL","Email":"hayley@veum.name","KYCLevel":"LIGHT","Id":"27865470","Tag":"user
        15","CreationDate":1497942531}'
  recorded_at: Tue, 20 Jun 2017 07:08:54 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[27865470],"Currency":"EUR","Description":"wallet user 15"}'
    headers:
      Authorization:
      - bearer f70b83f5b62d4d31b1afd5ea769c9fbe
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.4 p301 (2017-03-30)","platform":"x86_64-darwin15","uname":"Darwin
        macpro.local 15.6.0 Darwin Kernel Version 15.6.0: Mon Jan  9 23:07:29 PST
        2017; root:xnu-3248.60.11.2.1~1/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '145'
      - '185'
      - '185'
      - '869'
      X-Ratelimit-Remaining:
      - '104731'
      - '2155'
      - '4315'
      - '8615'
      X-Ratelimit-Reset:
      - '1497943380'
      - '1497944280'
      - '1497946080'
      - '1498028820'
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 15","Owners":["27865470"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"27865472","Tag":null,"CreationDate":1497942535}'
  recorded_at: Tue, 20 Jun 2017 07:08:55 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/27865470/cards?per_page=100&sort=CreationDate:desc
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer f70b83f5b62d4d31b1afd5ea769c9fbe
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.4 p301 (2017-03-30)","platform":"x86_64-darwin15","uname":"Darwin
        macpro.local 15.6.0 Darwin Kernel Version 15.6.0: Mon Jan  9 23:07:29 PST
        2017; root:xnu-3248.60.11.2.1~1/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/27865470/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="first",<https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/27865470/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="last"
      X-Number-Of-Pages:
      - '1'
      X-Number-Of-Items:
      - '0'
      X-Ratelimit:
      - '148'
      - '188'
      - '188'
      - '872'
      X-Ratelimit-Remaining:
      - '104728'
      - '2152'
      - '4312'
      - '8612'
      X-Ratelimit-Reset:
      - '1497943380'
      - '1497944280'
      - '1497946080'
      - '1498028820'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Tue, 20 Jun 2017 07:08:56 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cardregistrations
    body:
      encoding: UTF-8
      string: '{"UserId":27865470,"Currency":"EUR","CardType":"CB_VISA_MASTERCARD"}'
    headers:
      Authorization:
      - bearer f70b83f5b62d4d31b1afd5ea769c9fbe
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.4 p301 (2017-03-30)","platform":"x86_64-darwin15","uname":"Darwin
        macpro.local 15.6.0 Darwin Kernel Version 15.6.0: Mon Jan  9 23:07:29 PST
        2017; root:xnu-3248.60.11.2.1~1/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '149'
      - '189'
      - '189'
      - '873'
      X-Ratelimit-Remaining:
      - '104727'
      - '2151'
      - '4311'
      - '8611'
      X-Ratelimit-Reset:
      - '1497943380'
      - '1497944280'
      - '1497946080'
      - '1498028820'
    body:
      encoding: UTF-8
      string: '{"Id":"27865476","Tag":null,"CreationDate":1497942537,"UserId":"27865470","AccessKey":"1X0m87dmM2LiwFgxPLBJ","PreregistrationData":"S2mSVl8PLRVHgaMNATInMg7RI-8-cTD9YHGRLHXvc1N5_WI8LaSEyaOpl4FcmGhTS4wCy-yiraxeE65tmxOe8A","RegistrationData":null,"CardId":null,"CardType":"CB_VISA_MASTERCARD","CardRegistrationURL":"https://homologation-webpayment.payline.com/webpayment/getToken","ResultCode":null,"ResultMessage":null,"Currency":"EUR","Status":"CREATED"}'
  recorded_at: Tue, 20 Jun 2017 07:08:57 GMT
- request:
    method: post
    uri: https://homologation-webpayment.payline.com/webpayment/getToken
    body:
      encoding: US-ASCII
      string: accessKeyRef=1X0m87dmM2LiwFgxPLBJ&cardNumber=3569990000000132&cardExpirationDate=1017&cardCvx=131&data=S2mSVl8PLRVHgaMNATInMg7RI-8-cTD9YHGRLHXvc1N5_WI8LaSEyaOpl4FcmGhTS4wCy-yiraxeE65tmxOe8A
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: data=VLTIjgpf1ag15dmwRyhmOR3WBxiXM6ZL_SXOk7iYPSix_KojazsGjS_aq3BRHtHXjmW1A2n8wFcDC2P7NFSRKYeGoBeh7aSOPBC5YkeUdpD5aeRazDIlcS0048mUlMZak1YQnKMF313IaKh2acrRbg
  recorded_at: Tue, 20 Jun 2017 07:08:58 GMT
- request:
    method: put
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cardregistrations/27865476
    body:
      encoding: UTF-8
      string: '{"RegistrationData":"data=data=VLTIjgpf1ag15dmwRyhmOR3WBxiXM6ZL_SXOk7iYPSix_KojazsGjS_aq3BRHtHXjmW1A2n8wFcDC2P7NFSRKYeGoBeh7aSOPBC5YkeUdpD5aeRazDIlcS0048mUlMZak1YQnKMF313IaKh2acrRbg"}'
    headers:
      Authorization:
      - bearer f70b83f5b62d4d31b1afd5ea769c9fbe
      Content-Type:
      - application/json
      X-Mangopay-Client-[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/27865470/wallets
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer f70b83f5b62d4d31b1afd5ea769c9fbe
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.4 p301 (2017-03-30)","platform":"x86_64-darwin15","uname":"Darwin
        macpro.local 15.6.0 Darwin [...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/payins/card/direct
    body:
      encoding: UTF-8
      string: '{"AuthorId":27865470,"CreditedUserId":27865470,"DebitedFunds":{"Currency":"EUR","Amount":4500.0},"Fees":{"Currency":"EUR","Amount":0.0},"CreditedWalletId":"27865472","SecureModeReturnURL":"http://test.com","SecureMode":"DEFAULT","CardId":"27865478"}'
    headers:
      Authorization:
      - bearer f70b83f5b62d4d31b1afd5ea769c9fbe
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.4 p301 (2017-03-30)","platform":"x86_64-darwin15","uname":"Darwin
        macpro.local 15.6.0 Darwin Kernel Version 15.6.0: Mon Jan  9 23:07:29 PST
        2017; root:xnu-3248.60.11.2.1~1/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '152'
      - '192'
      - '192'
      - '876'
      X-Ratelimit-Remaining:
      - '104724'
      - '2148'
      - '4308'
      - '8608'
      X-Ratelimit-Reset:
      - '1497943440'
      - '1497944340'
      - '1497946140'
      - '1498028880'
    body:
      encoding: UTF-8
      string: '{"Id":"27865479","Tag":null,"CreationDate":1497942540,"AuthorId":"27865470","CreditedUserId":"27865470","DebitedFunds":{"Currency":"EUR","Amount":4500},"CreditedFunds":{"Currency":"EUR","Amount":4500},"Fees":{"Currency":"EUR","Amount":0},"Status":"SUCCEEDED","ResultCode":"000000","ResultMessage":"Success","ExecutionDate":1497942542,"Type":"PAYIN","Nature":"REGULAR","CreditedWalletId":"27865472","DebitedWalletId":null,"PaymentType":"CARD","ExecutionType":"DIRECT","SecureMode":"DEFAULT","CardId":"27865478","SecureModeReturnURL":null,"SecureModeRedirectURL":null,"SecureModeNeeded":false,"StatementDescriptor":null}'
  recorded_at: Tue, 20 Jun 2017 07:09:03 GMT
[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/transfers
    body:
      encoding: UTF-8
      string: '{"AuthorId":27865470,"DebitedFunds":{"Currency":"EUR","Amount":3000.0},"Fees":{"Currency":"EUR","Amount":0.0},"DebitedWalletId":"27865472","CreditedWalletId":"27865474"}'
    headers:
      Authorization:
      - bearer f70b83f5b62d4d31b1afd5ea769c9fbe
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"binding[...]
[...]
