---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic cXdlcnRlYWNocmFpbHM6eGs0WUpMWnZ5S3N5QWJoN0Q3RlRNUk92ckZ6azQyMWZzRE9pRHhIUHJPNlNVYzBvUnA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"95db06505a7d4720973c656b8cb6de8e","token_type":"bearer","expires_in":1199}'
  recorded_at: Tue, 20 Jun 2017 07:08:31 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"KY","Nationality":"TK","Address":{"AddressLine1":"Hollis
        Dam","AddressLine2":"091","PostalCode":"EO02 2YB","City":"East Alimouth","Region":"New
        Jersey","Country":"UZ"},"FirstName":"Nichelle","LastName":"Weimann","Birthday":708969600,"Email":"soo_murphy@sipes.com","PersonType":"NATURAL","Tag":"user
        15"}'
    headers:
      Authorization:
      - bearer 95db06505a7d4720973c656b8cb6de8e
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.4 p301 (2017-03-30)","platform":"x86_64-darwin15","uname":"Darwin
        macpro.local 15.6.0 Darwin Kernel Version 15.6.0: Mon Jan  9 23:07:29 PST
        2017; root:xnu-3248.60.11.2.1~1/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '121'
      - '161'
      - '161'
      - '845'
      X-Ratelimit-Remaining:
      - '104755'
      - '2179'
      - '4339'
      - '8639'
      X-Ratelimit-Reset:
      - '1497943380'
      - '1497944280'
      - '1497946080'
      - '1498028820'
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Hollis Dam","AddressLine2":"091","City":"East
        Alimouth","Region":"New Jersey","PostalCode":"EO02 2YB","Country":"UZ"},"FirstName":"Nichelle","LastName":"Weimann","Birthday":708969600,"Nationality":"TK","CountryOfResidence":"KY","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"Capacity":"NORMAL","PersonType":"NATURAL","Email":"soo_murphy@sipes.com","KYCLevel":"LIGHT","Id":"27865434","Tag":"user
        15","CreationDate":1497942511}'
  recorded_at: Tue, 20 Jun 2017 07:08:31 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[27865434],"Currency":"EUR","Description":"wallet user 15"}'
    headers:
      Authorization:
      - bearer 95db06505a7d4720973c656b8cb6de8e
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.4 p301 (2017-03-30)","platform":"x86_64-darwin15","uname":"Darwin
        macpro.local 15.6.0 Darwin Kernel Version 15.6.0: Mon Jan  9 23:07:29 PST
        2017; root:xnu-3248.60.11.2.1~1/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '122'
      - '162'
      - '162'
      - '846'
      X-Ratelimit-Remaining:
      - '104754'
      - '2178'
      - '4338'
      - '8638'
      X-Ratelimit-Reset:
      - '1497943380'
      - '1497944280'
      - '1497946080'
      - '1498028820'
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 15","Owners":["27865434"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"27865437","Tag":null,"CreationDate":1497942512}'
  recorded_at: Tue, 20 Jun 2017 07:08:32 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/27865434/cards?per_page=100&sort=CreationDate:desc
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer 95db06505a7d4720973c656b8cb6de8e
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.4 p301 (2017-03-30)","platform":"x86_64-darwin15","uname":"Darwin
        macpro.local 15.6.0 Darwin Kernel Version 15.6.0: Mon Jan  9 23:07:29 PST
        2017; root:xnu-3248.60.11.2.1~1/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/27865434/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="first",<https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/27865434/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="last"
      X-Number-Of-Pages:
      - '1'
      X-Number-Of-Items:
      - '0'
      X-Ratelimit:
      - '125'
      - '165'
      - '165'
      - '849'
      X-Ratelimit-Remaining:
      - '104751'
      - '2175'
      - '4335'
      - '8635'
      X-Ratelimit-Reset:
      - '1497943380'
      - '1497944280'
      - '1497946080'
      - '1498028820'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Tue, 20 Jun 2017 07:08:34 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cardregistrations
    body:
      encoding: UTF-8
      string: '{"UserId":27865434,"Currency":"EUR","CardType":"CB_VISA_MASTERCARD"}'
    headers:
      Authorization:
      - bearer 95db06505a7d4720973c656b8cb6de8e
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.4 p301 (2017-03-30)","platform":"x86_64-darwin15","uname":"Darwin
        macpro.local 15.6.0 Darwin Kernel Version 15.6.0: Mon Jan  9 23:07:29 PST
        2017; root:xnu-3248.60.11.2.1~1/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '126'
      - '166'
      - '166'
      - '850'
      X-Ratelimit-Remaining:
      - '104750'
      - '2174'
      - '4334'
      - '8634'
      X-Ratelimit-Reset:
      - '1497943380'
      - '1497944280'
      - '1497946080'
      - '1498028820'
    body:
      encoding: UTF-8
      string: '{"Id":"27865440","Tag":null,"CreationDate":1497942514,"UserId":"27865434","AccessKey":"1X0m87dmM2LiwFgxPLBJ","PreregistrationData":"fztL6okJyT8dJpVcSz7IN0nCuy_v69V8qd6Ywg7bp4AY7SkOqdnWIEKRRUXLBz7ZS4wCy-yiraxeE65tmxOe8A","RegistrationData":null,"CardId":null,"CardType":"CB_VISA_MASTERCARD","CardRegistrationURL":"https://homologation-webpayment.payline.com/webpayment/getToken","ResultCode":null,"ResultMessage":null,"Currency":"EUR","Status":"CREATED"}'
  recorded_at: Tue, 20 Jun 2017 07:08:34 GMT
- request:
    method: post
    uri: https://homologation-webpayment.payline.com/webpayment/getToken
    body:
      encoding: US-ASCII
      string: accessKeyRef=1X0m87dmM2LiwFgxPLBJ&cardNumber=3569990000000132&cardExpirationDate=1017&cardCvx=131&data=fztL6okJyT8dJpVcSz7IN0nCuy_v69V8qd6Ywg7bp4AY7SkOqdnWIEKRRUXLBz7ZS4wCy-yiraxeE65tmxOe8A
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: data=h_vedXouHHyTkPJNolkKQMxWW43uVX3XxTtjy-3Wv-9SUoR5qvdAr0tiBuZBY1Of6llujquVczHD-qufUg7Otqxk0_oooMnyjS5kWqog2CZ6eaCEkcPylsYfQxmQLY9443bqrELHgrGpXbs_IqK8Sg
  recorded_at: Tue, 20 Jun 2017 07:08:35 GMT
- request:
    method: put
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cardregistrations/27865440
    body:
      encoding: UTF-8
      string: '{"RegistrationData":"data=data=h_vedXouHHyTkPJNolkKQMxWW43uVX3XxTtjy-3Wv-9SUoR5qvdAr0tiBuZBY1Of6llujquVczHD-qufUg7Otqxk0_oooMnyjS5kWqog2CZ6eaCEkcPylsYfQxmQLY9443bqrELHgrGpXbs_IqK8Sg"}'
    headers:
      Authorization:
      - bearer 95db06505a7d4720973c656b8cb6de8e
      Content-Type:
      - application/json
      X-Mangopay-Client-[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/27865434/wallets
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer 95db06505a7d4720973c656b8cb6de8e
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.4 p301 (2017-03-30)","platform":"x86_64-darwin15","uname":"Darwin
        macpro.local 15.6.0 Darwin [...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/payins/card/direct
    body:
      encoding: UTF-8
      string: '{"AuthorId":27865434,"CreditedUserId":27865434,"DebitedFunds":{"Currency":"EUR","Amount":4500.0},"Fees":{"Currency":"EUR","Amount":0.0},"CreditedWalletId":"27865437","SecureModeReturnURL":"http://test.com","SecureMode":"DEFAULT","CardId":"27865442"}'
    headers:
      Authorization:
      - bearer 95db06505a7d4720973c656b8cb6de8e
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.4 p301 (2017-03-30)","platform":"x86_64-darwin15","uname":"Darwin
        macpro.local 15.6.0 Darwin Kernel Version 15.6.0: Mon Jan  9 23:07:29 PST
        2017; root:xnu-3248.60.11.2.1~1/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '129'
      - '169'
      - '169'
      - '853'
      X-Ratelimit-Remaining:
      - '104747'
      - '2171'
      - '4331'
      - '8631'
      X-Ratelimit-Reset:
      - '1497943380'
      - '1497944280'
      - '1497946080'
      - '1498028820'
    body:
      encoding: UTF-8
      string: '{"Id":"27865444","Tag":null,"CreationDate":1497942516,"AuthorId":"27865434","CreditedUserId":"27865434","DebitedFunds":{"Currency":"EUR","Amount":4500},"CreditedFunds":{"Currency":"EUR","Amount":4500},"Fees":{"Currency":"EUR","Amount":0},"Status":"SUCCEEDED","ResultCode":"000000","ResultMessage":"Success","ExecutionDate":1497942518,"Type":"PAYIN","Nature":"REGULAR","CreditedWalletId":"27865437","DebitedWalletId":null,"PaymentType":"CARD","ExecutionType":"DIRECT","SecureMode":"DEFAULT","CardId":"27865442","SecureModeReturnURL":null,"SecureModeRedirectURL":null,"SecureModeNeeded":false,"StatementDescriptor":null}'
  recorded_at: Tue, 20 Jun 2017 07:08:38 GMT
[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/transfers
    body:
      encoding: UTF-8
      string: '{"AuthorId":27865434,"DebitedFunds":{"Currency":"EUR","Amount":3000.0},"Fees":{"Currency":"EUR","Amount":0.0},"DebitedWalletId":"27865437","CreditedWalletId":"27865439"}'
    headers:
      Authorization:
      - bearer 95db06505a7d4720973c656b8cb6de8e
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"binding[...]
[...]
