= render :partial => 'header', locals:{title: 'Comment convaincre?'}
.container
  .row
    .col-sm-3.col-md-offset-1
      = render :partial => 'navigation'
    .col-sm-9.col-md-7
      %h3 Convaincre
      %p
        Dans les chapitres précédents, nous avons vu comment amener de potentiels élèves à vous contacter. Si vous
        avez tout fait correctement, vous devrez être rapidement contacté par de nombreuses personnes désirant plus
        d’informations (surtout à l’approche des examens). Mais travail ne s’arrête donc pas là!
      %p
        Lors de la rédaction de vos annonces, vous avez le choix de préciser ou non que vos cours sont donnés en ligne.
        À moins que vous ne soyez submergé par les demande de cours, <b>nous vous recommandons de ne pas le préciser
        trop vite</b>. Vous aurez l’occasion de mettre la personne intéressée au courant lorsqu’elle vous contactera.
        En effet, le cours en ligne est quelque chose d’inhabituel: parents et élèves ne sont pas habitués à cela et ne
        se sentent souvent pas prêts à l’expérimenter. <b>A vous de préparer un argumentaire afin de les mettre en
        confiance et ainsi décrocher vos premiers élèves</b>. Après avoir expliqué votre méthode, vous pouvez proposer
        un premier cours gratuit  pour que votre élève puisse essayer le cours par internet sans s’engager. C’est un
        gage de qualité qui montre que vous êtes vous-même convaincu de l'efficacité de cette méthode. 80% des élèves
        qui essayent un premier cours gratuit prennent ensuite un cours payant avec le même professeur.
      %p
        Concernant la façon de se comporter vis-à-vis de votre interlocuteur pour le convaincre au mieux, nous vous
        présentons à travers ces lignes deux méthodes distinctes. La première, pour ceux qui se sentent à l’aise en
        entretien, vise à se mettre en retrait par rapport au client. La seconde vous met en avant, vous et vos
        arguments, face à l'interlocuteur.

      %h4 La méthode classique:
      %p
        Un des principes fondamentaux de la négociation est <b>l’écoute de l’interlocuteur</b>. Cela ne peut donc se faire
        qu’en se mettant en retrait par rapport à celui-ci pour <b>le laisser au maximum s’exprimer</b>. Vous ne devez
        donc pas noyer votre interlocuteur sous un torrent d’arguments, au contraire,
        <b>parlez peu et écoutez-le le plus possible!</b>
      %p
        Vous devez dans un premier temps vous intéresser à l’élève, en lui demandant (ou à ses parents) ses motivations,
        ses difficultés, son parcours, etc… Soyez attentif et patient, relancez votre interlocuteur. S’il est prêt à
        parler de lui ou de son enfant pendant plus de 20 minutes, soyez prêt à l’écouter, c’est essentiel.
        <b>Plus une personnes vous parlera d’elle, plus elle sera encline à vous faire confiance</b> grâce à l’attention
        que vous lui avez portée. Ecoutez-la sincèrement: plus vous connaîtrez la personne, plus vous la comprendrez et
        <b>plus vous serez à même de lui proposer les solutions qui répondent à ses besoins</b>.
      %p
        Après avoir découvert en profondeur les besoins et les attentes de l’élève, vous devez mettre en avant des
        arguments pertinents qui le toucheront. Cette partie de l’entretien peut rendre cette méthode compliquée pour
        certaines personnes qui se sentent moins à l’aise à l’oral. En effet, <b>il est de votre ressort de trouver
        pendant la discussion des arguments pertinents pour votre interlocuteur</b>, et non de faire une liste d’arguments
        avant même d’avoir rencontré la personne.
      %p
        Cette méthode est très efficace car elle permet de répondre précisément aux besoins du client. Elle instaure
        également un climat de confiance et de collaboration qui est un excellent point de départ pour commencer à
        travailler ensemble. Cependant, pour l’appliquer,  il vous faut être à l’aise en entretien.

      %h4 Méthode alternative:
      %p
        Comme nous l’avons énoncé plus haut, tout le monde ne possèdent pas des aptitudes extraordinaires en termes de
        négociation. Cela peut se traduire par de la timidité ou un manque de confiance en soi. Cette deuxième méthode
        permet donc à n’importe qui de développer un argumentaire clair pour ainsi <b>convaincre son interlocuteur de
        l’avantage des cours par internet</b>. La stratégie à adopter est donc de prévoir votre argumentaire en amont de
        l’entretien. En ayant une liste d’avantages déjà établie, vous pourrez vous familiariser préalablement avec
        vos arguments.
      %p
        Le but ici est de <b>vous mettre en avant en tant que professeur</b>. Il convient donc de vous présenter
        personnellement, en présentant votre parcours, vos motivations, vos méthodes d'enseignement ainsi que les
        autres points qui vous semblent utiles pour mettre vos capacités en avant et dégager une certaine plus value
        par rapport aux autres professeurs.
      %p
        Un argumentaire préparé à l’avance vous permettra de répondre clairement et facilement à vos interlocuteurs.
        Vous devez trouver des éléments pouvant les rassurer au maximum. Nous vous conseillons donc de mettre
        l’accent sur certains points:
      %ul
        %li -	<b>L’efficacité du cours par internet</b>, avec une interface spécialement optimisée dans un but pédagogique et l’utilisation de supports numériques facilement mis en commun entre le prof et l’élève. Ainsi, le cours est plus efficace et le professeur et son élève peuvent se focaliser sur l’essentiel.
        %li -	Pour suivre le cours il ne faut <b>rien de compliqué</b>: uniquement une souris et un clavier, le micro est la webcam étant déjà intégrés dans presque tous les ordinateurs, et une simple paire d’écouteurs suffit amplement. Aucune installation ne doit être faite sur son ordinateur pour rejoindre la classe virtuelle, tout se passe dans une page web. Pas besoin d’être un génie en informatique pour suivre un cours par internet !
        %li -	<b>Pas de contrainte de déplacement</b> pour le professeur (ou l’élève), ce qui permet une plus grande flexibilité dans la planification des cours. Sans les soucis de transport, le professeur sera naturellement plus disponible pour son élève. Grâce à cela, les cours peuvent être planifiés plus régulièrement pour des durées moins longues. Il a été prouvé scientifiquement que deux cours de 45min sont bien plus efficaces d’un point de vue pédagogique qu’un seul cours de 1h30min!
        %li -	<b>La sécurité  des paiements</b>, notamment avec l’utilisation de plateformes de transaction sécurisées. Lorsque l’élève réserve son cours, l’argent est dans un premier temps bloqué sur Qwerteach. Il ne sera versé au professeur qu’à la suite du cours, si celui-ci s’est bien déroulé. La qualité de l’enseignement est donc privilégiée face aux préoccupations d’ordre pécuniaire.
        %li -	Grâce au <b>cours enregistrés</b>, l’élève pourra visionner autant de fois qu’il veut les explications de son professeurs, ainsi que la correction des exercices. Évitant ainsi qu’il fasse du sur-place lorsque son professeur n’est pas disponible.

      %p
        Voici un peu d’inspiration en vidéo:
      .video-container
        <iframe width="560" height="315" src="https://www.youtube.com/embed/t3i8L94rvV0" frameborder="0" allowfullscreen></iframe>

      %h4 Les différents supports de communication
      %p
        Pour vendre votre méthode d’enseignement, différents supports de communication s’offre à vous:
        <b>l’e-mail, l’entretien téléphonique et l’entretien par visioconférence</b>. Il vous faudra donc maîtriser ces
        moyens de communication pour pouvoir répondre aux attentes des clients et les convaincre. Cependant, ces
        outils n’ont pas la même efficacité. Gardez en tête que si un élève ou un parent vous contacte avec un
        certain support, vous pouvez très bien lui proposer de continuer vos échanges avec un autre (peut-être plus
        adapté pour le convaincre).

      %p
        <b>Premièrement, l’e-mail:</b>
        %br
        C’est sûrement le moyen le plus utilisé par un intéressé pour prendre contact avec
        vous. Nous vous conseillons de préparer préalablement une structure “type” d’un mail de réponse (que vous
        adapterez selon les demandes bien-sûr). Votre but est d’avoir un entretien. Evitez de rentrer dans de longs
        argumentaires, vous ne convaincrez personne par E-mail. Répondez succinctement aux questions directes qui
        vous sont posées et proposez un rendez-vous téléphonique ou par visioconférence aussi tôt que possible.

      %p
        Exemple:
        %blockquote.toolbox-blockquote
          Bonjour, <br />
          Étudiant en année master en sciences commerciales. Je cherche un professeur de mathématique sérieux, pour pouvoir résoudre avec détail les exercices donnés par le professeur pour par la suite, les refaire chez moi avec certitude.
          La matière concerne: les dérivées partielles, approximation au premier ordre, productivités marginales, dérivation des fonctions composées, fonctions implicites optimisations, monopole discriminant.
          Pouvez-vous m'aider et quel serait le prix? Merci d'avance.<br />
          Cordialement
        Réponse type:
        %blockquote.toolbox-blockquote
          Bonjour,<br />
          Oui je pense pouvoir vous aider, en effet j’ai l’habitude d’aider des étudiants dans ces matières.
          Pour des cours particulier de ce niveau je demande 20€/h.<br />
          J’aimerais en discuter avec vous par téléphone, vous pouvez me joindre tout les jour entre 16h et 22h au
          06 xx xx xx 89. Nous pouvons également fixer un rendez-vous skype à votre convenance, mon id est “Alexandre42”<br />
          Cordialement

      %p
        Si vous avez trop d’appels d’élèves potentiels, si les coups de fils vous prennent trop de temps, vous pouvez
        convaincre vos interlocuteurs par e-mail. Comme nous l’avons mentionné plus haut, c’est beaucoup moins efficace,
        mais çelà prend beaucoup moins de temps que par téléphone. Dans ce cas, vous pouvez par exemple vous présenter,
        donner un lien vers votre profil Qwerteach puis énoncer les principaux avantages du cours particulier
        via internet.

      %p
        Cependant, sachez que <b>l’e-mail reste l’outil le moins efficace pour convaincre un élève ou un parent</b>.
        En effet, beaucoup sont d’abord réticents vis-à-vis du cours particulier en ligne à cause de la nouveauté de
        l’approche. Comme ce n’est pas ce à quoi ils s’attendent en cherchant un cours particulier, beaucoup ont un
        premier réflexe de recul. Un e-mail, même très bien rédigé, ne permettra pas à l’intéressé de réellement mieux
        vous connaître, et ne sera peut-être même pas lu au delà des mots “par internet”. <b>Nous vous conseillons donc,
        quand cela peut se faire, d’établir un contact par téléphone ou par visioconférence</b> avec votre interlocuteur.

      %p
        Deuxièmement, l’entretien téléphonique: ce moyen est efficace pour convaincre une personne réticente car
        pouvoir <b>parler de vive voix avec son interlocuteur reste quelque chose de rassurant</b> (méthode classique vue plus
        haut). Cela demande une certain aisance à l’oral pour paraître convaincant et ainsi mettre l’élève ou le
        parent en confiance. Si cela n’est pas votre fort, nous vous conseillons de préparer préalablement (comme pour
        l’e-mail) votre argumentaire (méthode alternative vue plus haut) pour ainsi aborder sereinement l’entretien et
        vous focaliser pleinement sur votre client et non sur l’intonation de votre voix ou sur votre façon de vous
        exprimer. Si vous avez tendance à vous perdre, nous vous conseillons de garder vos notes sous la main lors de
        vos appels pour ainsi être le plus à l’aise possible. Petite astuce: avant de de téléphoner, chauffez-vous
        quelques secondes comme si vous alliez monter sur scène. Si c’est votre téléphone qui sonne, prenez au moins une
        grande inspiration et deux secondes pour rassembler vos esprits avant de décrocher, vous ferez une
        bien meilleure impression.

      %p
        Troisièmement, l’entretien par visioconférence. Cet outil, vous permettant de communiquer de vive voix et
        quasiment face à face avec votre interlocuteur, est <b>la méthode la plus fiable pour convaincre</b> une
        personne réticente. En effet, établir un entretien quasiment physiquement permettra d’effacer tout manque de
        transparence vis-à-vis de vous. L’élève ou le parent saura donc à qui il a réellement affaire.
        La visioconférence pourra également vous permettre de <b>montrer vos supports de cours</b> (fiches, manuel,
        exercices, etc…)

      %p
        Cependant, les même difficultés qu’avec l’entretien téléphonique se retrouvent ici (si ce n’est pire).
        Pour paraître convaincant, il vous faudra <b>être parfaitement à l’aise, autant avec votre discours qu’avec
        votre posture</b>. Nous vous conseillons donc de bien préparer votre entretien au préalable.
        Faites également attention à votre tenue vestimentaire: optez pour une tenue sérieuse (sans être guindé !),
        ayez sous la main de quoi prendre des notes, cela vous rendra plus crédible et montrera à votre interlocuteur
        que vous êtes réellement prêt à enseigner.

      %p
        Gardez bien à l’esprit que <b>le but lors d’un échange par e-mail et d’obtenir un entretien</b> téléphonique ou
        par vidéoconférence. Lors de cet entretien de vive voix, le but est d’obtenir un rendez vous pour un premier
        cours (gratuit ou non). Enfin le but lors de ce premier cours et d’aider au mieux votre élève. Après quelques
        cours, demandez lui de vous <b>laisser une évaluation</b> (si ce n’est déjà fait), elle vous aidera grandement avec
        les élèves suivants.

      %p
        Convaincre un élève ou ses parents de passer aux cours par internet est une <b>tâche qui demande beaucoup
        d’énergie</b>, surtout les premiers temps. Au fur et à mesure que vous vous affinez votre méthode,
        le processus deviendra de plus en plus aisé. Une fois que vous aurez obtenu vos premières recommandations,
        le plus dur sera derrière vous.
      %p
        Gardez à l’esprit que chaque appel ne débouchera pas sur un nouvel élève, mais si au bout d’une dizaine
        d’appels vous n’avez toujours pas pu obtenir de cours, il y a peut-être quelque chose à revoir dans votre
        méthode. <b>L’équipe du site est là pour vous aider, profitez-en </b>!

      %hr
      %h3 Conclusion
      %p
        Vous l’avez bien compris, s’inscrire sur Qwerteach ne vous garanti pas d’avoir dès le début une multitude de
        propositions de cours. La <b>publication d’annonces</b> ainsi qu’une bonne utilisation des <b>réseaux sociaux</b> vous
        offrira une plus grande visibilité. N’oubliez pas de poster des liens vers votre profil Qwerteach sur
        vos différents comptes de réseaux sociaux, pour augmenter la visibilité de votre profil. La rédaction de
        vos différentes annonces et offres est également très importante. Concernant l’étape critique qu’est le
        fait d’expliquer que vous dispensez vos cours via internet, faites-le au moment que vous jugez le plus
        opportun, généralement de vive voix (par téléphone ou en vidéoconférence)...
      %p
        Concernant l’attitude à avoir pour convaincre une personne hésitante aux cours via internet,
        il n’en revient qu’à vous de <b>préparer votre argumentaire pour être le plus convainquant possible</b>,
        mais surtout d’<b>être à l’écoute</b> du client. N’oubliez pas que vous avez un argument en or: la possibilité
        de proposer un premier cours gratuit à vos élèves. Ce cours gratuit aboutit généralement à un élève régulier.
      %p
        Si vous avez encore des doutes sur certains points, Qwerteach vous propose des entretiens personnalisés
        pour vous aider à vous améliorer. <b>Nous sommes à votre disposition pour vous aider</b> concernant votre visibilité
        sur internet, votre profil Qwerteach, mais également votre attitude pour convaincre. Alors n’hésitez pas!
      %hr

