= render :partial => 'header', locals:{title: 'Convaincre'}
.container
  .row
    .col-sm-3.col-md-offset-1
      = render :partial => 'navigation'
    .col-sm-9.col-md-7
      %h3 Convaincre
      %h4 Convaincre par e-mail
      %p Si une personne vous demande des précisions sur votre méthode d’enseignement et/ou sur l’utilisation d’un interface internet lors des cours particuliers, nous vous conseillons de préparer une réponse « type » que vous pourrez adapter selon chaque demande. Vous pouvez également contacter un admin de Qwerteach pour vous aider à mettre en valeur votre réponse.
      %p
        Votre argumentaire devra inclure certains points importants :
        %ul
          %li Mettre l’accent sur vos compétences, avec votre niveau ainsi que votre expérience en termes d’études et d’enseignement.
          %li Parler de votre motivation pour enseigner et ainsi mettre en confiance l’élève ou le parent.
          %li Concernant la méthode d’enseignement « en ligne », vous devez amener cela de façon subtile lors de votre speech si vous n’en n’avez pas parlé dans votre annonce. Vous pouvez, par exemple, expliquer votre scepticisme lorsque vous avez débuté avec cette méthode avant de découvrir tout le potentiel de cette méthode par la suite. Il vous faudra également mettre en avant le service en lui-même proposé par Qwerteach, notamment en mettant l’accent sur la fiabilité de l’interface, et sur le fait qu’une équipe compétente est là pour faire évoluer le concept et satisfaire le client du mieux qu’elle le peut.

      %h4 Convaincre par téléphone
      %p Pour convaincre par téléphone, la méthode reste la même. Il vous faudra cependant vous entrainer pour être le plus à l’aise possible lors de l’entretien. Vous pouvez également prendre un rendez-vous avec un coach Qwerteach pour optimiser au mieux vos chances de convaincre à l’oral.