.card.card-search
  .card-content
    .row
      .col-xs-2
        .icon-coloured.icon-green.icon-title
          %i.fa.fa-graduation-cap.fa-2x
      .col-xs-10
        .card-title
          #{@past_lessons_given.count} Cours <br /> donnés
        %p
          =link_to "Voir l'historique complet", lessons_path + "#history", class: 'text-green'