.card.card-search
  .card-content
    .row
      .col-xs-2
        %i.fa.fa-calendar.fa-2x
      .col-xs-10
        .card-title
          #{@user.lessons_received.past.count} Cours suivis
        %p
          =link_to "Voir l'historique complet", profs_path, class: 'text-green'