.card.card-search
  .card-content
    .row
      .col-xs-2
        .icon-coloured.icon-orange.icon-title
          %i.fa.fa-question.fa-2x
      .col-xs-10
        .card-title
          #{@pending_lessons.length}
          cours en attente
        %p
          =link_to 'Voir la liste', lessons_path