.card.card-search
  .card-content
    .row
      .col-xs-2
        .icon-coloured.icon-orange.icon-title
          %i.fa.fa-question.fa-2x
      .col-xs-10
        .card-title{ @past_lessons.count == 0? {data: {toggle: 'tooltip' , title:"Toutes vos réservations en attente de validation apparaîssent ici."}} : {}}
          #{@pending_lessons.length}
          réservations en attente
        %p
          =link_to 'Voir la liste', lessons_path + "#pending"