.card.card-search
  .card-content
    .row
      .col-xs-2
        .icon-coloured.icon-mauve.icon-title
          %i.fa.fa-search.fa-2x
      .col-xs-10
        .card-title Trouvez <br />un prof
        %p
          =link_to 'Tous les profs', profs_path