.card.card-search
  .card-content
    .card-title
      %i.fa.fa-euro.pull-left
      Portefeuille:
      - unless @user.mango_id.nil?
        %span.text-green #{@user.total_wallets_in_cents/100} €
    -if @user.mango_id.nil?
      =link_to 'Configurer mon portefeuille', edit_wallet_path(@user), class: 'text-green'
    -else
      - if @user.is_a?(Teacher)
        = link_to 'Verser sur mon compte bancaire', load_wallet_path
      - else
        = link_to 'Charger', load_wallet_path