---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic cXdlcnRlYWNocmFpbHM6eGs0WUpMWnZ5S3N5QWJoN0Q3RlRNUk92ckZ6azQyMWZzRE9pRHhIUHJPNlNVYzBvUnA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"d6c0c96201f841a7b18acec3f7c988de","token_type":"bearer","expires_in":1199}'
  recorded_at: Wed, 22 Mar 2017 18:55:10 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"MF","Nationality":"MZ","Address":{"AddressLine1":"Hackett
        Road","AddressLine2":"136","PostalCode":"YZ6 4KP","City":"West Kourtneystad","Region":"New
        Jersey","Country":"GM"},"FirstName":"Janel","LastName":"Graham","Birthday":701197200,"Email":"wava.keeling@hintzmurazik.us","PersonType":"NATURAL","Tag":"user
        5"}'
    headers:
      Authorization:
      - bearer d6c0c96201f841a7b18acec3f7c988de
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '130'
      - '176'
      - '243'
      - '3743'
      X-Ratelimit-Remaining:
      - '101857'
      - '2170'
      - '4324'
      - '8557'
      X-Ratelimit-Reset:
      - '1490209800'
      - '1490210700'
      - '1490212500'
      - '1490295240'
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Hackett Road","AddressLine2":"136","City":"West
        Kourtneystad","Region":"New Jersey","PostalCode":"YZ6 4KP","Country":"GM"},"FirstName":"Janel","LastName":"Graham","Birthday":701197200,"Nationality":"MZ","CountryOfResidence":"MF","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"PersonType":"NATURAL","Email":"wava.keeling@hintzmurazik.us","KYCLevel":"LIGHT","Id":"23103443","Tag":"user
        5","CreationDate":1490208906}'
  recorded_at: Wed, 22 Mar 2017 18:55:11 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[23103443],"Currency":"EUR","Description":"wallet user 5"}'
    headers:
      Authorization:
      - bearer d6c0c96201f841a7b18acec3f7c988de
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '131'
      - '177'
      - '244'
      - '3744'
      X-Ratelimit-Remaining:
      - '101856'
      - '2169'
      - '4323'
      - '8556'
      X-Ratelimit-Reset:
      - '1490209800'
      - '1490210700'
      - '1490212500'
      - '1490295240'
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 5","Owners":["23103443"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"23103444","Tag":null,"CreationDate":1490208907}'
  recorded_at: Wed, 22 Mar 2017 18:55:12 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23103443/wallets
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer d6c0c96201f841a7b18acec3f7c988de
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23103443/wallets?page=1&per_page=10>;
        rel="first",<https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23103443/wallets?page=1&per_page=10>;
        rel="last"
      X-Number-Of-Pages:
      - '1'
      X-Number-Of-Items:
      - '3'
      X-Ratelimit:
      - '134'
      - '180'
      - '247'
      - '3747'
      X-Ratelimit-Remaining:
      - '101853'
      - '2166'
      - '4320'
      - '8553'
      X-Ratelimit-Reset:
      - '1490209800'
      - '1490210700'
      - '1490212500'
      - '1490295240'
    body:
      encoding: UTF-8
      string: '[{"Description":"wallet user 5","Owners":["23103443"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"23103444","Tag":null,"CreationDate":1490208907},{"Description":"wallet
        bonus 5","Owners":["23103443"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"23103445","Tag":"Bonus","CreationDate":1490208907},{"Description":"wallet
        transfert 5","Owners":["23103443"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"23103446","Tag":"Transfert","CreationDate":1490208908}]'
  recorded_at: Wed, 22 Mar 2017 18:55:14 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/payins/card/web
    body:
      encoding: UTF-8
      string: '{"AuthorId":"23103443","DebitedFunds":{"Currency":"EUR","Amount":5000.0},"Fees":{"Currency":"EUR","Amount":-300.0},"CreditedWalletId":"23103444","ReturnURL":"http://test.com","Culture":"FR","CardType":"BCMC","SecureMode":"FORCE"}'
    headers:
      Authorization:
      - bearer d6c0c96201f841a7b18acec3f7c988de
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Message":"One or several required parameters are missing or incorrect.
        An incorrect resource ID also raises this kind of error.","Type":"param_error","Id":"2dfbd54e-a49e-4abe-8088-435fbed5fff6#1490208909","Date":1490208911.0,"errors":{"Fees":"The
        value cannot be negative"}}'
  recorded_at: Wed, 22 Mar 2017 18:55:14 GMT
recorded_with: VCR 3.0.3
