---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic cXdlcnRlYWNocmFpbHM6eGs0WUpMWnZ5S3N5QWJoN0Q3RlRNUk92ckZ6azQyMWZzRE9pRHhIUHJPNlNVYzBvUnA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"1ea4543b5d284de8824bcc5ab708f883","token_type":"bearer","expires_in":1199}'
  recorded_at: Wed, 22 Mar 2017 18:55:04 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"AD","Nationality":"RS","Address":{"AddressLine1":"Stamm
        Union","AddressLine2":"0269","PostalCode":"AN2 1RF","City":"Fisherfort","Region":"Minnesota","Country":"OM"},"FirstName":"Graham","LastName":"Bradtke","Birthday":701197200,"Email":"exie.herman@volkmanhodkiewicz.com","PersonType":"NATURAL","Tag":"user
        5"}'
    headers:
      Authorization:
      - bearer 1ea4543b5d284de8824bcc5ab708f883
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '127'
      - '173'
      - '240'
      - '3740'
      X-Ratelimit-Remaining:
      - '101860'
      - '2173'
      - '4327'
      - '8560'
      X-Ratelimit-Reset:
      - '1490209740'
      - '1490210640'
      - '1490212440'
      - '1490295180'
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Stamm Union","AddressLine2":"0269","City":"Fisherfort","Region":"Minnesota","PostalCode":"AN2
        1RF","Country":"OM"},"FirstName":"Graham","LastName":"Bradtke","Birthday":701197200,"Nationality":"RS","CountryOfResidence":"AD","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"PersonType":"NATURAL","Email":"exie.herman@volkmanhodkiewicz.com","KYCLevel":"LIGHT","Id":"23103435","Tag":"user
        5","CreationDate":1490208899}'
  recorded_at: Wed, 22 Mar 2017 18:55:05 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[23103435],"Currency":"EUR","Description":"wallet user 5"}'
    headers:
      Authorization:
      - bearer 1ea4543b5d284de8824bcc5ab708f883
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '126'
      - '172'
      - '239'
      - '3739'
      X-Ratelimit-Remaining:
      - '101861'
      - '2174'
      - '4328'
      - '8561'
      X-Ratelimit-Reset:
      - '1490209800'
      - '1490210700'
      - '1490212500'
      - '1490295240'
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 5","Owners":["23103435"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"23103436","Tag":null,"CreationDate":1490208900}'
  recorded_at: Wed, 22 Mar 2017 18:55:05 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23103435/wallets
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer 1ea4543b5d284de8824bcc5ab708f883
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23103435/wallets?page=1&per_page=10>;
        rel="first",<https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23103435/wallets?page=1&per_page=10>;
        rel="last"
      X-Number-Of-Pages:
      - '1'
      X-Number-Of-Items:
      - '3'
      X-Ratelimit:
      - '129'
      - '175'
      - '242'
      - '3742'
      X-Ratelimit-Remaining:
      - '101858'
      - '2171'
      - '4325'
      - '8558'
      X-Ratelimit-Reset:
      - '1490209800'
      - '1490210700'
      - '1490212500'
      - '1490295240'
    body:
      encoding: UTF-8
      string: '[{"Description":"wallet user 5","Owners":["23103435"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"23103436","Tag":null,"CreationDate":1490208900},{"Description":"wallet
        bonus 5","Owners":["23103435"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"23103437","Tag":"Bonus","CreationDate":1490208901},{"Description":"wallet
        transfert 5","Owners":["23103435"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"23103438","Tag":"Transfert","CreationDate":1490208902}]'
  recorded_at: Wed, 22 Mar 2017 18:55:08 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/payins/card/web
    body:
      encoding: UTF-8
      string: '{"AuthorId":"23103435","DebitedFunds":{"Currency":"EUR","Amount":-5000.0},"Fees":{"Currency":"EUR","Amount":300.0},"CreditedWalletId":"23103436","ReturnURL":"http://test.com","Culture":"FR","CardType":"BCMC","SecureMode":"FORCE"}'
    headers:
      Authorization:
      - bearer 1ea4543b5d284de8824bcc5ab708f883
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"Message":"CreditedFund can''t be negative","Type":"credited_fund_cannot_be_negative","Id":"ed4d61c5-0f22-4f6c-9a47-ae75ecfb7ee2#1490208903","Date":1490208905.0,"errors":null}'
  recorded_at: Wed, 22 Mar 2017 18:55:09 GMT
recorded_with: VCR 3.0.3
