---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic cXdlcnRlYWNocmFpbHM6eGs0WUpMWnZ5S3N5QWJoN0Q3RlRNUk92ckZ6azQyMWZzRE9pRHhIUHJPNlNVYzBvUnA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"ba3ff43bc8f040c98354e11f68a74950","token_type":"bearer","expires_in":1199}'
  recorded_at: Wed, 22 Mar 2017 18:54:58 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"ID","Nationality":"GD","Address":{"AddressLine1":"Strosin
        Club","AddressLine2":"259","PostalCode":"CB15 6QB","City":"Elkehaven","Region":"Alaska","Country":"TL"},"FirstName":"Claudia","LastName":"Dare","Birthday":701197200,"Email":"serita@white.co.uk","PersonType":"NATURAL","Tag":"user
        5"}'
    headers:
      Authorization:
      - bearer ba3ff43bc8f040c98354e11f68a74950
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '121'
      - '167'
      - '234'
      - '3734'
      X-Ratelimit-Remaining:
      - '101866'
      - '2179'
      - '4333'
      - '8566'
      X-Ratelimit-Reset:
      - '1490209740'
      - '1490210640'
      - '1490212440'
      - '1490295180'
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Strosin Club","AddressLine2":"259","City":"Elkehaven","Region":"Alaska","PostalCode":"CB15
        6QB","Country":"TL"},"FirstName":"Claudia","LastName":"Dare","Birthday":701197200,"Nationality":"GD","CountryOfResidence":"ID","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"PersonType":"NATURAL","Email":"serita@white.co.uk","KYCLevel":"LIGHT","Id":"23103429","Tag":"user
        5","CreationDate":1490208894}'
  recorded_at: Wed, 22 Mar 2017 18:54:59 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[23103429],"Currency":"EUR","Description":"wallet user 5"}'
    headers:
      Authorization:
      - bearer ba3ff43bc8f040c98354e11f68a74950
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '122'
      - '168'
      - '235'
      - '3735'
      X-Ratelimit-Remaining:
      - '101865'
      - '2178'
      - '4332'
      - '8565'
      X-Ratelimit-Reset:
      - '1490209740'
      - '1490210640'
      - '1490212440'
      - '1490295180'
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 5","Owners":["23103429"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"23103430","Tag":null,"CreationDate":1490208894}'
  recorded_at: Wed, 22 Mar 2017 18:54:59 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23103429/wallets
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer ba3ff43bc8f040c98354e11f68a74950
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23103429/wallets?page=1&per_page=10>;
        rel="first",<https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23103429/wallets?page=1&per_page=10>;
        rel="last"
      X-Number-Of-Pages:
      - '1'
      X-Number-Of-Items:
      - '3'
      X-Ratelimit:
      - '125'
      - '171'
      - '238'
      - '3738'
      X-Ratelimit-Remaining:
      - '101862'
      - '2175'
      - '4329'
      - '8562'
      X-Ratelimit-Reset:
      - '1490209740'
      - '1490210640'
      - '1490212440'
      - '1490295180'
    body:
      encoding: UTF-8
      string: '[{"Description":"wallet user 5","Owners":["23103429"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"23103430","Tag":null,"CreationDate":1490208894},{"Description":"wallet
        bonus 5","Owners":["23103429"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"23103431","Tag":"Bonus","CreationDate":1490208895},{"Description":"wallet
        transfert 5","Owners":["23103429"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"23103432","Tag":"Transfert","CreationDate":1490208896}]'
  recorded_at: Wed, 22 Mar 2017 18:55:02 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/payins/card/web
    body:
      encoding: UTF-8
      string: '{"AuthorId":"23103429","DebitedFunds":{"Currency":"EUR","Amount":5000.0},"Fees":{"Currency":"EUR","Amount":300.0},"CreditedWalletId":"23103430","ReturnURL":"http://test.com","Culture":"FR","CardType":"BCMC","SecureMode":"FORCE"}'
    headers:
      Authorization:
      - bearer ba3ff43bc8f040c98354e11f68a74950
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '126'
      - '172'
      - '239'
      - '3739'
      X-Ratelimit-Remaining:
      - '101861'
      - '2174'
      - '4328'
      - '8561'
      X-Ratelimit-Reset:
      - '1490209740'
      - '1490210640'
      - '1490212440'
      - '1490295180'
    body:
      encoding: UTF-8
      string: '{"Id":"23103433","Tag":null,"CreationDate":1490208897,"AuthorId":"23103429","CreditedUserId":"23103429","DebitedFunds":{"Currency":"EUR","Amount":5000},"CreditedFunds":{"Currency":"EUR","Amount":4700},"Fees":{"Currency":"EUR","Amount":300},"Status":"CREATED","ResultCode":null,"ResultMessage":null,"ExecutionDate":null,"Type":"PAYIN","Nature":"REGULAR","CreditedWalletId":"23103430","DebitedWalletId":null,"PaymentType":"CARD","ExecutionType":"WEB","RedirectURL":"https://homologation-secure-p.payline.com/webpayment/step2.do?reqCode=prepareStep2&token=23OVhrIwQm6uaegwb4901490208898282","ReturnURL":"http://test.com/?transactionId=23103433","TemplateURL":"https://api.sandbox.mangopay.com/Content/PaylineTemplate?rp=c0d602aea8784bb5&transactionId=23103433","CardType":"BCMC","Culture":"FR","SecureMode":"FORCE","StatementDescriptor":null}'
  recorded_at: Wed, 22 Mar 2017 18:55:03 GMT
recorded_with: VCR 3.0.3
