- emetteur = User.find(notification.sender_id)
%a.content{:href => "#{notification.body}"}
  .notification-item
    %h4.item-title
    .item-image= image_tag(emetteur.avatar.url(:small), class:'img img-circle')
    = notification.subject
    .item-date= notification_date notification.created_at
