.test-become-teacher
  %header.q2.section_bigimage
    .header-content
      .header-content-inner
        %h1#homeHeading Passez à<br />l'aide scolaire 2.0
        %hr/
        %p Fini les déplacements,<br />démarrez vos cours en un clic!
        = link_to 'Devenez prof', new_user_registration_path, class: 'btn btn-primary btn-qw become-teacher'
:javascript
  $('.become-teacher').click(function(){
    ga('send', 'event', 'click-teacher-application', $(this).text() );
  });