.test-become-teacher
  %nav.empty-nav
    .container
      .pull-left
        =link_to root_path do
          .logo= image_tag('logo.ico')
      .pull-right
        %br
        = link_to 'PRENDRE DES COURS >', root_path
  %header
    .container
      .titles
        %h1.text-black.text-left
          Donnez des cours particuliers au monde entier
        %h1.text-black.text-left.text-light Devenez prof particulier et soyez payé,<br />depuis votre canapé!
      .form.absolute.material-form
        %h3.text-black.text-left S'inscrire maintenant
        =render partial: 'devise/registrations/teacher_form'
  %header.f1
    .header-content
      .header-content-inner
  %section#white
    .container
      .overflow
        %h2.section-heading
          Une nouvelle façon
        %h2.section-heading.text-light
          d'enseigner
        .row#arguments
          .col-md-4
            .service-box
              =image_tag('acceuil/teacher.svg')
              %h3.text-left Enseignez où vous voulez
              %p.text-left Depuis votre canapé, en vacances à l'étranger... Avec Qwerteach vous êtes libres d'enseigner où vous voulez!
          .col-md-4
            .service-box
              =image_tag('acceuil/timing.svg')
              %h3.text-left A vos horaires
              %p.text-left Donnez cours le week-end, en soirée, ou à temps plein, à vous de choisir. Vous êtes le patron, vous fixez vos horaires de travail.
          .col-md-4
            .service-box
              =image_tag('acceuil/landing_payement.svg')
              %h3.text-left Gagnez de l'argent
              %p.text-left Vous choisissez vous-même votre tarif, et Qwerteach sécurise vos payements. Ainsi, vous pouvez vous concentrer sur l'essentiel: la réussite de vos élèves.
        #ready
          %h2.section-heading
            Prêt à démarrer ?
          %h2.section-heading.text-light
            Rejoignez la communauté et commencez à gagner de l'argent
          = link_to "C'est parti", 'body', class: 'btn btn-cta btn-green'

:javascript
  $('.btn-cta').click(function(e){
    e.preventDefault();
    $('html, body').animate({
        scrollTop: $( $.attr(this, 'href') ).offset().top
    }, 500);
  });