.section_recherche
  = form_tag profs_path, method: :post, id: 'search-form', remote: false do |f|
    = autocomplete_field_tag 'topic', '', autocomplete_topic_title_topics_path, :size => 75, :class => "recherche-bar"
    %button{type: "submit"}
      %i.fa.fa-search