.section_tri_colonne.row.valign-wrapper
  .col-sm-6.col-md-4.thumbnails
    .caption
      = image_tag("acceuil/diplome.png", :class => "image_presse img-responsive")
      %h4 Trouvez le prof qu’il vous faut
      %hr
      %p La communauté Qwerteach rassemble des centaines de profs, fixant eux-même leurs tarifs. Vous choisissez celui qui vous correspond le mieux, et décidez ensemble des modalités du cours: horaires, fréquences, etc… Notre équipe est là pour vous accompagner dans la recherche du professeur idéal.
    =link_to "Plus d'info", pages_path('comment-ca-marche')
  .col-sm-6.col-md-4.thumbnails
    .caption
      = image_tag("acceuil/horloge.png", :class => "image_presse img-responsive")
      %h4 Concrètement, comment ça marche ?
      %hr
      %p À l’heure du cours, retrouvez votre professeur dans la classe virtuelle. Vous pouvez discuter avec lui, le voir en direct, écrire et dessiner au tableau, partager des documents, les annoter... Après le cours, vous pouvez revoir l’enregistrement vidéo et laisser une appréciation à votre professeur.
    =link_to "Plus d'info", pages_path('comment-ca-marche')
  .col-sm-6.col-md-4.thumbnails
    .caption
      = image_tag("acceuil/diplome.png", :class => "image_presse img-responsive")
      %h4 Le cours en ligne, un vrai cours
      %hr
      %p Nos professeurs particuliers sont certifiés, la qualité des cours est contrôlée. N’ayant pas à à se déplacer, ils sont plus accessibles et leurs horaires sont plus flexibles. Un tiers bancaire sécurise les transactions. Les élèves, réellement à l’aise avec l'informatique, sont donc plus réceptifs et attentifs lors des cours.
    =link_to "Plus d'info", pages_path('comment-ca-marche')