---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic cXdlcnRlYWNocmFpbHM6eGs0WUpMWnZ5S3N5QWJoN0Q3RlRNUk92ckZ6azQyMWZzRE9pRHhIUHJPNlNVYzBvUnA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"ee5a97e1f2bf474d855ba55fb76485c5","token_type":"bearer","expires_in":1199}'
  recorded_at: Wed, 28 Jun 2017 04:05:24 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"SD","Nationality":"PY","Address":{"AddressLine1":"Gutkowski
        Circle","AddressLine2":"261","PostalCode":"HM2 1QX","City":"Hermanborough","Region":"Oregon","Country":"AM"},"FirstName":"Margo","LastName":"Oga","Birthday":709660800,"Email":"hattie@ratke.us","PersonType":"NATURAL","Tag":"user
        5"}'
    headers:
      Authorization:
      - bearer ee5a97e1f2bf474d855ba55fb76485c5
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MacBook-Pro-MacBook.local 16.5.0 Darwin Kernel Version 16.5.0: Fri Mar  3
        16:52:33 PST 2017; root:xnu-3789.51.2~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '106'
      - '151'
      - '25'
      - '430'
      X-Ratelimit-Remaining:
      - '105170'
      - '2275'
      - '4394'
      - '8649'
      X-Ratelimit-Reset:
      - '1498623600'
      - '1498624500'
      - '1498626300'
      - '1498709040'
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Gutkowski Circle","AddressLine2":"261","City":"Hermanborough","Region":"Oregon","PostalCode":"HM2
        1QX","Country":"AM"},"FirstName":"Margo","LastName":"Oga","Birthday":709660800,"Nationality":"PY","CountryOfResidence":"SD","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"Capacity":"NORMAL","PersonType":"NATURAL","Email":"hattie@ratke.us","KYCLevel":"LIGHT","Id":"28326807","Tag":"user
        5","CreationDate":1498622724}'
  recorded_at: Wed, 28 Jun 2017 04:05:24 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[28326807],"Currency":"EUR","Description":"wallet user 5"}'
    headers:
      Authorization:
      - bearer ee5a97e1f2bf474d855ba55fb76485c5
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MacBook-Pro-MacBook.local 16.5.0 Darwin Kernel Version 16.5.0: Fri Mar  3
        16:52:33 PST 2017; root:xnu-3789.51.2~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '107'
      - '152'
      - '26'
      - '431'
      X-Ratelimit-Remaining:
      - '105169'
      - '2274'
      - '4393'
      - '8648'
      X-Ratelimit-Reset:
      - '1498623600'
      - '1498624500'
      - '1498626300'
      - '1498709040'
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 5","Owners":["28326807"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"28326808","Tag":null,"CreationDate":1498622725}'
  recorded_at: Wed, 28 Jun 2017 04:05:25 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/28326807/cards?per_page=100&sort=CreationDate:desc
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer ee5a97e1f2bf474d855ba55fb76485c5
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MacBook-Pro-MacBook.local 16.5.0 Darwin Kernel Version 16.5.0: Fri Mar  3
        16:52:33 PST 2017; root:xnu-3789.51.2~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/28326807/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="first",<https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/28326807/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="last"
      X-Number-Of-Pages:
      - '1'
      X-Number-Of-Items:
      - '0'
      X-Ratelimit:
      - '110'
      - '155'
      - '29'
      - '434'
      X-Ratelimit-Remaining:
      - '105166'
      - '2271'
      - '4390'
      - '8645'
      X-Ratelimit-Reset:
      - '1498623600'
      - '1498624500'
      - '1498626300'
      - '1498709040'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 28 Jun 2017 04:05:27 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cardregistrations
    body:
      encoding: UTF-8
      string: '{"UserId":28326807,"Currency":"EUR","CardType":"CB_VISA_MASTERCARD"}'
    headers:
      Authorization:
      - bearer ee5a97e1f2bf474d855ba55fb76485c5
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MacBook-Pro-MacBook.local 16.5.0 Darwin Kernel Version 16.5.0: Fri Mar  3
        16:52:33 PST 2017; root:xnu-3789.51.2~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '111'
      - '156'
      - '30'
      - '435'
      X-Ratelimit-Remaining:
      - '105165'
      - '2270'
      - '4389'
      - '8644'
      X-Ratelimit-Reset:
      - '1498623600'
      - '1498624500'
      - '1498626300'
      - '1498709040'
    body:
      encoding: UTF-8
      string: '{"Id":"28326811","Tag":null,"CreationDate":1498622727,"UserId":"28326807","AccessKey":"1X0m87dmM2LiwFgxPLBJ","PreregistrationData":"pMUiqKEKexdo_NolxfBziWLwg8SwS-kp1vCky0PH6ueAESwjQGu2p7YHCs8ISD1vS4wCy-yiraxeE65tmxOe8A","RegistrationData":null,"CardId":null,"CardType":"CB_VISA_MASTERCARD","CardRegistrationURL":"https://homologation-webpayment.payline.com/webpayment/getToken","ResultCode":null,"ResultMessage":null,"Currency":"EUR","Status":"CREATED"}'
  recorded_at: Wed, 28 Jun 2017 04:05:27 GMT
- request:
    method: post
    uri: https://homologation-webpayment.payline.com/webpayment/getToken
    body:
      encoding: US-ASCII
      string: accessKeyRef=1X0m87dmM2LiwFgxPLBJ&cardNumber=3569990000000132&cardExpirationDate=1017&cardCvx=131&data=pMUiqKEKexdo_NolxfBziWLwg8SwS-kp1vCky0PH6ueAESwjQGu2p7YHCs8ISD1vS4wCy-yiraxeE65tmxOe8A
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: data=WravEjaGxWzADGUoQ1JvRuCLEjebVFrpxTEB1gOX3DZV_g0Kl7qqKNe86HiLrbRNmc5ts4q-v1MEZ2sZA4nIVSEL-DFE-9MyHxVp1zbZOBgdLirMJJJVCECghB6zvUAsxMByM7y_h2urB9bMWxdFzw
  recorded_at: Wed, 28 Jun 2017 04:05:29 GMT
- request:
    method: put
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cardregistrations/28326811
    body:
      encoding: UTF-8
      string: '{"RegistrationData":"data=data=WravEjaGxWzADGUoQ1JvRuCLEjebVFrpxTEB1gOX3DZV_g0Kl7qqKNe86HiLrbRNmc5ts4q-v1MEZ2sZA4nIVSEL-DFE-9MyHxVp1zbZOBgdLirMJJJVCECghB6zvUAsxMByM7y_h2urB9bMWxdFzw"}'
    headers:
      Authorization:
      - bearer ee5a97e1f2bf474d855ba55fb76485c5
      Content-Type:
      - application/json
      X-Mangopay-Client-[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/28326807/wallets
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer ee5a97e1f2bf474d855ba55fb76485c5
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MacBook-Pro-MacBook.local 1[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/payins/card/direct
    body:
      encoding: UTF-8
      string: '{"AuthorId":28326807,"CreditedUserId":28326807,"DebitedFunds":{"Currency":"EUR","Amount":4500.0},"Fees":{"Currency":"EUR","Amount":0.0},"CreditedWalletId":"28326808","SecureModeReturnURL":"http://test.com","SecureMode":"DEFAULT","CardId":"28326812"}'
    headers:
      Authorization:
      - bearer ee5a97e1f2bf474d855ba55fb76485c5
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MacBook-Pro-MacBook.local 16.5.0 Darwin Kernel Version 16.5.0: Fri Mar  3
        16:52:33 PST 2017; root:xnu-3789.51.2~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '114'
      - '159'
      - '33'
      - '438'
      X-Ratelimit-Remaining:
      - '105162'
      - '2267'
      - '4386'
      - '8641'
      X-Ratelimit-Reset:
      - '1498623600'
      - '1498624500'
      - '1498626300'
      - '1498709040'
    body:
      encoding: UTF-8
      string: '{"Id":"28326813","Tag":null,"CreationDate":1498622730,"AuthorId":"28326807","CreditedUserId":"28326807","DebitedFunds":{"Currency":"EUR","Amount":4500},"CreditedFunds":{"Currency":"EUR","Amount":4500},"Fees":{"Currency":"EUR","Amount":0},"Status":"SUCCEEDED","ResultCode":"000000","ResultMessage":"Success","ExecutionDate":1498622732,"Type":"PAYIN","Nature":"REGULAR","CreditedWalletId":"28326808","DebitedWalletId":null,"PaymentType":"CARD","ExecutionType":"DIRECT","SecureMode":"DEFAULT","CardId":"28326812","SecureModeReturnURL":null,"SecureModeRedirectURL":null,"SecureModeNeeded":false,"StatementDescriptor":null}'
  recorded_at: Wed, 28 Jun 2017 04:05:32 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/28326807/cards?per_page=100&sort=CreationDate:desc
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer ee5a97e1f2bf474d855ba55fb76485c5
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MacBook-Pro-MacBook.local 16.5.0 Darwin Kernel Version 16.5.0: Fri Mar  3
        16:52:33 PST 2017; root:xnu-3789.51.2~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/28326807/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="first",<https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/28326807/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="last"
      X-Number-Of-Pages:
      - '1'
      X-Number-Of-Items:
      - '1'
      X-Ratelimit:
      - '119'
      - '164'
      - '38'
      - '443'
      X-Ratelimit-Remaining:
      - '105157'
      - '2262'
      - '4381'
      - '8636'
      X-Ratelimit-Reset:
      - '1498623600'
      - '1498624500'
      - '1498626300'
      - '1498709040'
    body:
      encoding: UTF-8
      string: '[{"ExpirationDate":"1017","Alias":"356999XXXXXX0132","CardType":"CB_VISA_MASTERCARD","CardProvider":"MASTERCARD","Country":"USA","Product":"   ","BankCode":"unknown","Active":true,"Currency":"EUR","Validity":"VALID","UserId":"28326807","Id":"28326812","Tag":null,"CreationDate":1498622729}]'
  recorded_at: Wed, 28 Jun 2017 04:05:35 GMT
[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/transfers
    body:
      encoding: UTF-8
      string: '{"AuthorId":28326807,"DebitedFunds":{"Currency":"EUR","Amount":1000.0},"Fees":{"Currency":"EUR","Amount":0.0},"DebitedWalletId":"28326809","CreditedWalletId":"28326810"}'
    headers:
      Authorization:
      - bearer ee5a97e1f2bf474d855ba55fb76485c5
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"binding[...]
[...]
