---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic cXdlcnRlYWNocmFpbHM6eGs0WUpMWnZ5S3N5QWJoN0Q3RlRNUk92ckZ6azQyMWZzRE9pRHhIUHJPNlNVYzBvUnA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"5907915f69694360907ac670ca73ead7","token_type":"bearer","expires_in":1199}'
  recorded_at: Mon, 19 Jun 2017 08:29:55 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"MX","Nationality":"SX","Address":{"AddressLine1":"Kristian
        Row","AddressLine2":"825","PostalCode":"PL3 7FH","City":"East Ellis","Region":"New
        Hampshire","Country":"SZ"},"FirstName":"Hunter","LastName":"Murazik","Birthday":708883200,"Email":"oda.lockman@lednermiller.ca","PersonType":"NATURAL","Tag":"user
        15"}'
    headers:
      Authorization:
      - bearer 5907915f69694360907ac670ca73ead7
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.4 p301 (2017-03-30)","platform":"x86_64-darwin15","uname":"Darwin
        macpro.local 15.6.0 Darwin Kernel Version 15.6.0: Mon Jan  9 23:07:29 PST
        2017; root:xnu-3248.60.11.2.1~1/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '1140'
      - '64'
      - '64'
      - '64'
      X-Ratelimit-Remaining:
      - '104460'
      - '2236'
      - '4436'
      - '8736'
      X-Ratelimit-Reset:
      - '1497861840'
      - '1497862740'
      - '1497864540'
      - '1497947280'
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Kristian Row","AddressLine2":"825","City":"East
        Ellis","Region":"New Hampshire","PostalCode":"PL3 7FH","Country":"SZ"},"FirstName":"Hunter","LastName":"Murazik","Birthday":708883200,"Nationality":"SX","CountryOfResidence":"MX","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"Capacity":"NORMAL","PersonType":"NATURAL","Email":"oda.lockman@lednermiller.ca","KYCLevel":"LIGHT","Id":"27809787","Tag":"user
        15","CreationDate":1497860988}'
  recorded_at: Mon, 19 Jun 2017 08:29:55 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[27809787],"Currency":"EUR","Description":"wallet user 15"}'
    headers:
      Authorization:
      - bearer 5907915f69694360907ac670ca73ead7
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.4 p301 (2017-03-30)","platform":"x86_64-darwin15","uname":"Darwin
        macpro.local 15.6.0 Darwin Kernel Version 15.6.0: Mon Jan  9 23:07:29 PST
        2017; root:xnu-3248.60.11.2.1~1/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '1141'
      - '65'
      - '65'
      - '65'
      X-Ratelimit-Remaining:
      - '104459'
      - '2235'
      - '4435'
      - '8735'
      X-Ratelimit-Reset:
      - '1497861840'
      - '1497862740'
      - '1497864540'
      - '1497947280'
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 15","Owners":["27809787"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"27809789","Tag":null,"CreationDate":1497860989}'
  recorded_at: Mon, 19 Jun 2017 08:29:56 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/27809787/cards?per_page=100&sort=CreationDate:desc
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer 5907915f69694360907ac670ca73ead7
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.4 p301 (2017-03-30)","platform":"x86_64-darwin15","uname":"Darwin
        macpro.local 15.6.0 Darwin Kernel Version 15.6.0: Mon Jan  9 23:07:29 PST
        2017; root:xnu-3248.60.11.2.1~1/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/27809787/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="first",<https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/27809787/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="last"
      X-Number-Of-Pages:
      - '1'
      X-Number-Of-Items:
      - '0'
      X-Ratelimit:
      - '1144'
      - '68'
      - '68'
      - '68'
      X-Ratelimit-Remaining:
      - '104456'
      - '2232'
      - '4432'
      - '8732'
      X-Ratelimit-Reset:
      - '1497861840'
      - '1497862740'
      - '1497864540'
      - '1497947280'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 19 Jun 2017 08:29:57 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cardregistrations
    body:
      encoding: UTF-8
      string: '{"UserId":27809787,"Currency":"EUR","CardType":"CB_VISA_MASTERCARD"}'
    headers:
      Authorization:
      - bearer 5907915f69694360907ac670ca73ead7
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.4 p301 (2017-03-30)","platform":"x86_64-darwin15","uname":"Darwin
        macpro.local 15.6.0 Darwin Kernel Version 15.6.0: Mon Jan  9 23:07:29 PST
        2017; root:xnu-3248.60.11.2.1~1/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '1145'
      - '69'
      - '69'
      - '69'
      X-Ratelimit-Remaining:
      - '104455'
      - '2231'
      - '4431'
      - '8731'
      X-Ratelimit-Reset:
      - '1497861840'
      - '1497862740'
      - '1497864540'
      - '1497947280'
    body:
      encoding: UTF-8
      string: '{"Id":"27809794","Tag":null,"CreationDate":1497860990,"UserId":"27809787","AccessKey":"1X0m87dmM2LiwFgxPLBJ","PreregistrationData":"Qi7oou23Q8d9B3xUpjdMuVR6GC6aqsLfdRneSM1JRnWvs7abm7IKHXg4lsMgR6BaS4wCy-yiraxeE65tmxOe8A","RegistrationData":null,"CardId":null,"CardType":"CB_VISA_MASTERCARD","CardRegistrationURL":"https://homologation-webpayment.payline.com/webpayment/getToken","ResultCode":null,"ResultMessage":null,"Currency":"EUR","Status":"CREATED"}'
  recorded_at: Mon, 19 Jun 2017 08:29:58 GMT
- request:
    method: post
    uri: https://homologation-webpayment.payline.com/webpayment/getToken
    body:
      encoding: US-ASCII
      string: accessKeyRef=1X0m87dmM2LiwFgxPLBJ&cardNumber=3569990000000132&cardExpirationDate=1017&cardCvx=131&data=Qi7oou23Q8d9B3xUpjdMuVR6GC6aqsLfdRneSM1JRnWvs7abm7IKHXg4lsMgR6BaS4wCy-yiraxeE65tmxOe8A
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: data=VLTIjgpf1ag15dmwRyhmOW3ibWT14aBDPskfu7rOgNb2_CJIa7fb9ISElvAHyQ3VCsLf4r5wmNp-IxYx1rSwgIXIYnSi37O5p4NyRGrILMB2OpoeIGnLRO_jd96xAppQobQq3piBkYTcwMKJkZ_shg
  recorded_at: Mon, 19 Jun 2017 08:29:59 GMT
- request:
    method: put
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cardregistrations/27809794
    body:
      encoding: UTF-8
      string: '{"RegistrationData":"data=data=VLTIjgpf1ag15dmwRyhmOW3ibWT14aBDPskfu7rOgNb2_CJIa7fb9ISElvAHyQ3VCsLf4r5wmNp-IxYx1rSwgIXIYnSi37O5p4NyRGrILMB2OpoeIGnLRO_jd96xAppQobQq3piBkYTcwMKJkZ_shg"}'
    headers:
      Authorization:
      - bearer 5907915f69694360907ac670ca73ead7
      Content-Type:
      - application/json
      X-Mangopay-Client-[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/27809787/wallets
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer 5907915f69694360907ac670ca73ead7
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.4 p301 (2017-03-30)","platform":"x86_64-darwin15","uname":"Darwin
        macpro.local 15.6.0 Darwin [...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/payins/card/direct
    body:
      encoding: UTF-8
      string: '{"AuthorId":27809787,"CreditedUserId":27809787,"DebitedFunds":{"Currency":"EUR","Amount":4500.0},"Fees":{"Currency":"EUR","Amount":0.0},"CreditedWalletId":"27809789","SecureModeReturnURL":"http://test.com","SecureMode":"DEFAULT","CardId":"27809795"}'
    headers:
      Authorization:
      - bearer 5907915f69694360907ac670ca73ead7
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.4 p301 (2017-03-30)","platform":"x86_64-darwin15","uname":"Darwin
        macpro.local 15.6.0 Darwin Kernel Version 15.6.0: Mon Jan  9 23:07:29 PST
        2017; root:xnu-3248.60.11.2.1~1/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '1148'
      - '72'
      - '72'
      - '72'
      X-Ratelimit-Remaining:
      - '104452'
      - '2228'
      - '4428'
      - '8728'
      X-Ratelimit-Reset:
      - '1497861840'
      - '1497862740'
      - '1497864540'
      - '1497947280'
    body:
      encoding: UTF-8
      string: '{"Id":"27809796","Tag":null,"CreationDate":1497860993,"AuthorId":"27809787","CreditedUserId":"27809787","DebitedFunds":{"Currency":"EUR","Amount":4500},"CreditedFunds":{"Currency":"EUR","Amount":4500},"Fees":{"Currency":"EUR","Amount":0},"Status":"SUCCEEDED","ResultCode":"000000","ResultMessage":"Success","ExecutionDate":1497860994,"Type":"PAYIN","Nature":"REGULAR","CreditedWalletId":"27809789","DebitedWalletId":null,"PaymentType":"CARD","ExecutionType":"DIRECT","SecureMode":"DEFAULT","CardId":"27809795","SecureModeReturnURL":null,"SecureModeRedirectURL":null,"SecureModeNeeded":false,"StatementDescriptor":null}'
  recorded_at: Mon, 19 Jun 2017 08:30:02 GMT
[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/transfers
    body:
      encoding: UTF-8
      string: '{"AuthorId":27809787,"DebitedFunds":{"Currency":"EUR","Amount":3000.0},"Fees":{"Currency":"EUR","Amount":0.0},"DebitedWalletId":"27809789","CreditedWalletId":"27809793"}'
    headers:
      Authorization:
      - bearer 5907915f69694360907ac670ca73ead7
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"binding[...]
[...]
