---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic cXdlcnRlYWNocmFpbHM6eGs0WUpMWnZ5S3N5QWJoN0Q3RlRNUk92ckZ6azQyMWZzRE9pRHhIUHJPNlNVYzBvUnA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"1d82fa5245064b269f70580c03452639","token_type":"bearer","expires_in":1199}'
  recorded_at: Mon, 19 Jun 2017 08:29:39 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"EC","Nationality":"LU","Address":{"AddressLine1":"Abshire
        Canyon","AddressLine2":"442","PostalCode":"MP6 6HX","City":"Robchester","Region":"Maryland","Country":"SM"},"FirstName":"Roberto","LastName":"Brekke","Birthday":708883200,"Email":"gilbert_harvey@sporerhoppe.com","PersonType":"NATURAL","Tag":"user
        15"}'
    headers:
      Authorization:
      - bearer 1d82fa5245064b269f70580c03452639
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.4 p301 (2017-03-30)","platform":"x86_64-darwin15","uname":"Darwin
        macpro.local 15.6.0 Darwin Kernel Version 15.6.0: Mon Jan  9 23:07:29 PST
        2017; root:xnu-3248.60.11.2.1~1/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '1117'
      - '41'
      - '41'
      - '41'
      X-Ratelimit-Remaining:
      - '104483'
      - '2259'
      - '4459'
      - '8759'
      X-Ratelimit-Reset:
      - '1497861840'
      - '1497862740'
      - '1497864540'
      - '1497947280'
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Abshire Canyon","AddressLine2":"442","City":"Robchester","Region":"Maryland","PostalCode":"MP6
        6HX","Country":"SM"},"FirstName":"Roberto","LastName":"Brekke","Birthday":708883200,"Nationality":"LU","CountryOfResidence":"EC","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"Capacity":"NORMAL","PersonType":"NATURAL","Email":"gilbert_harvey@sporerhoppe.com","KYCLevel":"LIGHT","Id":"27809764","Tag":"user
        15","CreationDate":1497860972}'
  recorded_at: Mon, 19 Jun 2017 08:29:39 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[27809764],"Currency":"EUR","Description":"wallet user 15"}'
    headers:
      Authorization:
      - bearer 1d82fa5245064b269f70580c03452639
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.4 p301 (2017-03-30)","platform":"x86_64-darwin15","uname":"Darwin
        macpro.local 15.6.0 Darwin Kernel Version 15.6.0: Mon Jan  9 23:07:29 PST
        2017; root:xnu-3248.60.11.2.1~1/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '1118'
      - '42'
      - '42'
      - '42'
      X-Ratelimit-Remaining:
      - '104482'
      - '2258'
      - '4458'
      - '8758'
      X-Ratelimit-Reset:
      - '1497861840'
      - '1497862740'
      - '1497864540'
      - '1497947280'
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 15","Owners":["27809764"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"27809765","Tag":null,"CreationDate":1497860972}'
  recorded_at: Mon, 19 Jun 2017 08:29:40 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/27809764/cards?per_page=100&sort=CreationDate:desc
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer 1d82fa5245064b269f70580c03452639
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.4 p301 (2017-03-30)","platform":"x86_64-darwin15","uname":"Darwin
        macpro.local 15.6.0 Darwin Kernel Version 15.6.0: Mon Jan  9 23:07:29 PST
        2017; root:xnu-3248.60.11.2.1~1/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/27809764/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="first",<https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/27809764/cards?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="last"
      X-Number-Of-Pages:
      - '1'
      X-Number-Of-Items:
      - '0'
      X-Ratelimit:
      - '1121'
      - '45'
      - '45'
      - '45'
      X-Ratelimit-Remaining:
      - '104479'
      - '2255'
      - '4455'
      - '8755'
      X-Ratelimit-Reset:
      - '1497861840'
      - '1497862740'
      - '1497864540'
      - '1497947280'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Mon, 19 Jun 2017 08:29:41 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cardregistrations
    body:
      encoding: UTF-8
      string: '{"UserId":27809764,"Currency":"EUR","CardType":"CB_VISA_MASTERCARD"}'
    headers:
      Authorization:
      - bearer 1d82fa5245064b269f70580c03452639
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.4 p301 (2017-03-30)","platform":"x86_64-darwin15","uname":"Darwin
        macpro.local 15.6.0 Darwin Kernel Version 15.6.0: Mon Jan  9 23:07:29 PST
        2017; root:xnu-3248.60.11.2.1~1/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '1122'
      - '46'
      - '46'
      - '46'
      X-Ratelimit-Remaining:
      - '104478'
      - '2254'
      - '4454'
      - '8754'
      X-Ratelimit-Reset:
      - '1497861840'
      - '1497862740'
      - '1497864540'
      - '1497947280'
    body:
      encoding: UTF-8
      string: '{"Id":"27809770","Tag":null,"CreationDate":1497860974,"UserId":"27809764","AccessKey":"1X0m87dmM2LiwFgxPLBJ","PreregistrationData":"XBDYiG8w9PrylPS01KmupUTQ8AZe7NrYg715JdqTUESPXuucd5LcuqdMxTcIEA7OS4wCy-yiraxeE65tmxOe8A","RegistrationData":null,"CardId":null,"CardType":"CB_VISA_MASTERCARD","CardRegistrationURL":"https://homologation-webpayment.payline.com/webpayment/getToken","ResultCode":null,"ResultMessage":null,"Currency":"EUR","Status":"CREATED"}'
  recorded_at: Mon, 19 Jun 2017 08:29:42 GMT
- request:
    method: post
    uri: https://homologation-webpayment.payline.com/webpayment/getToken
    body:
      encoding: US-ASCII
      string: accessKeyRef=1X0m87dmM2LiwFgxPLBJ&cardNumber=3569990000000132&cardExpirationDate=1017&cardCvx=131&data=XBDYiG8w9PrylPS01KmupUTQ8AZe7NrYg715JdqTUESPXuucd5LcuqdMxTcIEA7OS4wCy-yiraxeE65tmxOe8A
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
    body:
      encoding: UTF-8
      string: data=zOuEJSfzxAo1kG_ispVi9VxXsfYVMaokRIFi-qSXhzM88a2KtBcoNvQAXtiBSe1Ev051uaewJw-ZLFMhPDx_ecY7I-dIMTv6g73NMIhh9qSBbGI-aTczhZBRi8XyWlvzw17llD7RMhUOm0YpiO1o0w
  recorded_at: Mon, 19 Jun 2017 08:29:43 GMT
- request:
    method: put
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cardregistrations/27809770
    body:
      encoding: UTF-8
      string: '{"RegistrationData":"data=data=zOuEJSfzxAo1kG_ispVi9VxXsfYVMaokRIFi-qSXhzM88a2KtBcoNvQAXtiBSe1Ev051uaewJw-ZLFMhPDx_ecY7I-dIMTv6g73NMIhh9qSBbGI-aTczhZBRi8XyWlvzw17llD7RMhUOm0YpiO1o0w"}'
    headers:
      Authorization:
      - bearer 1d82fa5245064b269f70580c03452639
      Content-Type:
      - application/json
      X-Mangopay-Client-[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/27809764/wallets
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer 1d82fa5245064b269f70580c03452639
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.4 p301 (2017-03-30)","platform":"x86_64-darwin15","uname":"Darwin
        macpro.local 15.6.0 Darwin [...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/payins/card/direct
    body:
      encoding: UTF-8
      string: '{"AuthorId":27809764,"CreditedUserId":27809764,"DebitedFunds":{"Currency":"EUR","Amount":4500.0},"Fees":{"Currency":"EUR","Amount":0.0},"CreditedWalletId":"27809765","SecureModeReturnURL":"http://test.com","SecureMode":"DEFAULT","CardId":"27809773"}'
    headers:
      Authorization:
      - bearer 1d82fa5245064b269f70580c03452639
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.4 p301 (2017-03-30)","platform":"x86_64-darwin15","uname":"Darwin
        macpro.local 15.6.0 Darwin Kernel Version 15.6.0: Mon Jan  9 23:07:29 PST
        2017; root:xnu-3248.60.11.2.1~1/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '1125'
      - '49'
      - '49'
      - '49'
      X-Ratelimit-Remaining:
      - '104475'
      - '2251'
      - '4451'
      - '8751'
      X-Ratelimit-Reset:
      - '1497861840'
      - '1497862740'
      - '1497864540'
      - '1497947280'
    body:
      encoding: UTF-8
      string: '{"Id":"27809774","Tag":null,"CreationDate":1497860977,"AuthorId":"27809764","CreditedUserId":"27809764","DebitedFunds":{"Currency":"EUR","Amount":4500},"CreditedFunds":{"Currency":"EUR","Amount":4500},"Fees":{"Currency":"EUR","Amount":0},"Status":"SUCCEEDED","ResultCode":"000000","ResultMessage":"Success","ExecutionDate":1497860978,"Type":"PAYIN","Nature":"REGULAR","CreditedWalletId":"27809765","DebitedWalletId":null,"PaymentType":"CARD","ExecutionType":"DIRECT","SecureMode":"DEFAULT","CardId":"27809773","SecureModeReturnURL":null,"SecureModeRedirectURL":null,"SecureModeNeeded":false,"StatementDescriptor":null}'
  recorded_at: Mon, 19 Jun 2017 08:29:46 GMT
[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/transfers
    body:
      encoding: UTF-8
      string: '{"AuthorId":27809764,"DebitedFunds":{"Currency":"EUR","Amount":3000.0},"Fees":{"Currency":"EUR","Amount":0.0},"DebitedWalletId":"27809765","CreditedWalletId":"27809769"}'
    headers:
      Authorization:
      - bearer 1d82fa5245064b269f70580c03452639
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"binding[...]
[...]
