- valid_show = valid_action?(:show, collection_presenter.resource_name)
- valid_edit = valid_action?(:edit, collection_presenter.resource_name)
- valid_destroy = valid_action?(:destroy, collection_presenter.resource_name)
.table-responsive
  %table.table.table-striped.table-hover
    %thead
      %tr
        = render 'collection_head_cells', local_assigns
        - if valid_edit || valid_destroy
          %th{:scope => "col"}
    %tbody
      - resources.each do |resource|
        %tr.js-table-row{:tabindex => "0", role: valid_show ? 'link' : false, 'data-url'=>valid_show ? polymorphic_path([namespace, resource]) : false}
          = render 'collection_body_cells', collection_presenter: collection_presenter, resource: resource
          %td
            - if valid_edit
              = link_to(t('administrate.actions.edit'), [:edit, namespace, resource], class: 'btn btn-sm btn-primary-outline')
            - if valid_destroy
              = link_to(t('administrate.actions.destroy'), [namespace, resource], class: 'btn btn-sm btn-danger-outline', method: :delete, data: { confirm: t('administrate.actions.confirm') })
