#error_explanation.alert.alert-danger.alert-dismissible.fade.show
  %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
    %span{"aria-hidden" => "true"} &times;
  %h3
    = pluralize(page.resource.errors.count, "error")
    prohibited this #{page.resource_name} from being saved:
  %ul
    - page.resource.errors.full_messages.each do |message|
      %li.flash-error= message