= render :partial => 'pages/cgu/header', locals:{title: "Vie privée"}
.container
  .row
    .col-sm-3.col-md-offset-1
      = render :partial => 'pages/privacy/navigation'
    .col-sm-8
      %h2#introduction Généralités
      %p
        Iteachyou SPRL ('Qwerteach.com', 'nous', ou 'notre'), rue clémentine 17, 1050 Ixelles à Bruxelles, est le
        responsable du site qwerteach.com.
      %p
        Qwerteach.com s'efforce de protéger votre vie privée. Cette déclaration de confidentialité explique comment nous
        collectons, utilisons, fournissons, sauvegardons et protégeons vos données à caractère personnel.
      %h4 Champ d'application
      %p
        Cette déclaration de confidentialité vaut pour tous les sites Web, applications, services et outils de Qwerteach.com (collectivement appelés "Services") auxquels se réfère cette déclaration de confidentialité, quelle que soit la façon dont vous y accédez ou l'utilisez, y compris en utilisant des appareils mobiles.
      %p
        Nous pouvons modifier cette déclaration de confidentialité à tout moment en affichant la version modifiée sur ce site Web avec la date d'entrée en vigueur de la version modifiée. Nous annonçons des modifications matérielles à cette déclaration de confidentialité par e-mail.
      %h2#data
        Données à caractère personnel que nous collectons
      #accordion.panel-group
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#what-is-data"}
                Que sont les données à caractère personnel ?
          #what-is-data.panel-collapse.collapse
            .panel-body
              %p
                Les données à caractère personnel sont des données sur une personne physique identifiée ou identifiable. Une personne physique identifiable est une personne qui peut être identifiée, directement ou indirectement, par un identifiant tel qu'un nom, un numéro d'identification, des données de localisation, un identifiant en ligne ou un ou plusieurs facteurs spécifiques à l'identité physique, physiologique, génétique, mentale, économique, culturelle ou sociale de cette personne physique.
              %p
                Nous ne considérons pas comme des données à caractère personnel, les données qui ont été rendues anonymes ou agrégées de sorte qu'elles ne peuvent plus être utilisées pour identifier une personne physique spécifique, que ce soit en combinaison avec d'autres données ou autrement.
              %p
                Nous recueillons des données à caractère personnel lorsque vous utilisez nos Services Web, mettez à jour ou ajoutez des données à votre compte, participez à des discussions de chats ou à la résolution de différends ou si vous communiquez avec nous de toute autre manière.
              %p
                Certaines données à caractère personnel, telles que les données qui vous identifient, sont nécessaires pour accepter nos Conditions d'utilisation. La fourniture de toutes les autres données à caractère personnel est volontaire, mais peut être requise afin de pouvoir utiliser nos Services, tels que des données sur votre profil ou les coordonnées qui sont nécessaires afin de placer une demande de cours.
              %p
                Nous pouvons également recueillir des données à caractère personnel provenant d'autres sources, comme décrit ci-dessous.
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#given-data"}
                Données à caractère personnel que vous nous fournissez lorsque vous utilisez nos Services ou lorsque vous vous enregistrez pour un compte chez nous
          #given-data.panel-collapse.collapse
            .panel-body
              %ul
                %li Données identifiables telles que votre nom, vos adresses, vos numéros de téléphone ou vos adresses e-mail lorsque vous vous enregistrez pour un compte chez nous.
                %li D'autres données que vous générez, ou qui sont associées à votre compte et votre utilisation du site Web, des applications, des Services et des outils (telles que l'utilisation de la fonctionnalité pour placer une annonce (profil, demandes de cours , ...), des recherches, les annonces vues et enregistrées ou votre usage des options de contact à une annonce), y compris les données pseudonymisées relatives à l'appel d'un numéro de téléphone qui vous est montré dans une annonce.
                %li Les données financières (telles que les numéros de carte de crédit ou de compte bancaire) en relation avec une transaction.
                %li Dans certains cas, vous pouvez être invité, lorsque vous utilisez nos Services, à indiquer votre âge, votre sexe, vos intérêts et vos favoris.
                %li Vous pouvez également nous soumettre d'autres données moyennant un formulaire web, en mettant à jour votre compte ou en ajoutant des données, par le biais des discussions chat, en ce qui concerne le Règlement des différends ou lorsque vous communiquer d'une autre façon avec nous au sujet nos Services.
                %li Des informations complémentaires, lorsque la législation nationale applicable nous requiert ou nous rend compétent de les recueillir et les traiter afin de vous identifier ou de vérifier votre identité, ou pour examiner les données que nous avons collectées.
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collected-data"}
                Données à caractère personnel que nous collectons automatiquement lorsque vous utilisez nos Services ou lorsque vous vous enregistrez pour un compte chez nous
          #collected-data.panel-collapse.collapse
            .panel-body
              %ul
                %li Nous recueillons des données sur votre interaction avec nos Services, vos préférences publicitaires et votre communication avec nous. Ceci sont des données que nous recevons des appareils (y compris les appareils mobiles) que vous utilisez lorsque vous accédez à nos Services. Ces données peuvent inclure: un identifiant de dispositif ou un identifiant unique, un type de dispositif, un identifiant d'annonce et un jeton de dispositif unique.
                %li Données de localisation, y compris les données de localisation de votre appareil mobile. N'oubliez pas qu'avec la plupart des appareils mobiles, vous pouvez gérer ou désactiver l'utilisation des services de localisation par une application sur votre appareil mobile dans le menu des paramètres de l'appareil.
                %li Informations sur l'ordinateur et la connexion, telles que les statistiques sur vos pages vues, le trafic depuis et vers les sites Web, les URL de référence, les données sur les annonces, votre adresse IP, votre historique de navigation et vos données de journal Web.
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#cookies-data"}
                Données à caractère personnel que nous recueillons avec des cookies et des technologies similaires
          #cookies-data.panel-collapse.collapse
            .panel-body
              %ul
                %li Nous utilisons des cookies, des balises Web, des identifiants uniques et des technologies similaires pour collecter des données sur les pages que vous consultez, les liens sur lesquels vous cliquez et d'autres actions que vous effectuez lorsque vous utilisez nos Services dans nos annonces ou notre contenu d'e-mails.
                %li Pour plus d'informations sur notre usage de ces technologies et la façon dont vous les gérez, voir Cookies et technologies similaires.
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#external-data"}
                Données à caractère personnel recueillies d'autres sources
          #external-data.panel-collapse.collapse
            .panel-body
              %ul
                %li Nous complétons les données à caractère personnel que nous recueillons de façon directe avec les données que nous collectons auprès de tiers et les ajoutons aux données de votre compte. Par exemple, nous collectons et utilisons les données démographiques et autres qui sont accessibles au public dans la juridiction applicable, les coordonnées supplémentaires, les données de vérification de crédit et les données de bureaux de crédit, dans la mesure autorisée par la législation nationale applicable.
                %li Les médias sociaux. Nous vous permettons de partager des données avec des sites de médias sociaux ou d'utiliser des sites de médias sociaux pour créer votre compte ou pour connecter votre compte au site de médias sociaux pertinent. Ces sites de médias sociaux peuvent nous donner automatiquement accès à certaines données à caractère personnel vous concernant conservées par les sites (par exemple, le contenu que vous avez consulté, le contenu que vous avez "liké", de l'information sur les annonces qui vous ont été montrées ou sur lesquelles vous avez cliqué, etc.). Vous déterminez les données à caractère personnel auxquelles vous nous accordez accès en utilisant les paramètres de confidentialité sur le site de média social concerné. En reliant un compte géré par un site de média social à votre compte, vous nous donnez accès à ces données et les données seront traitées conformément à cette déclaration de confidentialité. Nous pouvons également utiliser des compléments (plug-ins) ou d'autres technologies provenant de différents sites de médias sociaux. Si vous cliquez sur un lien fourni par un plug-in de médias sociaux, vous vous connectez volontairement à ce site de média social.
                %li Vous ne pouvez nous fournir des données à caractère personnel sur quelqu'un d'autre qu'avec le consentement de cette personne. Vous devez informer cette personne de la façon dont nous collectons, utilisons, fournissons et stockons ses données à caractère personnel conformément à notre déclaration de confidentialité.

      %h2#data-usage Comment utilisons-nous vos données à caractère personnel
      %p Nous utilisons vos données à caractère personnel afin de fournir et améliorer nos Services, vous fournir une expérience personnalisée sur nos sites Web, vous contacter à propos de votre compte et de nos Services, vous fournir un service client, vous offrir une annonce et un marketing personnalisés, et afin de détecter, prévenir et enquêter les activités frauduleuses ou illégales et d'en limiter les conséquences.
      %p Nous utilisons les données à caractère personnel que nous collectons auprès de vous pour diverses raisons professionnelles et sur la base de différentes bases légales de traitement. Vous trouverez ci-dessous un aperçu de la manière dont nous utilisons vos données à caractère personnel et sur quelle base légale.

      #accordion2.panel-group
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#usage-service"}
                Nous utilisons vos données à caractère personnel afin d'honorer une convention avec vous, afin de vous fournir nos Services, pour respecter nos obligations légales ou afin de protéger vos intérêts vitaux. Examples ci-dessous.
          #usage-service.panel-collapse.collapse
            .panel-body
              %ul
                %li Pour vous donner accès à nos Services (en particulier, afin que vous puissiez placer et gérer vos annonces ou autres contenus), dans le cadre de la gestion de comptes, l'exploitation, l'évaluation et l'amélioration de nos Services, en gardant nos Services en sécurité et opérationnels et la modification du contenu du site avec des objets et des Services que vous pouvez trouver intéressants en fonction des actions que vous effectuez.
                %li Pour vous donner accès à notre fonction de messagerie et à d'autres fonctions.
                %li Pour vous contacter à propos de votre compte, pour résoudre les problèmes liés à votre compte, résoudre un conflit, percevoir des frais ou des montants dus, ou fournir autrement un service client.
                %li Lorsque nous vous contactons à des fins décrites ci-dessus, nous pouvons le faire par courrier électronique, par téléphone, par texto, par courrier et par notifications mobiles.
                %li Pour vous fournir d'autres Services que vous avez demandés, tels que décrits lors de la collecte des données, y compris le paiement via la plateforme de paiement en ligne.
                %li Nous utilisons des données de localisation générales pour vous fournir des Services basés sur la localisation (tels que des annonces, des résultats de recherche et d'autres contenus personnalisés).
                %li Afin de prévenir, détecter, enquêter ou de limiter les conséquences de fraude, d'atteintes à la sécurité ou d'autres activités potentiellement interdites ou illégales.
                %li Pour se conformer à nos Conditions d'utilisation, cette déclaration de confidentialité ou d'autres politiques, les lois nationales applicables et les conventions éventuelles que nous pouvons avoir avec vous.
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#usage-defense"}
                Nous utilisons vos données à caractère personnel pour défendre nos intérêts légitimes à condition que vos droits et libertés ne l'emportent pas sur ces intérêts. Nous avons mis en place des mesures de contrôle afin de mettre en balance nos intérêts et vos droits. Ceux-ci incluent:
          #usage-defense.panel-collapse.collapse
            .panel-body
              %ul
                %li Améliorer nos Services, par exemple en examinant les données sur les pages plantées ou en panne chez des utilisateurs, afin que nous puissions identifier et résoudre les problèmes et vous offrir une meilleure expérience.
                %li Personnaliser, mesurer et améliorer nos annonces en fonction de vos préférences d'annonces personnalisées.
                %li Vous contacter par e-mail, téléphone ou courrier pour vous offrir des coupons, des réductions et des promotions spéciales, pour demander votre avis par le biais de recherches ou de questionnaires et vous informer de nos Services, tel qu'autorisé par la législation applicable.
                %li Vous contacter pour tout ce qui concerne les politiques publiques ou d'autres événements liés à votre capacité d'utiliser nos Services. Cela peut inclure une invitation à signer une pétition, une lettre, une conversation téléphonique ou d'autres types de campagnes en lien avec les politiques publiques.
                %li Offrir du marketing ciblé, des mises à jour des Services et des promotions spéciales en fonction de vos préférences de communication.
                %li Mesurer les performances de nos campagnes marketing par e-mail (par exemple en analysant les fréquences d'ouverture et de clics).
                %li Surveiller et améliorer la sécurité de l'information de notre site Web et des applications mobiles.

        %h2#choose-data-usage  Vos choix sur la façon dont nous utilisons vos données à caractère personnel
        %p Vous avez le choix de la manière dont nous utilisons vos données à caractère personnel pour communiquer avec vous, vous envoyer des informations marketing, vous montrer des annonces personnalisées et pertinentes et si vous souhaitez rester connecté à votre compte.

        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#usage-communication"}
                Préférences de communication
          #usage-communication.panel-collapse.collapse
            .panel-body
              %p
                Vous pouvez déterminer via votre
                = link_to 'page de profil', edit_user_registration_path
                par quelles méthodes nous pouvons vous contacter.

        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#usage-marketing"}
                Marketing
          #usage-marketing.panel-collapse.collapse
            .panel-body
              %p Les communications marketing sont celles qui n'ont pas trait de manière directe à l'activité de votre compte (gestion de votre planning de cours, de vos réservations, de votre portefeuille virtuel... etc)
              %p Si vous ne souhaitez pas recevoir des communications marketing de notre part, vous pouvez vous désabonner en utilisant le lien dans l'e-mail que vous avez reçu, modifier vos préférences marketing via votre Page Personnelle, indiquer vos préférences de communication de la manière décrite par nous en communication directe, ou nous contacter via les données répertoriées dans la section Contactez-nous ci-dessous.  N'oubliez pas qu'en absence de votre consentement, nous ne vendrons ni ne louerons vos données à caractère personnel à des tiers ou nous ne les fournissons de toute autre manière à des tiers à des fins de marketing.
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#usage-login"}
                Rester connecté
          #usage-login.panel-collapse.collapse
            .panel-body
              %p Lorsque vous vous connectez à votre compte via nos Services, nous vous offrons la possibilité de rester connecté à votre compte pendant un certain temps. Si vous utilisez un ordinateur public ou partagé, nous vous recommandons de ne pas rester connecté. Vous ou un autre utilisateur de l'ordinateur/navigateur sur lequel vous êtes connecté peut voir la plus grande partie de votre compte et peut l'accéder et effectuer certaines actions au cours de cette session de connexion sans qu'une autorisation prolongée soit requise. Vous ou un autre utilisateur de cet ordinateur/navigateur pouvez prendre les actions de compte suivantes:
              %ul
                %li Publier une offre ou poser une question concernant une annonce
                %li Gérer vos annonces
                %li Voir la Page Personnelle
                %li Voir et gérer vos cours
                %li Voir la page de profil
                %li Envoyer des messages à d'autres utilisateurs
                %li Effectuer des activités après-vente telles que donner des commentaires
              %p En général, vous pouvez terminer votre session de connexion en vous déconnectant et/ou en supprimant vos cookies. Si vous avez activé certains paramètres de confidentialité dans le navigateur, vous pouvez également mettre fin à la session de connexion en fermant le navigateur. Si vous utilisez un ordinateur public ou partagé, vous devez vous déconnecter et/ou supprimer vos cookies lorsque vous avez terminé avec nos Services afin de protéger votre compte et vos données à caractère personnel.

        %h2#edit-data Moyens d'accès, de gestion et de correction de vos données à caractère personnel
        %p Nous respectons votre droit d'accès à vos données à caractère personnel et vos droits de les rectifier, de demander leur suppression ou de demander que nous limitions notre utilisation conformément à la législation applicable. Nous prenons également des mesures pour garantir que les données à caractère personnel que nous recueillons sont exactes et à jour.
        %p Vous avez le droit de savoir quelles données à caractère personnel à votre sujet nous disposons
        %p A votre demande, nous vous fournirons une copie de vos données à caractère personnel dans un format structuré, actuel et lisible par machine
        %p Au cas où vos données à caractère personnel sont incorrectes ou incomplètes, vous avez le droit de nous demander de les mettre à jour
        %p Vous avez le droit de vous opposer au traitement de vos données à caractère personnel
        %p Vous pouvez également nous demander d'effacer vos données à caractère personnel ou de restreindre notre utilisation de ces données, mais ce droit est soumis à la législation applicable et peut affecter votre accès à certains de nos Services.

        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#edit-my-data"}
                Accès, rectification et effacement de vos données à caractère personnel
          #edit-my-data.panel-collapse.collapse
            .panel-body
              %p Vous pouvez afficher, contrôler et modifier la plupart de vos données à caractère personnel en vous connectant à votre compte. Mettez à jour vos données à caractère personnel immédiatement si elles changent ou sont incorrectes. Gardez à l'esprit que si vous publiez un message public, vous ne pourrez peut-être pas le modifier ou le supprimer.
              %p Nous respectons tous les droits légaux que vous pourriez avoir afin d'avoir accès à vos données à caractère personnel et pour les rectifier ou les effacer. Si vous souhaitez demander l'accès et que vous souhaitez savoir si cela est soumis à des frais, si cela est autorisé par la législation nationale applicable, vous pouvez nous contacter sur base des instructions de la section Contactez-nous ci-dessous. Si vous disposez d'un droit légal pour demander l'accès ou demander des rectifications ou l'effacement de vos données à caractère personnel, nous pouvons dans certains cas et conformément à la législation nationale applicable refuser cet accès ou refuser de rectifier ou d'effacer vos données à caractère personnel.
              %p Si vous nous demandez de cesser de traiter tout ou partie de vos données à caractère personnel ou si vous retirez votre consentement (le cas échéant) pour notre utilisation ou la fourniture de vos données à caractère personnel aux fins décrites dans cette déclaration de confidentialité, nous ne pourrons peut-être pas fournir tous les Services et services à la clientèle offerts à nos utilisateurs et qui sont autorisés sur la base de cette déclaration de confidentialité et de nos Conditions d'utilisation.
              %p À votre demande, nous désactivons votre compte et cessons d'afficher vos données à caractère personnel dès que possible, en fonction de l'activité de votre compte et conformément à la législation nationale en vigueur.

        %h2#share-data Comment pouvons-nous partager vos données à caractère personnel
        %p Nous pouvons fournir vos données à caractère personnel aux fins suivantes aux parties suivantes:
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#share-partners"}
                Les fournisseurs de services et institutions financières suivants sont nos partenaires:
          #share-partners.panel-collapse.collapse
            .panel-body
              %p Les fournisseurs de services externes qui nous aident à fournir nos Services et services de traitement des paiements, nous aidant à afficher des annonces personnalisées et nous aidant à prévenir, détecter, limiter et enquêter sur les activités potentiellement illégales, les violations de nos Conditions d'utilisation, les fraudes et/ou failles de sécurité, la collecte de factures, l'offre de programmes partenaires et de récompenses et d'autres activités commerciales.
              %p Les institutions financières externes avec lesquelles nous travaillons pour vous offrir des produits financiers afin qu'ils puissent offrir des contenus et services communs (tels que l'enregistrement, les transactions et le service client), y compris le paiement via la plateforme de paiement en ligne.

        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#share-partners-web"}
                Fournisseurs externes de sites Web, d'applications, de services et d'outils, et entreprises:
          #share-partners-web.panel-collapse.collapse
            .panel-body
              %p Qui sont nos partenaires en conformité avec nos Conditions d'utilisation afin qu'ils puissent publier et annoncer vos annonces et leur contenu sur leurs sites Web ou dans leurs applications, services et outils. Si nous fournissons des données à caractère personnel à des fournisseurs externes avec le contenu des annonces que vous placez, cela se fait uniquement sur la base d'un accord qui limite l'utilisation de ces données à caractère personnel par le fournisseur externe au traitement nécessaire à l'exécution de la convention avec nous. Le fournisseur externe est tenu de prendre des mesures de sécurité à l'égard de ces données. Les fournisseurs externes ne peuvent pas vendre, louer ou transférer les données à caractère personnel contenues dans vos annonces à des tiers.

        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#share-law"}
                Les organismes d'application de la loi, dans le cadre de procédures judiciaires et dans la mesure permise par la loi
          #share-law.panel-collapse.collapse
            .panel-body
              %ul
                %li Afin de nous conformer à nos obligations légales, d'exécuter nos Conditions d'utilisation, de répondre aux allégations qu'une annonce ou un autre contenu publié viole les droits d'autrui ou pour protéger les droits, la propriété ou la sécurité des individus.
                %li Aux organismes d'application de la loi ou gouvernementaux ou à des tiers autorisés, à la suite d'une demande vérifiée ou d'une procédure judiciaire liée à une enquête criminelle ou à une activité illégale présumée ou toute autre activité entraînant une responsabilité pour nous, vous ou l'un de nos autres utilisateurs. Nous fournissons uniquement des données que nous considérons pertinentes pour l'enquête..
                %li Aux agences de crédit ou les agences autorisées par la législation nationale applicable.
                %li Aux tiers impliqués dans une procédure judiciaire, s'ils nous fournissent une citation à comparaître, une ordonnance de justice ou un motif juridique similaire, ou si nous croyons de bonne foi que la fourniture de données est nécessaire afin d'éviter des blessures physiques ou des pertes financières imminentes, ou pour signaler une activité illégale présumée.
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#share-change"}
                Changement de propriété
          #share-change.panel-collapse.collapse
            .panel-body
              %p Si nous fusionnons avec ou sommes repris par une autre société, nous pouvons partager des données avec eux conformément à nos normes globales de confidentialité. Si cela se produit, nous demandons à la nouvelle entité combinée de se conformer à cette déclaration de confidentialité concernant vos données à caractère personnel. Si nous avons l'intention de traiter vos données à caractère personnel à des fins non mentionnées dans cette déclaration de confidentialité, vous recevrez préalablement un préavis du traitement de vos données pour les nouvelles fins.

        %h2#save-data Comment pouvons-nous sauvegarder vos données à caractère personnel
        %p Nous conserverons vos données à caractère personnel aussi longtemps que nécessaire pour fournir les Services que vous avez demandés ou pour d'autres objectifs importants, tels que le respect de nos obligations légales, la résolution de litiges et la mise en œuvre de notre politique.
        %p
          %i Combien de temps les données à caractère personnel sont-elles nécessaires pour offrir nos services? <br />
          Cela inclut des questions telles que le maintien et l'amélioration de la performance de nos produits, la sécurité de nos systèmes et le maintien d'une bonne documentation commerciale et financière. Ceci est la règle générale qui constitue la base de notre période de rétention des données.
        %p
          %i Les données à caractère personnel sont-elles sensibles? <br />
          Dans ce cas, une période de stockage plus courte est généralement appropriée.
        %p
          %i Avez-vous donné l'autorisation pour une période de stockage plus longue? <br />
          Dans ce cas, nous conservons les données aussi longtemps que vous l'avez accepté.
        %p
          %i Sommes-nous légalement, contractuellement ou autrement tenus de conserver vos données à caractère personnel? <br />
          Des exemples peuvent inclure une législation sur la rétention obligatoire des données dans la juridiction applicable, des instructions gouvernementales pour conserver les données qui sont pertinentes pour une enquête ou des données à caractère personnel conservées dans le cadre de procédures judiciaires.
        %p Si nous n'avons plus besoin de conserver vos données à caractère personnel, nous les supprimerons de manière sécurisée.

        %h2#data-cookies Cookies et technologies similaires
        %p
          Lorsque vous visitez ou utilisez nos sites Web, Services, applications, outils ou fonctions de messagerie,
          nous ou nos fournisseurs de services autorisés pouvons utiliser des cookies et des technologies similaires
          afin de vous offrir une expérience meilleure, plus rapide et plus sécurisée, ainsi qu'à des fins publicitaires
          et de marketing. Voyez notre
          = link_to 'Déclaration cookies complète', pages_path('conditions-generales')
          pour plus d'informations.

        %h2#data-safety Comment nous sécurisons vos données à caractère personnel
        %p Nous sécurisons vos données à caractère personnel en utilisant des mesures de sécurité techniques et organisationnelles afin de minimiser les risques de perte, d'utilisation abusive, d'accès non autorisé, de divulgation et de modification. Nos sauvegardes comprennent, par exemple, des pare-feu et le cryptage des données, le contrôle d'accès physique dans nos centres de données et la gestion des autorisations pour l'accès à l'information. Si vous pensez que votre compte a été abusé, veuillez contacter le Service client.

        %h2#data-more-info Renseignements complémentaires importants relatifs à la confidentialité
        %p Cette section contient des informations supplémentaires sur la confidentialité que vous pouvez trouver importantes dans le cadre de votre utilisation de nos Services.

        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#more-info-1"}
                Que se passe-t-il lorsque vous partagez vos données à caractère personnel sur nos sites Web ou dans nos applications?
          #more-info-1.panel-collapse.collapse
            .panel-body
              %p Les autres utilisateurs ont accès aux données que vous partagez sur Qwerteach.com.  Par exemple, d'autres utilisateurs peuvent voir vos annonces, vos commentaires, vos évaluations et les commentaires associés. Les autres utilisateurs peuvent également voir les données que vous partagez dans votre profil.
              %p Lorsque vous utilisez nos Services, votre nom d'utilisateur public peut être affiché, accessible au public et lié à toutes vos activités publiques sur Qwerteach.com. Dans les notifications envoyées aux autres utilisateurs à propos d'activités suspectes et dans les notifications relatives aux violations sur nos sites, il est possible de faire référence à votre nom d'utilisateur public et à des objets spécifiques. Si vous liez votre nom à votre nom d'utilisateur, les personnes à qui vous avez fait connaitre votre nom peuvent identifier personnellement vos activités sur Qwerteach.
              %p Puisque vous avez également la possibilité d'entrer en contact direct avec un autre utilisateur sur notre site Web, nous vous conseillons de réfléchir de la manière dont vous partagez vos données à caractère personnel avec d'autres personnes. Vous êtes personnellement responsable des données à caractère personnel que vous partagez via notre site Web et nous ne pouvons donc pas garantir la confidentialité ou la sécurité des données que vous partagez avec d'autres utilisateurs.
        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#more-info-2"}
                Vos responsabilités à l'égard des données que vous recevez sur Qwerteach.com
          #more-info-2.panel-collapse.collapse
            .panel-body
              %p Lorsque vous entrez en contact avec un autre utilisateur et vous obtenez des données à caractère personnel de l'autre utilisateur (telles que nom, contenu des cours, devoirs, diplôme, enregistrement de vos cours, adresse e-mail, numéro de téléphone), vous avez, indépendamment de nous, le contrôle ces données et vous devez vous conformer à la législation applicable.
              %p Vous pouvez utiliser les données à caractère personnel auxquelles vous avez accès uniquement pour les transactions sur Qwerteach.com ou pour d'autres Services proposés par qwerteach.com  (tels que donner cours, les litiges, les plaintes de fraude et de communication avec d'autres utilisateurs) et pour lesquelles l'utilisateur concerné a donné son autorisation explicite. Les données à caractère personnel des autres utilisateurs auxquelles vous avez accès à d'autres fins constituent une violation de nos Conditions d'utilisation.

        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#more-info-3"}
                E-mail non sollicité ou menaçant (spam)
          #more-info-3.panel-collapse.collapse
            .panel-body
              %p Nous ne tolérons pas les abus de notre site Web. Vous n'êtes pas autorisé à ajouter d'autres utilisateurs de Qwerteach.com à votre liste de diffusion (e-mail ou courrier), même si un utilisateur a eu cours avec vous, à moins que l'utilisateur concerné ne l'ait expressément accepté. Si vous remarquez que quelqu'un abuse de notre site Web (spam ou spoof e-mails), nous vous demandons d'envoyer un e-mail à hello@qwerteach.com. Si vous pensez avoir découvert une faille de sécurité sur un site Web hébergé par qwerteach.com, nous vous demandons de faire un rapport avec une explication détaillée via hello@qwerteach.com.
              %p Il n'est pas permis d'utiliser nos moyens de communication pour envoyer du spam ou de toute autre manière envoyer du contenu qui viole nos Conditions d'utilisation. Pour votre sécurité, nous analysons automatiquement les messages et pouvons rechercher des spams, des virus, du phishing et d'autres activités nuisibles ou des contenus illégaux ou interdits. Cependant, nous ne stockons pas les messages envoyés via ces moyens de manière permanente.

        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#more-info-4"}
                Outils de communication
          #more-info-4.panel-collapse.collapse
            .panel-body
              %p Nous pouvons automatiquement analyser et vérifier les messages pour détecter le spam, les virus, le phishing et toute autre activité malveillante, le contenu illégal ou interdit ou les violations de nos Conditions d'utilisation, de cette déclaration de confidentialité ou de nos autres politiques.

        .panel.panel-default
          .panel-heading
            %h4.panel-title
              %a{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#more-info-5"}
                Pratiques de confidentialité des tiers
          #more-info-5.panel-collapse.collapse
            .panel-body
              %p Cette déclaration de confidentialité s'applique uniquement à notre utilisation et à notre traitement des données à caractère personnel que nous collectons à votre sujet lorsque nous vous offrons nos Services. Si vous fournissez ces données à des tiers ou visitez le site Web d'un tiers via un lien de nos Services, leurs déclarations de confidentialité et leurs pratiques concernant les données à caractère personnel sont d'application sur les données que vous leur fournissez ou qu'ils collectent à votre sujet.
              %p Nous ne pouvons pas garantir la confidentialité ou la sécurité de vos données à caractère personnel lorsque vous les fournissez à des tiers et nous vous conseillons donc de lire la politique de confidentialité et de sécurité de votre partenaire commercial avant de faire une transaction et de partager vos données à caractère personnel. Cela s'applique également si les tiers à qui vous divulguez des données à caractère personnel sont des utilisateurs sur notre site.

        %h2#contact-us Nous contacter
        %p Si vous avez une question ou une plainte concernant cette déclaration de confidentialité, nos normes globales de confidentialité ou nos pratiques de traitement des données, veuillez nous contacter avec le sujet "Demande de confidentialité":
        %p via hello@qwerteach.com
