= f.label field.permitted_attribute, class: 'field-unit__label col-sm-2 form-control-label text-xs-right'
.field-unit__field.col-sm-10
  = f.select(field.permitted_attribute, nil, {}, class: 'c-select form-control boxed') do
    = options_for_select(field.associated_resource_options, field.selected_option)
