- if field.data
  - if valid_action?(:show, field.send(:associated_class_name))
    = link_to(                             |
        field.display_associated_resource, |
        [namespace, field.data],           |
      )                                    |
  - else
    = field.display_associated_resource
