---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"FR","Nationality":"FR","Address":{"AddressLine1":"ZEGIJOERZJGOERZ","AddressLine2":"22EF","PostalCode":"87172","City":"FOKGPOER","Region":"EIJGERIGJE","Country":"FR"},"FirstName":"Wilfredo","LastName":"Abshire","Birthday":700268400,"Email":"larisa@collinsboyer.us","PersonType":"NATURAL","Tag":"user
        5"}'
    headers:
      Authorization:
      - bearer 28d616d5200c4e05869e4a75813b1c96
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.25","lang":"ruby","lang_version":"2.3.3 p222 (2016-11-21)","platform":"x86_64-darwin16","uname":"Darwin
        Aurelies-MacBook-Pro.local 16.4.0 Darwin Kernel Version 16.4.0: Thu Dec 22
        22:53:21 PST 2016; root:xnu-3789.41.3~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '137'
      - '234'
      - '3051'
      - '91'
      X-Ratelimit-Remaining:
      - '102549'
      - '2209'
      - '4363'
      - '8566'
      X-Ratelimit-Reset:
      - '1489259580'
      - '1489260480'
      - '1489262280'
      - '1489345020'
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"ZEGIJOERZJGOERZ","AddressLine2":"22EF","City":"FOKGPOER","Region":"EIJGERIGJE","PostalCode":"87172","Country":"FR"},"FirstName":"Wilfredo","LastName":"Abshire","Birthday":700268400,"Nationality":"FR","CountryOfResidence":"FR","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"PersonType":"NATURAL","Email":"larisa@collinsboyer.us","KYCLevel":"LIGHT","Id":"22460449","Tag":"user
        5","CreationDate":1489258698}'
  recorded_at: Sat, 11 Mar 2017 18:58:19 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[22460449],"Currency":"EUR","Description":"wallet user 5"}'
    headers:
      Authorization:
      - bearer 28d616d5200c4e05869e4a75813b1c96
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.25","lang":"ruby","lang_version":"2.3.3 p222 (2016-11-21)","platform":"x86_64-darwin16","uname":"Darwin
        Aurelies-MacBook-Pro.local 16.4.0 Darwin Kernel Version 16.4.0: Thu Dec 22
        22:53:21 PST 2016; root:xnu-3789.41.3~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '138'
      - '235'
      - '3052'
      - '92'
      X-Ratelimit-Remaining:
      - '102548'
      - '2208'
      - '4362'
      - '8565'
      X-Ratelimit-Reset:
      - '1489259580'
      - '1489260480'
      - '1489262280'
      - '1489345020'
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 5","Owners":["22460449"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"22460450","Tag":null,"CreationDate":1489258699}'
  recorded_at: Sat, 11 Mar 2017 18:58:19 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/22460449/transactions?per_page=100&sort=CreationDate:desc
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer 28d616d5200c4e05869e4a75813b1c96
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.25","lang":"ruby","lang_version":"2.3.3 p222 (2016-11-21)","platform":"x86_64-darwin16","uname":"Darwin
        Aurelies-MacBook-Pro.local 16.4.0 Darwin Kernel Version 16.4.0: Thu Dec 22
        22:53:21 PST 2016; root:xnu-3789.41.3~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/22460449/transactions?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="first",<https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/22460449/transactions?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="last"
      X-Number-Of-Pages:
      - '1'
      X-Number-Of-Items:
      - '0'
      X-Ratelimit:
      - '141'
      - '238'
      - '3055'
      - '95'
      X-Ratelimit-Remaining:
      - '102545'
      - '2205'
      - '4359'
      - '8562'
      X-Ratelimit-Reset:
      - '1489259580'
      - '1489260480'
      - '1489262280'
      - '1489345020'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sat, 11 Mar 2017 18:58:20 GMT
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural/22460449
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer 28d616d5200c4e05869e4a75813b1c96
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.25","lang":"ruby","lang_version":"2.3.3 p222 (2016-11-21)","platform":"x86_64-darwin16","uname":"Darwin
        Aurelies-MacBook-Pro.local [...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/22460449/cards?per_page=100&sort=CreationDate:desc
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer 28d616d5200c4e05869e4a75813b1c96
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.25","lang":"ruby","lang_version":"2.3.3 p222 (2016-11-21)","platform":"x86_64-darwin16","uname":"Darwin
 [...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/22460449/bankaccounts
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer 28d616d5200c4e05869e4a75813b1c96
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.25","lang":"ruby","lang_version":"2.3.3 p222 (2016-11-21)","platform":"x86_64-darwin16","uname":"Darwin
        Aurelies-MacBook-Pro.local 16.4.0 Darwin Kernel Version 16.4.0: Thu Dec 22
        22:53:21 PST 2016; root:xnu-3789.41.3~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/22460449/bankaccounts?page=1&per_page=10>;
        rel="first",<https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/22460449/bankaccounts?page=1&per_page=10>;
        rel="last"
      X-Number-Of-Pages:
      - '1'
      X-Number-Of-Items:
      - '0'
      X-Ratelimit:
      - '144'
      - '241'
      - '3058'
      - '98'
      X-Ratelimit-Remaining:
      - '102542'
      - '2202'
      - '4356'
      - '8559'
      X-Ratelimit-Reset:
      - '1489259580'
      - '1489260480'
      - '1489262280'
      - '1489345020'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Sat, 11 Mar 2017 18:58:20 GMT
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/22460449/wallets
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer 28d616d5200c4e05869e4a75813b1c96
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.25","lang":"ruby","lang_version":"2.3.3 p222 (2016-11-21)","platform":"x86_64-darwin16","uname":"Darwin
        Aurelies-MacBook-Pro.local [...]
[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cardregistrations
    body:
      encoding: UTF-8
      string: '{"UserId":22460449,"Currency":"EUR","CardType":"CB_VISA_MASTERCARD"}'
    headers:
      Authorization:
      - bearer 28d616d5200c4e05869e4a75813b1c96
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.25","lang":"ruby","lang_version":"2.3.3 p222 (2016-11-21)","platform":"x86_64-darwin16","uname":"Darwin
        Aurelies-MacBook-Pro.local 16.4.0 Darwin Kernel Version 16.4.0: Thu Dec 22
        22:53:21 PST 2016; root:xnu-3789.41.3~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '102'
      - '148'
      - '245'
      - '3062'
      X-Ratelimit-Remaining:
      - '102538'
      - '2198'
      - '4352'
      - '8555'
      X-Ratelimit-Reset:
      - '1489259580'
      - '1489260480'
      - '1489262280'
      - '1489345020'
    body:
      encoding: UTF-8
      string: '{"Id":"22460453","Tag":null,"CreationDate":1489258702,"UserId":"22460449","AccessKey":"1X0m87dmM2LiwFgxPLBJ","PreregistrationData":"-3qr8M0QBM0xs1g25H_bHk-omDrTbdaQ3XersymfH9kv-xy3BiBcAPyQ-C4RnN6ZS4wCy-yiraxeE65tmxOe8A","RegistrationData":null,"CardId":null,"CardType":"CB_VISA_MASTERCARD","CardRegistrationURL":"https://homologation-webpayment.payline.com/webpayment/getToken","ResultCode":null,"ResultMessage":null,"Currency":"EUR","Status":"CREATED"}'
  recorded_at: Sat, 11 Mar 2017 18:58:22 GMT
recorded_with: VCR 3.0.3
