---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic cXdlcnRlYWNocmFpbHM6eGs0WUpMWnZ5S3N5QWJoN0Q3RlRNUk92ckZ6azQyMWZzRE9pRHhIUHJPNlNVYzBvUnA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"3676fa8b7b254b67b99434b01714c429","token_type":"bearer","expires_in":1199}'
  recorded_at: Wed, 22 Mar 2017 18:53:46 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"FR","Nationality":"FR","Address":{"AddressLine1":"ZEGIJOERZJGOERZ","AddressLine2":"22EF","PostalCode":"87172","City":"FOKGPOER","Region":"EIJGERIGJE","Country":"FR"},"FirstName":"Son","LastName":"Tremblay","Birthday":701197200,"Email":"shan@ward.info","PersonType":"NATURAL","Tag":"user
        5"}'
    headers:
      Authorization:
      - bearer 3676fa8b7b254b67b99434b01714c429
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '101'
      - '168'
      - '3668'
      - '63'
      X-Ratelimit-Remaining:
      - '101932'
      - '2237'
      - '4399'
      - '8632'
      X-Ratelimit-Reset:
      - '1490209680'
      - '1490210580'
      - '1490212380'
      - '1490295120'
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"ZEGIJOERZJGOERZ","AddressLine2":"22EF","City":"FOKGPOER","Region":"EIJGERIGJE","PostalCode":"87172","Country":"FR"},"FirstName":"Son","LastName":"Tremblay","Birthday":701197200,"Nationality":"FR","CountryOfResidence":"FR","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"PersonType":"NATURAL","Email":"shan@ward.info","KYCLevel":"LIGHT","Id":"23103335","Tag":"user
        5","CreationDate":1490208822}'
  recorded_at: Wed, 22 Mar 2017 18:53:48 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[23103335],"Currency":"EUR","Description":"wallet user 5"}'
    headers:
      Authorization:
      - bearer 3676fa8b7b254b67b99434b01714c429
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '102'
      - '169'
      - '3669'
      - '64'
      X-Ratelimit-Remaining:
      - '101931'
      - '2236'
      - '4398'
      - '8631'
      X-Ratelimit-Reset:
      - '1490209680'
      - '1490210580'
      - '1490212380'
      - '1490295120'
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 5","Owners":["23103335"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"23103338","Tag":null,"CreationDate":1490208823}'
  recorded_at: Wed, 22 Mar 2017 18:53:48 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23103335/transactions?per_page=100&sort=CreationDate:desc
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer 3676fa8b7b254b67b99434b01714c429
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23103335/transactions?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="first",<https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23103335/transactions?sort=CreationDate%3adesc&per_page=100&page=1>;
        rel="last"
      X-Number-Of-Pages:
      - '1'
      X-Number-Of-Items:
      - '0'
      X-Ratelimit:
      - '105'
      - '172'
      - '3672'
      - '67'
      X-Ratelimit-Remaining:
      - '101928'
      - '2233'
      - '4395'
      - '8628'
      X-Ratelimit-Reset:
      - '1490209680'
      - '1490210580'
      - '1490212380'
      - '1490295120'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 22 Mar 2017 18:53:50 GMT
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural/23103335
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer 3676fa8b7b254b67b99434b01714c429
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Da[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23103335/cards?per_page=100&sort=CreationDate:desc
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer 3676fa8b7b254b67b99434b01714c429
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
 [...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23103335/bankaccounts
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer 3676fa8b7b254b67b99434b01714c429
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23103335/bankaccounts?page=1&per_page=10>;
        rel="first",<https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23103335/bankaccounts?page=1&per_page=10>;
        rel="last"
      X-Number-Of-Pages:
      - '1'
      X-Number-Of-Items:
      - '0'
      X-Ratelimit:
      - '108'
      - '175'
      - '3675'
      - '70'
      X-Ratelimit-Remaining:
      - '101925'
      - '2230'
      - '4392'
      - '8625'
      X-Ratelimit-Reset:
      - '1490209680'
      - '1490210580'
      - '1490212380'
      - '1490295120'
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 22 Mar 2017 18:53:52 GMT
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23103335/wallets
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer 3676fa8b7b254b67b99434b01714c429
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Da[...]
[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/cardregistrations
    body:
      encoding: UTF-8
      string: '{"UserId":23103335,"Currency":"EUR","CardType":"CB_VISA_MASTERCARD"}'
    headers:
      Authorization:
      - bearer 3676fa8b7b254b67b99434b01714c429
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '112'
      - '179'
      - '3679'
      - '74'
      X-Ratelimit-Remaining:
      - '101921'
      - '2226'
      - '4388'
      - '8621'
      X-Ratelimit-Reset:
      - '1490209680'
      - '1490210580'
      - '1490212380'
      - '1490295120'
    body:
      encoding: UTF-8
      string: '{"Id":"23103341","Tag":null,"CreationDate":1490208830,"UserId":"23103335","AccessKey":"1X0m87dmM2LiwFgxPLBJ","PreregistrationData":"S2mSVl8PLRVHgaMNATInMsWllNnxInQRYk38eUnrUNaoSxf4hJmgtwGE1xqfmfz8S4wCy-yiraxeE65tmxOe8A","RegistrationData":null,"CardId":null,"CardType":"CB_VISA_MASTERCARD","CardRegistrationURL":"https://homologation-webpayment.payline.com/webpayment/getToken","ResultCode":null,"ResultMessage":null,"Currency":"EUR","Status":"CREATED"}'
  recorded_at: Wed, 22 Mar 2017 18:53:55 GMT
recorded_with: VCR 3.0.3
