.row#faq-header.header.valign-wrapper
  .col-sm-2.col-xs-4
    .icon-header.icon-coloured.icon-white
      %i.material-icons.large.text-black help
  .col-sm-8.col-xs-4
    .header-infos
      %h1
        Questions fréquemment posées
        %br
        %small Besoin d'un coup de main?
  .col-sm-2.col-xs-4
    .header-right.text-right