.card.card-bank-accounts
  .card-content
    - if @user.is_a?(Teacher)
      = render 'wallets/cards/teacher_accounts_and_cards'
    - else
      = render partial: 'wallets/cards/student_accounts_and_cards'
    %hr
    = link_to edit_wallet_path, class: 'text-green valign-wrapper' do
      %i.fa.fa-edit
      #{"  Voir tout"}