%p.alert.alert-info
  Afin de pouvoir procéder à des payements sur le site, vous devez configurer votre portefeuille virtuel.
  %br
  Pour ce faire, remplissez le formulaire ci-dessous.
  Ces informations sont confidentielles et ne seront pas communiquées à des tiers.