//commentaire
//@import 'conversations';
//@import "bootstrap/variables";
//@import "bootstrap/mixins/grid-framework";
//@import "bootstrap/mixins/clearfix";
//@import "bootstrap/mixins/grid";
//@import "bootstrap/grid";
//@import "dispute";
.conversation-admin{
  .show-more, .mailbox-conversation-details{
    display:none;
  }
  .mailbox-conversation{
    border: 1px solid lightgrey;
  }
  .conversation-content{
    height: 400px;
    overflow-y: auto;
  }
}
.clearfix{
  clear:both;
}
.cell-data--text{
  white-space: inherit;
}
.preserve-whitespace {
  white-space: inherit;
}
.text-strong {
  font-weight: bold;
}

.bg-green{
  background-color: lightgreen;
}
.bg-blue{
  background-color: lightblue;
}
.pull-right{
  float:right;
}
.pull-left{
  float:left;
}
.table__row{
  img{
    max-width: 2em;
  }
}

.form-filters {
  flex-wrap: nowrap;
  .form-group {
    flex-shrink: 1;
    & > select, & > input {
      width: 100%;
    }
  }
}

.datepicker td, .datepicker th {
  padding: 5px;
}