@import "font-awesome-sprockets";
@import "font-awesome";


@import 'modular-admin/variables';
@import 'bootstrap4';
@import 'bootstrap-datepicker';
@import 'modular-admin/mixins';
@import 'modular-admin/navigation';
@import 'modular-admin/alert';
@import 'modular-admin/button';
@import 'modular-admin/card';
@import 'modular-admin/common';
@import 'modular-admin/dropdown';
@import 'modular-admin/form';
@import 'modular-admin/header';
@import 'modular-admin/layout';
@import 'modular-admin/logo';
@import 'modular-admin/main';
@import 'modular-admin/modal-tabs';
@import 'modular-admin/pagination';
@import 'modular-admin/scrollbar';
@import 'modular-admin/sidebar';
@import 'modular-admin/table';
@import 'modular-admin/metismenu';
@import 'modular-admin/cells';
@import 'modular-admin/auth';
@import 'modular-admin/datetimepicker';
@import 'modular-admin/daterangepicker';

