.dispute-messages{
  .nav-tabs{
    width: 80%;
    margin-bottom: 5px;
  }
  .tab-content{
    width: 80%;
    .pre-scrollable{
      margin-bottom: 5px;
    }

    .dispute-message{
      &.message-incoming{
        text-align: left;
      }
      &.message-outgoing{
        text-align: right;
      }
      .wrapper{
        display: inline-block;
        text-align: left;
        .sign{
          font-size: 0.8em;
          color: #999;
          .time{color:transparent;}
        }
        .text{
          font-size: 0.9em;
          color: #000;
        }
        &:hover{
          .sign .time{
            color: #000;
          }
        }
      }
    }

  }
}
