.dispute-messages{
  .nav-tabs{
    margin-right: 1.5em;
    .cut{
      overflow: hidden;
      max-width: 200px;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  .tab-content{
    margin-right: 1.5em;
    border-left: 1px solid #ddd;
    .pre-scrollable{
      margin-bottom: 5px;
      min-height: 340px;
    }
  }
}
