.row.header.valign-wrapper
  .col-sm-2.col-xs-4
    .icon-header.icon-coloured.icon-white
      %i.fa.fa-graduation-cap.text-green.fa-5x
  .col-sm-8.col-xs-4
    .header-infos
      %h1
        Vos cours
        %br
        %small Gérez vos réservations et visualisez votre planning
  .col-sm-2.col-xs-4
    .header-right.text-right