%h3 Responsable: #{postulation.responsible_admin.name unless postulation.responsible_admin.nil?}
%table.collection-data
  %thead
    %tr
      - postulation.admin_fields.keys.each do |key|
        %th.cell-label #{key.to_s.titleize}
    %tr
      -postulation.admin_fields.each do |key, attr|
        %td #{attr ? 'OK' : 'X'}
