%h4 Responsable: #{postulation.responsible_admin.name unless postulation.responsible_admin.nil?}
%table.table.table-striped
  %thead
    %tr
      - postulation.admin_fields.keys.each do |key|
        %th.cell-label #{key.to_s.titleize}
    %tr
      -postulation.admin_fields.each do |key, attr|
        - if attr
          %td.text-primary= icon('fa', 'check', class: 'text-strong')
        - else
          %td.text-danger= icon('fa', 'times', class: 'text-strong')
