%section.section
  .row
    .col-md-6
      .card
        .card-header
          .header-block
            %h4.title Lessons count by date
        .card-block
          #lessons-count-chart

    .col-md-6
      .card
        .card-header
          .header-block
            %h4.title Lessons amount by date
        .card-block
          #lessons-amount-chart

:javascript
  function drawMorrisCharts() {
    $('#lessons-count-chart').empty();
    $('#lessons-amount-chart').empty();

    var primaryColor = '#85CE36';

    Morris.Bar({
      element: 'lessons-count-chart',
      data: #{data_for_lesson_counts_chart(@entities).to_json},
      xkey: 'period',
      ykeys: ['count'],
      hideHover: 'auto',
      labels: ['Lessons count'],
      resize: true,
      barColors: [ primaryColor ]
    });

    Morris.Bar({
      element: 'lessons-amount-chart',
      data: #{data_for_lesson_amounts_chart(@entities).to_json},
      xkey: 'period',
      ykeys: ['count'],
      hideHover: 'auto',
      labels: ['Lessons amount'],
      resize: true,
      barColors: [ primaryColor ]
    });
  }

  drawMorrisCharts()