if($('#new_offer').length > 0){
var choice = $('#new_offer .level_choice_levels');
}
else{
var choice = $('.level_choice_levels');
}

choice.empty();
choice.append("#{j render :partial => 'level_choice', locals:{offer: @offer, levels:@levels}}");
choice.children('option:nth-child(2)').attr('selected', 'selected')