.card.card-search
  .card-content
    .row
      .col-xs-2.text-center
        .icon-coloured.icon-green.icon-title
          %i.fa.fa-question.fa-2x
      .col-xs-10
        .card-title
          Les forfaits de cours, comment ça marche?
      .col-xs-12
        %hr
        %p
          Un professeur vous propose de réserver <b>plusieurs cours d'un coup</b>, avec une réduction entre 0% et 20% sur son tarif horaire.<br />
          En concertation avec vous, le professeur a établi la liste des cours qu'il vous propose maintenant de réserver.
          <br />
        %h4 Annuler un cours ?
        %p Vous pouvez annuler unilatéralement un des cours du forfait. Dans ce cas, vous serez remboursé le 50% du prix du cours.
        %p Vous <b>ne pouvez pas</b> annuler un cours moins de 24h avant l'heure de début.<br />

        %h4 Déplacer un cours ?
        %p
          Vous pouvez modifier unilatéralement la date d'un cours, mais cette action n'est possible <b>qu'une fois</b>.
          Si vous devez à nouveau dépacer le cours, veuillez contacter le professeur, qui pourra le faire pour vous.