.col-sm-3.col-xs-6
  = render partial: 'dashboards/cards/past_lessons'
.col-sm-6.col-xs-6
  = render partial: 'dashboards/cards/postulation'
.col-sm-3.col-xs-6
  = render partial: 'dashboards/cards/wallet'