.col-sm-3.col-xs-6
  = render partial: 'dashboards/cards/past_lessons'
.col-sm-3.col-xs-6
  = render partial: 'dashboards/cards/past_lessons_given'
.col-sm-3.col-xs-6
  = render partial: 'dashboards/cards/pending_lessons'
.col-sm-3.col-xs-6
  = render partial: 'dashboards/cards/wallet'