.col-md-3.col-sm-6
  = render partial: 'dashboards/cards/past_lessons'
.col-md-3.col-sm-6
  = render partial: 'dashboards/cards/wallet'
.col-sm-6.col-xs-6
  = render partial: 'dashboards/cards/postulation'