.col-md-3.col-sm-6
  = render partial: 'dashboards/cards/teacher_stats'
.col-md-3.col-sm-6
  = render partial: 'dashboards/cards/past_lessons_given'
.col-md-3.col-sm-6
  = render partial: 'dashboards/cards/pending_lessons'
.col-md-3.col-sm-6
  = render partial: 'dashboards/cards/wallet'