.col-sm-9.col-xs-6
  = render partial: 'dashboards/cards/postulation'
.col-md-3.col-sm-6
  = render partial: 'dashboards/teacher/pending_lessons'

.col-xs-12
  = render partial: 'dashboards/cards/masterclass'
.col-xs-12
  = render partial: 'dashboards/teacher/promotion'