.row
  .col-xs-12.featured-teachers
    %h2.text-center
      Quelques profs qui pourraient vous intéresser
    #search-results
      -teachers.each do |teacher|
        = render partial: 'users/search/search_result', :locals => {:u => teacher, :custom=>nil}
    %hr
    %h4.text-center #{link_to 'Tous les profs', profs_path}