- if lesson.past?
  -# Nothing here, lesson already happened
- else
  - if lesson.pending?
    En attente de la réponse de l'autre partie
  - else
    - if lesson.bbb_room.nil?
      Cours plannifié. Vous aurez automatiquement accès à la classe virtuelle 10mn avant le début de votre cours.
    - else
      Ce cours a déjà commencé!
      %br
      = link_to 'Rejoindre la classe virtuelle', join_bigbluebutton_room_path(lesson.bbb_room), target: "_blank"
  %br
  = link_to 'annuler le cours', lesson_cancel_path(lesson), class: 'btn btn-qw btn-grey btn-sm' unless lesson.bbb_room