-#.container
-#  .row
-#    = onboarding_progress_bar

#onboarding
  #choose-role
    .role-teacher.role.valign-wrapper
      .role-content
        = link_to become_teacher_path(:valid_email) do
          %i.fa.fa-briefcase.fa-5x
          %h3 Je suis prof
          %p Je voudrais donner cours et partager mes connaissances
    .role-student.role.valign-wrapper
      .role-content
        = link_to next_wizard_path do
          %i.fa.fa-graduation-cap.fa-5x
          %h3 Je suis élève
          %p Je cherche un prof particulier

