-##choose-topics
-#  .container
-#    .row.text-center.text-white
-#      %h1 Vos matières
-#      %p Trouvez votre prof idéal, pour bénéficier de vos cours particuliers en ligne :)
-#    .row
-#      .col-md-8.col-md-offset-2
-#        #user-interests
-#          - @user.interests.each do |i|
-#            = render partial: 'interests/tag', locals: {interest: i}
-#      .section_recherche
-#        = form_tag interests_path, method: :post, id: 'search-form', remote: true do |f|
-#          = autocomplete_field_tag 'interest[topic_id]', '', autocomplete_topic_title_topics_path, :size => 75, :class => "recherche-bar", placeholder: 'ex: mathématiques'
-#          %button{type: "submit"}
-#            %i.fa.fa-search
-#          = hidden_field_tag 'interest[student_id]', current_user.id
-#        .row
-#          .col-xs-12.text-center
-#            =link_to 'Suivant', next_wizard_path, class: 'btn btn-green btn-qw'
-#
-#
#choose-topics
  .container
    .row
      .row.text-center.text-white
        %h1 Dans quelle matière avez-vous besoin d'aide?
        %p Trouvez votre prof idéal, pour bénéficier de vos cours particuliers en ligne :)
      .col-sm-6.col-sm-offset-3
        .card
          .card-content
            .alert.alert-info
              Remplissez ce formulaire, pour être mis en relation avec les professeurs de notre communauté les plus pertinents par rapport à votre situation.
            = render partial: 'global_requests/form', locals: {redirect: root_path}
            .text-right
              =link_to 'Pas maintenant', profs_path