.avatar-uploaded-view {
  display: inline-block;
  max-width: 100%;
  vertical-align: top;
  img {
    width: 100%;
    max-width: 100%;
  }
}

//.avatar-uploaded-preview {
//  display: inline-block;
//  vertical-align: top;
//  width: 200px;
//  height: 200px;
//  position: relative;
//  overflow: hidden;
//  margin-bottom:20px;
//}

.avatar-uploaded-preview{
  max-height:300px;
  max-width:300px;
  text-align: center;
  display: inline;
}

.modal-body-avatar {
  text-align:center;
  .col-view {
    .avatar-uploaded-view {
      display: inline-block;
    }
  }
  .avatar-uploaded-preview {
    flex-shrink: 0;
  }
}