@import "global_variables";
.become-teacher-progress-bar{
  margin:20px 0px;
  padding: 0px;
  ul{
    padding: 0px;
  }
  .become-teacher-step{
    display: inline-block;
    margin: 5px 0px;
    text-align:center;
  }
  .become-teacher-step{
    width:20%;
  }
  ul li:first-child:before{
    border-color:transparent;
  }
  ul li:before{
    content:'';
    width:100%;
    height:2px;
    border: 2px solid $color_qwerteach_green;
    display: block;
    position: relative;
    top: 13px;
    z-index: -1;
    right: 50%;
  }
  .step-name{
    display:block;
    text-align:center;
  }
  .step-number{
    display:inline-block;
    width:25px;
    padding-top: 2px;
    height:25px;
    border: 1px solid;
    border-radius:50%;
    background-color:white;
  }
  .finished{
    .step-number {
      color:white;
      background-color: $color_qwerteach_green;
      border:none;
    }
  }
  .current{
    .step-number{

    }
  }
  .unfinished{
    .step-number, a .step-name{
      color: $text_grey;
      border-color: $text_grey;
    }
  }
  ul li.unfinished:before{
    border: 2px solid $text_grey;
  }

}
.become-teacher-offers{
  .offer-edit-form, .offer-form{
    margin-top: 30px;
    width:80%;
    margin-left:10%;
    background-color: rgb(240, 240, 240);
    padding: 30px;
    h3.offer-title{
      margin: -30px;
      margin-bottom: 20px;
      padding: 15px 30px;
    }
    h3.offer-title{

    }
  }
}