@import "global_variables";
.become-teacher-progress-bar{
  z-index: 1;
  position: relative;
  margin-top:10px;
  color: white;
  margin-bottom:20px;
  ul{
    counter-reset: step;
    li{
      list-style-type: none;
      color: white;
      font-size: 9px;
      width: 20%;
      float: left;
      position: relative;
      text-align: center;
      a{
        color:white;
      }
    }
    li:before {
      content: counter(step);
      counter-increment: step;
      width: 20px;
      line-height: 20px;
      display: block;
      font-size: 10px;
      color: #333;
      background: white;
      border-radius: 3px;
      margin: 0 auto 5px auto;
    }
    li:after {
      content: '';
      width: 100%;
      height: 2px;
      background: white;
      position: absolute;
      left: -50%;
      top: 9px;
      z-index: -1;
    }
    li:first-child:after {
      /*connector not needed before the first step*/
      content: none;
    }
    /*marking active/completed steps green*/
    /*The number of the step and the connector before it = green*/
    li.finished:before, li.finished:after , li.current:after{
      background: $color_qwerteach_green;
      color: white;
    }
  }

}

#become-teacher {
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: image_url('become_teacher/abtest/q4.jpg');
  text-align: center;
  .become-teacher-offers, .become-teacher-general-infos, .become-teacher-avatar, .become-teacher-banking-informations, .become_teacher_finish{
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    .highlight{
      font-weight:800;
    }
    .edit-user-avatar{
      margin-top:10px;
    }
  }
}