@import "global_variables";

#dashboard-calendar{
  .fc-toolbar{
    .fc-left{
      h2{
        font-family: SofiaProregular;
        font-size: 20px;
        text-transform: capitalize;
      }
    }
  }
  td.fc-today.fc-day{
    background-color: rgba(34,222,128,0.2);
    color: white;
  }
  .fc-content-skeleton{
    table{
      thead, thead tr{
        border-bottom: 0px;
      }
    }
  }
}