@import "global_variables";
#contact{
  .contact-header{
    width:100%;
    height:150px;
    background-image: image-url('contact_hearder.jpeg');
    background-size: cover;
  }
  h1{
    font-family: SofiaProRegular;
    padding: 30px;
  }
  address{
    font-family: SofiaProregular;
    font-size: 36px;
  }
}