@import "global_variables";

#featured_teachers{
  padding-left:0px;
  padding-right:0px;
  h2{
    font-size: 24px;
    margin:0px;
    padding:30px;
  }
  a.featured-teacher:hover{
    color: $medium_grey;
  }
  .featured_teacher{
    float:left;
    width:20%;
    background: rgba(0,0,0,0.05);
    height: 340px;
    .picture img{
      width:100%;
    }
    .min_price{
      background-color: $qwerteach_black;
      font-size: 13.71px;
      color: #FFFFFF;
      letter-spacing: 0px;
      text-align:center;
      padding:5px;
    }
    .name, .topics{
      padding:0px 10px;
    }
  }
  .featured_teacher:nth-child(even) {
    background: white;
    .min_price {
      background: $dark_grey;
    }
  }
}
#upcoming_lessons{
  h2{
    margin:0px;
    padding:20px;
    background: $qwerteach_black;
    font-size: 24px;
    color: $text_light_grey;
    letter-spacing: 0px;
    font-weight:400;
  }
  .lesson-date{
    width:170px;
    height:170px;
    float:left;
    background-color: $color_qwerteach_pink;
    color: white;
    .lesson-day{
      font-size: 90px;
    }
    .lesson-month{
      font-size: 24px;
      font-weight:200;
      margin-top:-25px;
    }
  }
  .lesson-partner{
    width:170px;
    height:170px;
    float:left;
    img{
      height:100%;
    }
  }
  .lesson-details{
    height:170px;
    padding:45px;
    margin-left:340px;
    font-size: 22px;
    font-weight:300;
    .time-start{
      font-weight:300 !important;
    }
    .lesson-picto{
      height:75px;
    }
    .see-more{
      font-size:14px;
      letter-spacing: 0.2px;
    }
  }
}

#past_lessons{
  h2{
    font-size: 24px;
    margin:0px;
    padding:20px 0px;
    text-align:center;
    color:$dark_grey;
    background-color:$color_qwerteach_green;
  }
  .preview-lesson{
    background-image: image-url("dashboard/preview_cours");
    background-size: cover;
    height:170px;
    font-weight:300;
    padding: 20px;
    .lesson-topic{
      font-weight:200;
      font-size:22px;
      color: $color_qwerteach_yellow;
      line-height:30px;
    }
    .lesson-partner a{
      font-family:SofiaProLight;
      font-size: 22px;
      line-height:30px;
    }
    .lesson-date{
      margin-top:20px;
      color:$color_qwerteach_yellow;
      font-size: 16px;
      line-height:20px;
    }
    .lesson-seemore{
      a {
        color: $text_light_grey;
      }
      font-size: 12px;
      position: absolute;
      width: 100%;
      left: 0;
      top: 50%;
    }
    .lesson-seemore a:hover{
      color: white;
    }
  }
  .empty-lesson{
    height:170px;
    line-height:170px;
    padding:7px 5px;
    position:relative;
    .border{
      height:100%;
      width:100%;
      border: 1px dashed $text_grey;
    }
  }
}

#dashboard-cards{
  margin: 20px 0px;
}

#dashboard-calendar {
  font-family: SofiaProRegular;
  .btn-search {
    background-color: $color_qwerteach_green;
    color: $qwerteach_black;
  }
  .input-group{
    padding: 10px 50px;
  }
  .lessons-list{
    margin-top:45px;
    .lesson-datetime{
      text-transform:uppercase;
      font-size: 12px;
    }
    .lesson-topic{
      font-size:16px;
    }
  }
  .lesson-img{
    padding: 0px 5px;
    img{
      width:100%;
      height:auto;
    }
    .picto{
      max-height:62px;
      max-width:62px;
    }
  }
}
#help_request_lesson{
  padding: 100px 0px 50px 0px;
  background-image: image-url("dashboard/help_request_lesson.jpg");
  background-size: cover;
  .help{
    font-size: 24px;
    font-family: SofiaProExtraLight;
  }
  h3{
    font-size: 32px;
    font-family: SofiaProExtraLight;
    i{
      border-radius: 50%;
      height:40px;
      width:40px;
      text-align:center;
      line-height:40px;
      background-color: $color_qwerteach_green;
      color: white;
      margin-top:20px;
      font-size: 24px;
    }
  }
}

#book_again{
  background: $dark_grey;
  height: 170px;
  padding: 35px;
  font-size: 22px;
  color:white;
  font-weight: 200;
  .teacher-picture img{
    border-radius: 50%;
    height:100px;
    float:left;
    margin-left:140px;
    margin-right:70px;
  }
  .booking-details{
    padding: 30px 0px;
    float:left;
  }
  .cta{
    float:right;
    color: $color_qwerteach_green;
    font-size: 14px;
    padding: 30px;
    i{
      color:$dark_grey;
      background: #FFFFFF;
      border-radius: 50%;
      height:30px;
      width:30px;
      text-align:center;
      line-height:30px;
    }
  }
}

#postulation{
  padding: 0px 30px;
  background-color: $color_qwerteach_purple;
  color:white;
  .panel{
    background-color: $color_qwerteach_purple;
    color:white;
    border: none;
    border-radius: 0px;
    box-shadow:none;
    margin-bottom:0;
  }
  .postulation-point{
    text-align:center;
    width: 14.2857%;
    float:left;
    padding: 20px 0px;
    margin-bottom: 0px;
  }
  .postulation-point:hover{
    cursor:pointer;
    background-color:$color_qwerteach_purple_light;
  }
  .explanation{
    margin: 30px;
  }
}

#teacher-tools{
  padding-bottom: 20px;
  .tools-list{
    border-right: 1px solid $medium_grey;
  }
  .tools-list:last-child{
    border-right:none;
  }
}
.featured-teachers{
  h2{
    font-size: 30px;
  }
}
