@import "global_variables";
.bootstrap-datetimepicker-widget{
  .datepicker{
    .active{
      background-color:$color_qwerteach_green!important;
    }
    .active:hover{
      background-coor:$color_qwerteach_green;
      color: $dark_grey;
    }
  }
  .picker-switch{
    a:hover{
      color:$color_qwerteach_green;
    }
  }
}
div.datepicker{
  td.active{
    background-color: $color_qwerteach_green!important;
  }
  td.active:hover{
    background-coor:$color_qwerteach_green;
    color: $dark_grey;
  }
  th.prev:hover, th.next:hover{
      color:$color_qwerteach_green;
  }
}
