@import "global_variables";

/***User registration edit ***/
.edit_profile{
  font-family: SofiaProRegular !important;
  height:100%;
  .container-fluid{
    height:100%;
  }
  .row.flex{
    display:flex;
    height:100%;
  }
  .menu{
    text-align: center;
    padding: 0;
    background: $qwerteach_black;
    .avatar{
      width: 100%;
    }
    .active{
      background: $color_qwerteach_green;
      border: 0px;
      color: $qwerteach_black;
    }
    h2, a{
      color: $text_light_grey;
      font-size: 11px;
      margin: 0;
    }
    a{
      cursor:pointer;
      height: 100%;
      width: 100%;
      display: block;
      padding: 5px 0px;
      border-bottom: 1px solid $text_light_grey;
    }
    a:hover{
      background-color: $dark_grey;
    }
    a.active:hover{
      background-color:$color_qwerteach_green;
    }
    .title{
      border: none;
      background: $medium_grey;
      h2{
        padding: 5px 0px;
      }
    }
  }
  form#edit_user{
    padding: 0px 30px;
  }
  .user-avatar form input{
    position:absolute;
    width:0px;
    height:0px;
    z-index:-10;
  }
  .user-avatar:hover {
    .edit-user-avatar {
      display:block;
      position: relative;
      cursor:pointer;
      .banner {
        font-family: SofiaProLight;
        color:white;
        position: absolute;
        height: 40px;
        line-height:40px;
        bottom: 0px;
        width: 100%;
        background-color: black;
        opacity: 0.7;
        i {
          position: absolute;
          bottom: 10px;
          right: 10px;
          color: white;
          font-size: 20px;
        }
      }
    }
  }
  .edit-user-avatar{
    display:none;
  }
}