@import 'global_variables.scss';
.faq-template{
  display:block;
  .header{
    display: block;
    margin: auto;
    width: 60%;
    padding-top: 50px;
    h1{
      padding-bottom: 25px;
    }
    ul{
      padding: 0;
      li{
        display: inline-block;
        padding-right: 25px;
        a{
          cursor: pointer;
          color: $dark_grey;
          font-size: 14px;
        }
        a:hover{
         text-decoration:none;
          border-bottom: 2px solid $color_qwerteach_green;
        }
      }
      .active{
        border-bottom: 2px solid $color_qwerteach_green;
      }
    }
  }
  .unav{
    display:block;
    background: $color_qwerteach_green;
    ul{
      width: 60%;
      margin: auto;
      padding: 15px 0px;
      li{
        display: inline-block;
        padding-right: 25px;
        a{
          cursor: pointer;
          color: white;
          font-size: 14px;
        }
        a.active, a:hover{
          border-bottom: 1px solid white;
        }
        a:hover{
          text-decoration: none;
        }
      }
    }
  }
  #accordion{
    background: white;
  }
  .panel{
    background-image: none !important;
    border: none !important;
    margin: 10px 0px !important;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.5);
    border-radius: 0 !important;
    background: white;
    a,p,h4{
      font-size: 12px !important;
      color: $dark_grey !important;
    }
    .panel-heading{
      padding: 0 !important;
      background-image: none !important;
      background: transparent !important;
      div{
        width: 60%;
        margin: auto;
        padding: 15px 0px;
      }
    }
    .panel-collapse{
      background: transparent;
      border: none !important;
      div{
        width: 60%;
        margin: auto;
        p{
          padding-top: 20px;
          padding-bottom: 20px;
          font-weight: bold;
        }
      }
    }
  }
}