@import "global_variables";

form{
  a{
    font-family: SofiaProLight;
  }
  .actions{
    margin: 25px 0px;
    text-align:right;
    input[type="submit"]{
      color:$dark_grey;
      background-color: $color_qwerteach_green;
      border:none;
      font-size: 14px;
      padding: 6px 30px;
      border-radius: 17px;
      margin-left:10px;
      font-family: SofiaProLight;
      margin-bottom: 10px;
    }
  }
  input[type="number"]{
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
  }
  .checkbox label{
    line-height: 25px;
  }
}

select, select.form-control, .form-control.select{
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  background: url('select_arrow.png') no-repeat 97% 50% #ffffff;
  background-image: url('select_arrow.png');
}