$color_qwerteach_green : #22de80;
$color_qwerteach_green_light: #A4F7CD;
$color_qwerteach_pink : #d92d9b;
$color_qwerteach_purple: #501dd4;
$color_qwerteach_purple_light: #6C42D9;
$color_qwerteach_orange: #eba029;
$color_qwerteach_yellow: #F8E71C;
$color_qwerteach_blue: #3DCAFF;
$color_qwerteach_red: #A80015;

$qwerteach_black: #222;
$dark_grey: #313131;
$medium_grey: #626262;
$text_grey: #9B9B9B;
$text_light_grey: #E2E2E2;


/***Fonts***/

/**Sofia Pro**/
@font-face {
    font-family: 'SofiaProRegular';
    src: font-url('SofiaProRegular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SofiaProBold';
    src: font-url('SofiaProRegular.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'SofiaProBoldItalic';
    src: font-url('SofiaProBoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'SofiaProExtraLight';
    src: font-url('SofiaProExtraLight.otf') format('opentype');
    font-weight: thin;
    font-style: normal;
}
@font-face {
    font-family: 'SofiaProExtraLightItalic';
    src: font-url('SofiaProExtraLightItalic.otf') format('opentype');
    font-weight: thin;
    font-style: italic;
}
@font-face {
    font-family: 'SofiaProItalic';
    src: font-url('SofiaProItalic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'SofiaProLight';
    src: font-url('SofiaProLight.otf') format('opentype');
    font-weight: light;
    font-style: normal;
}
@font-face {
    font-family: 'SofiaProLightItalic';
    src: font-url('SofiaProLightItalic.otf') format('opentype');
    font-weight: light;
    font-style: italic;
}