@import "global_variables";

body, html{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  height:100%;
}
body#body{
}
body{
  padding-bottom:50px; // because of navbar
  overflow-x: hidden;
  a{
    color: $color_qwerteach_green;
  }
  a:hover, a:active, a:focus{
    text-decoration: none;
    outline: 0;
    color: inherit;
  }
  a.btn:hover{
    text-decoration:none;
  }
}
h1,h2,h3,h4,h5{
  font-family: SofiaProRegular;
}
h1{
  text-transform: uppercase;
  font-size: 3rem;
}
h2{
  font-size: 32px;
}
p, span, a, ul, li{
  font-family: 'Open Sans', sans-serif;
}
.toggle-content{
  display:none;
}
.toggle-content.active{
  display:block;
}

.main-content{
  background-color: #f0f0f0;
  min-height: 50%;
  //z-index: 1;
  position: relative;
}
.alert{
  .close{
    opacity:0.9;
    img{
      height: 30px;
      margin-top: 0px;
    }
  }
}
#flash-messages{
  position: relative;
  width: 100%;
  z-index: 2;
  .alert{
    border-radius:0px;
    border:0px;
    margin-bottom: 0px;
    text-align:center;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.9);
    background-color: $color_qwerteach_blue;
    background-image: none;
  }
  .alert-notice{
    background-color: $color_qwerteach_blue;
    background-image:none;
  }
  .alert-success{
    background-color: $color_qwerteach_green;
    background-image:none;
  }
  .alert-danger{
    background-color: $color_qwerteach_pink;
    background-image:none;
  }
  .alert-warning{
    background-color: $color_qwerteach_orange;
    background-image:none;
  }
}

.btn.btn-qw{
  border-radius: 30px;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-weight: 300;
  padding: 1px 30px;
}
.btn-sm.btn.btn-qw, .btn-sm.btn.btn-qw:hover {
  font-size: 14px;
  padding: 1px 12px;
  border-radius: 30px;
}

.btn.btn-green, .btn.btn-success, .btn.btn-green:hover, .btn.btn-success:hover{
  background: $color_qwerteach_green;

  font-size: 16px;
  color: $qwerteach_black;
  padding:8px 20px;
  .descriptionPlusResteProfil {
    margin-top: 400px;
  }
}
.btn-pink, .btn-pink:hover{
  background: $color_qwerteach_pink;
  color:white;
}
.btn-orange, .btn-orange:hover{
  background: $color_qwerteach_orange;
  color:white;
}
.btn-purple, .btn-purple:hover{
  background: $color_qwerteach_purple;
  color:white;
}

.text-green, .text-green:hover{
  color:$color_qwerteach_green!important;
}
.text-white{
    color:white;
}
.text-grey{
  color: $medium_grey;
}
.text-black{
  color: #000;
}
.text-pink{
  color: $color_qwerteach_pink;
}
.text-blue{
  color: $color_qwerteach_blue;
}
.text-purple{
  color: $color_qwerteach_purple;
}
.text-orange{
  color: $color_qwerteach_orange;
}
.text-yellow{
  color: $color_qwerteach_yellow;
}
.text-mauve{
  color: $color_qwerteach_mauve;
}

.cmn-toggle
{
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.cmn-toggle + label
{
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.cmn-toggle-round-flat + label
{
  padding: 2px;
  width: 60px;
  height: 25px;
  background-color: $text_light_grey;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}

input.cmn-toggle-round-flat + label:before, input.cmn-toggle-round-flat + label:after
{
  display: block;
  position: absolute;
  content: "";
}

input.cmn-toggle-round-flat + label:before
{
  top: 1px;
  left: 1px;
  bottom: 1px;
  right: 1px;
  background-color: #fff;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}

input.cmn-toggle-round-flat + label:after
{
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 18px;
  background-color: $text_light_grey;
  -webkit-border-radius: 52px;
  -moz-border-radius: 52px;
  -ms-border-radius: 52px;
  -o-border-radius: 52px;
  border-radius: 52px;
  -webkit-transition: margin 0.4s, background 0.4s;
  -moz-transition: margin 0.4s, background 0.4s;
  -o-transition: margin 0.4s, background 0.4s;
  transition: margin 0.4s, background 0.4s;
}

input.cmn-toggle-round-flat:checked + label
{
  background-color: $color_qwerteach_green;
}

input.cmn-toggle-round-flat:checked + label:after
{
  margin-left: 32px;
  background-color: $color_qwerteach_green;
}


/*Navbar*/
.main-nav{
  border: 0 !important;
  background: $qwerteach_black !important;
  height: 30px !important;
  outline: none !important;
  margin: 0 !important;
  padding: 0 !important;
  position: static !important;
  border: none !important;
  .navbar-nav a{
    color: $text_grey;
    text-shadow: none;
  }
  .navbar-nav a:hover{
    background: none;
    color: $color_qwerteach_green;
  }
  .navbar-header .navbar-brand{
    padding: 10px;
  }
}
.navbar-nav{
  float: right !important;
}

/*footer*/
#footer{
  z-index:10;
  position: absolute;
  width: 100%;
  background: $qwerteach_black;
  color: $text_grey;
  height: 500px;
  .cadre{
    border-top: 1px solid $medium_grey;
    margin-top: 50px;
  }
  .inner{
    position: relative;
    top: 50px;
    width: 80%;
    display: block;
    margin: auto;
    height: 350px;
    .col{
      float: left;
      width: 25%;
    }
    .logo{
      display: block;
      margin: auto;
    }
    a{
      padding-right: 10%;
      display: block;
      text-align: left;
      color: $text_grey;
    }
    h3{
      font-size: 18px;
      text-align: left;
      font-weight: bold;
    }
    p{
      text-align: left;
    }
    .social_block{
      text-align: left;
      .social{
        display: inline-block;
        margin: 0;
        padding: 0;
        text-align: left;
        width: auto;
        img{
          width: 25px;
          margin: 10px;
        }
      }
    }
    .green{
      color: $color_qwerteach_green;
    }
  }
  .copyright{
    clear: both;
    bottom: 25px;
    color: $text_grey;
    margin-top: 280px;
  }
}

.modal-dialog{
  font-family: SofiaProRegular;
  .modal-content{
    border-radius: 0px;
    .modal-body{
      h5{
        font-size: 16px;
        background-color: $color_qwerteach_green;
        color: white;
        margin: 0px -15px 10px -15px;
        padding: 5px 15px;
      }
    }
  }
}
table{
  font-family: SofiaProRegular;
  width:100%;
  line-height:25px;
  thead{
    tr{
      border-bottom: 1px solid $text_light_grey;
      th:first-child{
        border-right: 1px solid $text_light_grey;
      }
      th{
        font-weight: 400;
        padding-left: 5px;
      }
    }
  }
  tbody {
    tr {
      th {
        border-right: 1px solid $text_light_grey;
        padding-left:0px;
        font-weight: 400;
      }
      td{
        padding-left:5px;
      }
    }
    tr.active{
      background-color:$color_qwerteach_green;
      td.active{
        color:white;
      }
    }
    td.active, th.active{
      background-color:$color_qwerteach_green;
    }
  }
}

.toggler{
  cursor:pointer;
}

.main-content{
  .alert{
    border-radius:0px;
  }
  .alert.alert-info{
    background-color: $color_qwerteach_blue;
    color:white;
    padding: 20px;
    border:none;
    background-image:none;
    p{
      font-family: SofiaProLight;
    }
  }
  .alert.alert-danger{
    background-color: $color_qwerteach_pink;
    color: white;
    padding: 20px;
    border: none;
    background-image: none;
  }
  form{
    .alert{
      background-color:transparent!important;
      h4{
        font-size: 2rem;
      }
    }
    .alert.alert-danger{
      color: $color_qwerteach_red;
    }
  }
}

.turbolinks-progress-bar {
  height: 5px;
  background-color: $color_qwerteach_green;
}

.color-topic-1{
  color: $color_qwerteach_yellow;
}
.color-topic-2{
  color: $color_qwerteach_pink;
}
.color-topic-3{
  color: $color_qwerteach_purple;
}
.color-topic-4{
  color: $color_qwerteach_green;
}
.color-topic-5{
  color: $color_qwerteach_orange;
}
.color-topic-6{
  color: $color_qwerteach_blue;
}

.badge.badge-topic-1{
  background-color: $color_qwerteach_yellow;
  color: $dark_grey;
}
.badge.badge-topic-2{
  color:white;
  background-color: $color_qwerteach_pink;
}
.badge.badge-topic-3{
  color:white;
  background-color: $color_qwerteach_purple;
}
.badge.badge-topic-4, .badge.badge-green{
  color:white;
  background-color: $color_qwerteach_green;
}
.badge.badge-topic-5{
  color:white;
  background-color: $color_qwerteach_orange;
}
.badge.badge-topic-6{
  color:white;
  background-color: $color_qwerteach_blue;
}

.icon-coloured{
  color: white;
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
  .fa{
    line-height: 45px;
  }
}
.icon-green{
  background-color:$color_qwerteach_green;
}
.icon-purple{
  background-color:$color_qwerteach_purple;
}
.icon-orange{
  background-color:$color_qwerteach_orange;
}
.icon-red{
  background-color:$color_qwerteach_red;
}
.icon-blue{
  background-color:$color_qwerteach_blue;
}
.icon-mauve{
  background-color:$color_qwerteach_mauve;
}
.icon-title{
  margin-left: -15px;
}


.cards-wrapper{
  display:flex;
  flex-wrap: wrap;
  .presse_link{
    display:flex;
  }
  .card{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .card-content{
    flex-grow:1;
  }
}
.cards-wrapper > div[class^="col-"]{
  display:flex;
}