.students-select {
  padding: 0;
  margin: 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  min-width: 100% !important;
  max-height: 250px;
  overflow-y: auto;
  &-btn {
    text-align: left;
  }

  &-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  &-item {
    padding: 3px 8px;
    background-color: transparent;
    transition: background-color .2s ease;
    &.disabled {
      opacity: 0.7;
    }
    &:hover:not(.disabled) {
      background-color: #22de80;
      color: #fff;
    }
  }
}
#new_proposal{
  #warning{
    display:none;
  }
}