@import 'global_variables';
#lessons{
  .header{
    background-color:$color_qwerteach_green;
    color:white;
  }
  .card-lesson{
    img{
      height:100%;
    }
    .icon-user-avatar{
      display:inline-block;
      img {
        border-radius: 50%;
      }
    }
    .card-title{
      font-size:18px;
      line-height:24px;
    }
    .lesson-actions{
      position: absolute;
      right: 0;
      top: -20px;
      a{
        margin: 0px 3px;
      }
    }
  }
  .history_lesson{
    border-bottom: 1px solid $text_grey;
    padding: 10px 0px;
    img{
      border-radius: 50%;
      width:50%;
      margin: 0 25%;
    }
    .lesson-date{
      text-transform: uppercase;
    }
    .lesson-topic{
      font-size: 18px;
      font-family: "Open Sans";
      font-weight: 300;
    }
    .lesson-status{
      position:absolute;
      top:0px;
      right:0px;
    }
  }
  .history_lesson.inactive{
    .lesson-date, img, .lesson-topic{
      opacity: 0.5;
    }
  }
}

#lessons-navigation{
  margin-top: -30px;
  background-color: white;
  margin-bottom: 30px;
}


//maths
.topic_1{
  border-color: $color_qwerteach_yellow;
  background-color: $color_qwerteach_yellow;
  color:$dark_grey!important;
  .font, .back, h4{
    //dirty workaround
    color:$dark_grey!important;
  }
  .offer-flip-toggle span, .offer-flip-toggle span::before, .offer-flip-toggle span::after{
    background-color: $dark_grey!important;
  }
}
//sciences
.topic_2{
  border-color: $color_qwerteach_pink;
  background-color: $color_qwerteach_pink;
  color:white;
}
//lettres
.topic_3{
  border-color: $color_qwerteach_orange;
  background-color: $color_qwerteach_orange;
  color:white;
}
//langues
.topic_4{
  border-color: $color_qwerteach_purple;
  background-color: $color_qwerteach_purple;
  color:white;
}
//sciences humaines
.topic_5{
  border-color: $color_qwerteach_green;
  background-color: $color_qwerteach_green;
  color:white;
}
//informatique
.topic_6{
  border-color: $color_qwerteach_blue;
  background-color: $color_qwerteach_blue;
  color:white;
}
//autre
.topic_7{
  border-color: $color_qwerteach_red;
  background-color: $color_qwerteach_red;
  color:white;
}

/*SHOW*/
#lesson{
  .header{
    background-color:$dark-grey;
    color:white;
    .icon-header img{
      margin: 0 auto;
    }
    h1{
      text-transform:none;
    }
    .lesson-date{
      color: $text_light_grey;
      text-transform: uppercase;
    }
    .lesson-actions{
      a{
        text-transform:uppercase;
        margin: 10px 5px;
      }
      a.btn{
        text-transform: none;
      }
    }
  }
  .preview-lesson{
    width:100%;
  }
  .record-text{
    position: absolute;
    margin: auto auto;
    width: 100%;
    left: 0;
    text-align: center;
    margin-top: -20px;
  }
  .recording-link{
     color:white;
   }
  .recording-link:hover {
    color:$color_qwerteach_green;
  }
  .lessons-details {
    dl dt{
      margin-top: 10px;
    }
  }
  .card-payment{
    dl{
      dt, dd{
        line-height:24px;
        .fa{
          font-size: 20px;
        }
        .fa:hover{
          cursor:pointer;
        }
      }
    }
    .payment-action{
      .btn{
        margin-top: -10px;
        margin-right:10px;
      }
      a{
        text-transform:none;
      }
    }
  }
}
