@import 'global_variables';
#onboarding{
  height:100vh;
  #choose-role{
    display: block;
    width: 100%;
    overflow: hidden;
    height:100%;
    background-color: $color_qwerteach_purple;
    .role{
      width: 50%;
      height: 100%;
      position: relative;
      float: left;
      text-align:center;
      color:white;
    }
    .role-teacher:hover{
      cursor:pointer;
      transform:skew(-10deg,0deg) translateX(100px);
      z-index:5;
    }
    .role-student:hover{
      cursor:pointer;
      transform:skew(-10deg,0deg) translateX(-100px);
    }
    .role-teacher{
      background-color: $color_qwerteach_purple;
      transform: skew(-10deg,0deg);
      transition: all 0.3s;
      z-index: auto;
    }
    .role-student{
      background-color: $color_qwerteach_purple_dark;
      transform: skew(-10deg,0deg);
      transition: all 0.3s;
      z-index: auto;
    }
    .role-teacher:before {
      content: " ";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      background:$color_qwerteach_purple;
      transform-origin:bottom left;
      -ms-transform: skew(10deg,0deg);
      -webkit-transform: skew(10deg,0deg);
      transform: skew(10deg,0deg);
    }
    .role-student:after {
      content: " ";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 100px;
      z-index: -1;
      background:$color_qwerteach_purple_dark;
      transform-origin:top right;
      -ms-transform: skew(10deg,0deg);
      -webkit-transform: skew(10deg,0deg);
      transform: skew(10deg,0deg);
    }
    .role-content{
      width: 100%;
      a{
        color: white;
      }
      text-align: center;
      transform: skew(10deg,0deg);
    }
  }
  #choose-topics{
    background-color: $color_qwerteach_mauve;
    padding: 70px 0px;
    height:100vh;
    h2{
      text-transform:uppercase;
    }
    #user-interests{
      min-height:70px;
      margin-top:50px;
    }
    #search-form{
      margin-bottom: 70px;
    }
  }
  .topics-list{
    margin:50px 0px;
    .card{
      .badge{
        position:absolute;
        right:3px;
        top:3px;
      }
      .card-title{
        font-family: SofiaProExtraLight;
      }
      padding: 20px;
    }
  }
  #search-results{
    h3{
      margn-bottom: 20px;
    }
  }
}

.onboarding-progress-bar{
  margin:0px;
  height:50px;
  overflow:hidden;
  ul{
    margin-bottom: 0px;
    li.onboarding-step{
      margin:0 15px;
      display:inline-block;
      a{
        position:relative;
        z-index:2;
        .step-name{
          background-color: $qwerteach_black;
          padding: 0px 5px;
        }
        i.fa{
          margin-right:15px;
          margin-left:45px;
          font-size: 0.8em;
        }
      }
    }
    li.onboarding-step.unfinished{
      i.fa{
        color:inherit;
      }
    }
    li.onboarding-step.current{
      i.fa, .step-name {
        color: $color_qwerteach_green;
      }
    }
    li.onboarding-step.finished{
      i.fa, .step-name {
        color: $color_qwerteach_green;
      }
    }
    li::before{
      content: ' ';
      border: 1px solid $color_qwerteach_green;
      width: 100%;
      position: relative;
      display: block;
      top: 32px;
      left:-30px;
    }
    li:first-child::before{
      left:50px;
    }
    li:last-child::before{
      width:50%;
    }
    li.onboarding-step.unfinished::before{
      border-color: $text_grey;
    }
  }
}

#login-modal{
  .modal-content {
    background-color: #404040;
    color: #e6e6e6;
    text-align:center;
    form{
      text-align:left;
    }
    .or{
      display: inline-block;
      background-color: #404040;
      position: relative;
      bottom: 40px;
      padding: 10px;
    }

    .links{
      font-size: 12px;
      color: $color_qwerteach_green;
    }
  }
  .modal-header, .modal-footer {
    text-align:left;
    margin: 0px 15px;
    padding: 15px 0px;
    font-weight: 400;
    font-family: SofiaProLight;
  }
  .modal-footer{
    text-align:right;
  }
  .omniauth-signin{
    margin-top: -30px;
    img{
      display:inline-block;
      height:35px;
    }
    a{
      font-family: SofiaProLight;
    }
    a:hover{
      text-decoration:none;
    }
  }
}

.sign-up-booking {
  padding: 20px 15%;
  .sign-up-social {
    img {
      display: inline-block;
      height: 35px;
    }
    a {
      font-family: SofiaProLight;
    }
    a:hover {
      text-decoration: none;
    }
    .or {
      display: inline-block;
      background-color: #fff;
      position: relative;
      bottom: 40px;
      padding: 10px;
    }
  }

  .signup-email {
    margin-top: -30px;
  }
}

.sign_in_page{
  padding: 50px 0px;
  h1{
    margin-top:3rem;
  }
  .col-md-6{
    padding: 0px 50px;
  }
}
