@import 'global_variables';
@import 'tools/media-queries';
@import 'tools/mixins';

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

#onboarding{
  min-height:100%;
  &._role { height: 100vh; }
  #choose-role{
    display: block;
    width: 100%;
    overflow: hidden;
    height:100%;
    background-color: $color_qwerteach_purple;
    .role{
      width: 50%;
      height: 100%;
      position: relative;
      float: left;
      text-align:center;
      color:white;
    }
    .role-teacher:hover{
      //cursor:pointer;
      transform:skew(-10deg,0deg) translateX(100px);
      z-index:5;
    }
    .role-student:hover{
      //cursor:pointer;
      transform:skew(-10deg,0deg) translateX(-100px);
    }
    .role-teacher{
      background-color: $color_qwerteach_purple;
      transform: skew(-10deg,0deg);
      transition: all 0.3s;
      z-index: auto;
    }
    .role-student{
      background-color: $color_qwerteach_purple_dark;
      transform: skew(-10deg,0deg);
      transition: all 0.3s;
      z-index: auto;
    }
    .role-teacher:before {
      content: " ";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: -1;
      background:$color_qwerteach_purple;
      transform-origin:bottom left;
      -ms-transform: skew(10deg,0deg);
      -webkit-transform: skew(10deg,0deg);
      transform: skew(10deg,0deg);
    }
    .role-student:after {
      content: " ";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 100px;
      z-index: -1;
      background:$color_qwerteach_purple_dark;
      transform-origin:top right;
      -ms-transform: skew(10deg,0deg);
      -webkit-transform: skew(10deg,0deg);
      transform: skew(10deg,0deg);
    }
    .role-content{
      width: 100%;
      a{
        color: white;
      }
      text-align: center;
      transform: skew(10deg,0deg);
    }
  }
  #choose-topics{
    background-color: $color_qwerteach_purple_dark;
    padding: 70px 0px;
    color: white;
    position: relative;
    @include size(f,auto);
    min-height: 100%;

    form { position: relative; 
      lengend {
        @include fZ(20);
        text-align: center;
        display: block;
        width: 100%;
        @include clearfix;
      }
      .input-field.sel_field {
        padding-top: 20px;
        label {
          margin-top: 20px;
          font-size: 102%;
        }
      }
    }

    .flag-box span.country-name {
      color: #212121;
    }
    .intl-tel-input.allow-dropdown.separate-dial-code.iti-sdc-3 {
      width: 100%;
    }

    .material-form textarea.materialize-textarea {
      min-height: 80px;
    }

    button[type="button"].jump_to_scond_step,
    button[type="button"].back_first_step {
      color: #313131;
      background-color: #22de80;
      border: none;
      font-size: 14px;
      padding: 6px 30px;
      border-radius: 17px;
      margin-left: 10px;
      font-family: 'Open Sans', sans-serif;
      margin-bottom: 10px;
      line-height: 25px;
      cursor: pointer;
    }
    button[type="button"].jump_to_scond_step.checkError {
      animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    }
    button[type="button"].back_first_step {
      background-color: #3DCAFF;
    }
    .actions.finish_first_step {
      position: relative;
      p.danger {
        color: #FF4444;
        @include opacity(0);
        transform: translateX(20px);
        transition: all ease-in-out 200ms;
        @include pos(a,0,240px,0,auto);
        margin: auto;
        width: 280px;
        text-align: right;
        line-height: 35px;
        &.show {
          @include opacity(1);
          transform: translateX(0);
        }
      }
    }


    .first_step {
      @include opacity(0);
    }
    .last_step {
      @include opacity(0);
      @include pos(a,0);
      @include size(f);
      display: none;
      transition: ease-in-out 200ms opacity;
    }
    .first_step, .last_step {
      &.active {
        @include opacity(1);
        display: block;
      }
    }
     

    h1.text-center {
      padding: 10px 0 20px;
    }

    label, span.caret {
      color: #eee;
    }
    .row.push_up {
      margin-top: 20px;
    }
    span.text-grey {
      color: #eee;
      @include opacity(.6);
    }
    i.fa.fa-graduation-cap.fa-5x {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }
    // h2{
    //   text-transform:uppercase;
    // }
    // #user-interests{
    //   min-height:70px;
    //   margin-top:50px;
    // }
    // #search-form{
    //   margin-bottom: 70px;
    // }
    .content_form {
      @include size(f,auto);
      max-width: 750px;
    }

    @include max-screen(990px) {
      padding-left: 8pt;
      padding-right: 8pt;
    }
    @include max-screen(767px) {
      .input-field.col-sm-6.right_field {
        margin-top: 20px;
      }
    }
  }
  .topics-list{
    margin:50px 0px;
    .card{
      .badge{
        position:absolute;
        right:3px;
        top:3px;
      }
      .card-title{
        font-family: SofiaProExtraLight;
      }
      padding: 20px;
    }
  }
  #search-results{
    h3{
      margn-bottom: 20px;
    }
  }
}

.onboarding-progress-bar{
  margin:0px;
  height:50px;
  overflow:hidden;
  ul{
    margin-bottom: 0px;
    li.onboarding-step{
      margin:0 15px;
      display:inline-block;
      a{
        position:relative;
        z-index:2;
        .step-name{
          background-color: $qwerteach_black;
          padding: 0px 5px;
        }
        i.fa{
          margin-right:15px;
          margin-left:45px;
          font-size: 0.8em;
        }
      }
    }
    li.onboarding-step.unfinished{
      i.fa{
        color:inherit;
      }
    }
    li.onboarding-step.current{
      i.fa, .step-name {
        color: $color_qwerteach_green;
      }
    }
    li.onboarding-step.finished{
      i.fa, .step-name {
        color: $color_qwerteach_green;
      }
    }
    li::before{
      content: ' ';
      border: 1px solid $color_qwerteach_green;
      width: 100%;
      position: relative;
      display: block;
      top: 32px;
      left:-30px;
    }
    li:first-child::before{
      left:50px;
    }
    li:last-child::before{
      width:50%;
    }
    li.onboarding-step.unfinished::before{
      border-color: $text_grey;
    }
  }
}

ul.nav.navbar-nav.pull-right {
  @include max-screen(1050px) {
    @include pos(a,50px,0,auto,0);
    margin: auto;
    width: 100%;
    max-width: 608px;
  }
}

#login-modal{
  .modal-content {
    background-color: #404040;
    color: #e6e6e6;
    text-align:center;
    form{
      text-align:left;
    }
    .or{
      display: inline-block;
      background-color: #404040;
      position: relative;
      bottom: 40px;
      padding: 10px;
    }

    .links{
      font-size: 12px;
      color: $color_qwerteach_green;
    }
  }
  .modal-header, .modal-footer {
    text-align:left;
    margin: 0px 15px;
    padding: 15px 0px;
    font-weight: 400;
    font-family: SofiaProLight;
  }
  .modal-footer{
    text-align:right;
  }
  .omniauth-signin{
    margin-top: -30px;
    img{
      display:inline-block;
      height:35px;
    }
    a{
      font-family: SofiaProLight;
    }
    a:hover{
      text-decoration:none;
    }
  }
}

.sign-up-booking {
  padding: 20px 15%;
  .sign-up-social {
    img {
      display: inline-block;
      height: 35px;
    }
    a {
      font-family: SofiaProLight;
    }
    a:hover {
      text-decoration: none;
    }
    .or {
      display: inline-block;
      background-color: #f0f0f0;
      position: relative;
      bottom: 40px;
      padding: 10px;
    }
    hr{
      border-top: 1px solid #333;
    }
  }

  .signup-email {
    margin-top: -30px;
  }
}

.sign_in_page{
  padding: 50px 0px;
  h1{
    margin-top:3rem;
  }
  .col-md-6{
    padding: 0px 50px;
  }
}


.omniauth-signup{
  margin-bottom:20px;
  padding: 40px 0px;
  border-bottom: 1px solid white;
  a{
    display: inline-block;
    width: 49%;
    text-align:center;
    img{
      width:80%;
    }
  }
}