@import 'global_variables';
.navbar.main-nav{
  position:fixed;
  width:100%;
  z-index:100;
}
.navbar {
  margin-bottom:0px!important;
  border-radius:0px!important;
}

.navbar-nav a.image-dropdown{
  padding-top:5px;
  padding-bottom:0px;
  img {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    height: 40px;
    width: 40px;
    overflow: hidden;
    text-align: center;
  }
}
.navbar.main-nav ul.pull-right a{
  margin-left:-10px;
}

.input-group-btn-floating{
  background-color: transparent;
  position: absolute;
  right: -50%;
  z-index: 4;
  height:100%;
  button{
    background-color:transparent;
    border:none;
    height:100%;
    font-size: 16px;
  }
}
.navbar {
  .navbar-form {
    margin-top: 7px;
    margin-bottom: 7px;
  }
  .navbar-form .input-group input.form-control {
    background: $dark_grey;
    box-shadow: inset 1px 4px 3px 0px rgba(0, 0, 0, 0.50);
    border-radius: 40px;
    font-size: 12px;
    color: #E5E5E5;
    letter-spacing: 0.2px;
    width: 150%;
    border: none;
    height: 35px;
    padding-left: 10px;
  }
}

#navbar.navbar{
  .nav .open > a, nav .open > a:focus, .nav .open > a:hover, .nav a{
    background-color:transparent;
  }
  .dropdown-menu{
    left:-200%;
    top:49px;
    border-radius:0px;
    background-color: $dark_grey;
    li a{
      padding: 6px 20px;
    }
  }
  .dropdown-menu.notifications{
    min-width:200px;
    padding:0px 10px;
    a.dropdown-toggle{
      margin:0px;
    }
    #notifications-wrapper{
      .content:first-child .notification-item{
        border-top: none;
      }
      .content:hover{
        color:$text_grey;
        text-decoration:none;
        .item-date{
          color:$color_qwerteach_green;
        }
      }
      .content{
        color:$text_grey;
        margin:0px;
        .notification-item{
          border-top: 1px solid $medium_grey;
          padding: 10px 0px;
          h4{

          }
          .item-image{
            float:left;
            margin-right:4px;
            img {
              width: 50px;
            }
          }
          .item-date{
            color: #bababa;
            font-size: 11px;
            text-align:right;
          }
          .item-date:hover{
            color:$color_qwerteach_green;
          }
        }
      }
    }
    .notification-footer{
      text-align:center;
    }
  }

}
