@import "global_variables";

/* Reset password */
.page-title-green {
  color:white;
  background-color: $color_qwerteach_green;
  font-size:30px;
  font-family: 'SofiaProRegular';
  margin:0px;
  padding-top:37px;
  padding-bottom: 20px;
  margin-bottom: 30px;
  padding-left: 30px;
}
form.reinit-password{
  margin-top: 15px;
  .form-group{
    line-height:30px;
  }
}

.sign_in_page{
  background-color: $color_qwerteach_mauve;
  color:white;
  .material-form{
    form {
      margin-top: 30px;
      .input-field label {
        color: #eee;
      }
    }
  }

}
.devise-links{
  margin-bottom: 20px;
  a{
    color: $color_qwerteach_green;
  }
}


/*presse*/
.press-article{
  padding: 0px!important;
  color:transparent;
  a{
    color:transparent!important;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
  }
  .press-article-flip-toggle{
    cursor:pointer;
  }
  .flipper{
    height:100%;
    padding:0px;
  }
  .front, .back{
    text-align:center;
    height:100%;
    font: 0/0 a;
    padding:0px;
  }
  .helper{
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }
  img, p.press-article-flip-toggle {
    width: auto;
    max-width: 100%;
    display: inline-block;
    vertical-align: middle;
    font: 16px/1 SofiaProLight, Helvetica, Arial;
  }
  p{
    padding: 30px;
  }
}
.press-article.hover{
  color:inherit;
  a{
    color:$color_qwerteach_green!important;
  }
  .back{
    background-color: rgba(255, 255, 255, 0.5);
  }
  img{
    display:none;
  }
}
#regional-it{
  background-color: #e8e8e6;
}
#lesoir{
  background-color: rgb(0,58,120);
}
#datanews{
  background-color: #b8bcbf;
}
#trends{
  background-color: #fff;
}
#educadis{
  background-color: rgb(39,40,39);
}
#solutions{
  background-color: rgb(158,34,56);
}
#belrtl{
  background-color: rgb(190,10,0);
}

/*team*/
.team-member{
  font-family: SofiaProLight;
  .team-member-picture{
    img{
      width:100%;
      border-radius: 5px;
      border: 1px solid $qwerteach_black;
    }
  }
  .team-member-infos{
    text-align:center;
    color: $dark_grey;
    padding: 15px 0px;
    .name{
      font-size: 24px;
    }
    .role{
      color: $color_qwerteach_green;
      font-Family: SofiaProRegular;
    }
    .social a{
      color:inherit;
    }
    .social a:hover{
      color: $color_qwerteach_green;
    }
  }
}

/*devenir prof*/
.become-teacher-page{
  .section_video{
    .left{
      background-color: $color_qwerteach_green;
    }
  }
  .section_test_classe{
    img{
      height:100%;
    }
    .right{
      background-color: $color_qwerteach_blue;
    }
  }
}

/*Toolbox*/
#toolbox-header{
  padding: 100px 0px 50px 0px;
  background-image: image-url('toolbox/header.jpg');
  background-size: cover;
  margin-bottom: 50px;
  .help{
    font-size: 24px;
    font-family: SofiaProExtraLight;
  }
  h1{
    font-size: 40px;
    font-family: SofiaProExtraLight;
    small{
      color:white;
      font-size: 24px;
    }
  }
}
#toolbox_navigation{
  padding: 20px 0px;
  border-right: 1px solid $text_grey;
  width:90%;
  li{
    line-height:35px;
    a{
      color: $text-grey;
      font-size: 16px;
      font-weight:300;
    }
    a.active{
      color: $color_qwerteach_green;
    }
  }
}