.test-become-teacher {
  background-color:white;
  font-family: 'Helvetica neue';
  h1, h2, h3, h4, h5, h6, p, .btn{
    font-family: 'Helvetica neue';
  }
  .form-transparent{
    background-color: rgba(200, 200, 200, 0.5);
    padding: 0px 30px;
    padding-top:10px;
    margin-top:-30px;
    label{
      color:white;
    }
    form .actions input[type="submit"] {
      color: white;
      background-color:rgba(34, 222, 128, 0.9);
      border-color: rgba(34, 222, 128, 0.9);
      -webkit-transition: all 0.35s;
      -moz-transition: all 0.35s;
      transition: all 0.35s;
      font-family: 'Helvetica Neue', Arial, sans-serif;
      border: none;
      border-radius: 300px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
  hr {
    border-color: $color_qwerteach_green;
    border-width: 3px;
    max-width: 50px;
  }
  hr.light {
    border-color: white;
  }
  a {
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    color: rgba(34, 222, 128, 0.8);
  }
  a:hover,
  a:focus {
    color: $color_qwerteach_green;
  }

  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  .bg-primary {
    background-color: $color_qwerteach_purple;
  }
  .bg-dark {
    background-color: #222222;
    color: white;
  }
  .text-faded {
    color: rgba(255, 255, 255, 0.9);
  }
  section {
    padding: 100px 0;
  }
  aside {
    padding: 50px 0;
  }
  .no-padding {
    padding: 0;
  }

  .empty-nav{
    border-top:40px solid $text_light_grey;
    margin-bottom: 50px;
    .logo{
      width:100px;
      background-color: $dark_grey;
      margin-top:-20px;
      img{
        width:100%;
      }
    }
    .pull-right a{
      font-weight: 800;
    }
  }

  header {
    position: relative;
    width: 100%;
    min-height: 30%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    //background-image: image_url('become_teacher/abtest/q2.jpg');
    text-align: center;
    color: white;
    h1{
      font-size:46px;
      text-transform: none;
      font-family: 'Helvetica Neue';
      font-weight:300;
    }
    .text-light{
      font-weight:100;
    }
    h1.text-light{
      margin-top:0px;
      margin-bottom:70px;
    }
    .form.absolute{
      width: 360px;
      border-top: 8px solid #F1F1F1;
      background-color: #F8F8F8;
      position:absolute;
      right: 80px;
      top: 0px;
      z-index:30;
      padding:32px 47px;
      color:black;
      h3{
        font-family: 'Helvetica neue';
        font-size: 24px;
        margin-left: -15px;
        margin-top:0;
        font-weight: 300;
      }
      .actions input[type='submit']{
        border-radius: 0px;
        color: white;
        font-family: 'Helvetica neue';
        font-size: 18px;
        font-weight: 300;
        display: block;
        width: 100%;
        margin-left: 0;
        padding: 10px;

      }
    }
  }
  header.q2{
    background-image: image_url('become_teacher/abtest/q2.jpg');
  }
  header.q3{
    background-image: image_url('become_teacher/abtest/q3.jpg');
  }
  header.q4{
    background-image: image_url('become_teacher/abtest/q4.jpg');
  }
  header.q5{
    background-image: image_url('become_teacher/abtest/q5.jpg');
  }
  header.q6{
    background-image: image_url('become_teacher/abtest/q6.jpg');
  }
  header.q7{
    background-image: image_url('become_teacher/abtest/q7.jpg');
  }
  header.q8{
    background-image: image_url('become_teacher/abtest/q8.jpg');
  }
  header.q9{
    background-image: image_url('become_teacher/abtest/q9.jpg');
    .header-content{
      padding-right:50%;
    }
  }
  header.f1{
    background-image: image_url('become_teacher/abtest/q7.jpg');
    height:640px;
    color: black;
  }
  header .header-content {
    position: relative;
    text-align: center;
    padding: 100px 15px 100px;
    width: 100%;
  }
  header .header-content .header-content-inner hr {
    margin: 30px auto;
  }
  header .header-content .header-content-inner p {
    font-weight: 300;
    color: rgba(255, 255, 255, 0.7);
    font-size: 16px;
    margin-bottom: 50px;
  }
  @media (min-width: 768px) {
    header {
      min-height: 100%;
    }
    header .header-content {
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      padding: 0 50px;
    }
    header .header-content .header-content-inner {
      max-width: 1000px;
      margin-left: auto;
      margin-right: auto;
    }
    header .header-content .header-content-inner h1 {
      font-size: 50px;
    }
    header .header-content .header-content-inner p {
      font-size: 18px;
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .section-heading {
    margin-top: 0;
  }
  #white{
    padding-bottom:0px;
    h2{
      font-size:32px;
      font-weight:400;
      color:black;
      margin-bottom:10px;
    }
    h2.text-light{
      font-weight:200;
      margin-top:0px;
    }
    .overflow {
      position: relative;
      top: -150px;
      background-color: white;
      padding:50px;
      padding-bottom:0px;
      #arguments{
        position:relative;
        top:50px;
      }
      #ready{
        position:relative;
        top:150px;
        margin-bottom: 100px;
        .btn.btn-cta{
          border-radius: 0px;
          color: white;
          font-family: 'Helvetica neue';
          font-size: 18px;
          font-weight: 300;
          margin-left: 0;
          margin-top:20px;
          padding: 10px 30px;
          text-transform: none;
          height:auto;
          line-height:initial;
        }
      }
      .service-box{
        text-align:center;
        img{
          height:100px;
        }
        h3{
          font-weight:200;
          font-size: 24px;
        }
        p{
          font-weight:300;
        }
      }
    }
  }
  .service-box {
    max-width: 400px;
    margin: 50px auto 0;
  }
  @media (min-width: 992px) {
    .service-box {
      margin: 20px auto 0;
    }
  }
  .service-box p {
    margin-bottom: 0;
  }
  .portfolio-box {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto;
  }
  .portfolio-box .portfolio-box-caption {
    color: white;
    opacity: 0;
    display: block;
    background: rgba(34, 222, 128, 0.9);
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 100%;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    padding: 0 15px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
  }
  .portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
  }
  .portfolio-box:focus {
    outline: none;
  }
  @media (min-width: 768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
      font-size: 16px;
    }
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
      font-size: 22px;
    }
  }
  .call-to-action h2 {
    margin: 0 auto 20px;
  }
  .text-primary {
    color: $color_qwerteach_green;
  }
  .no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 0;
  }
  .btn-default {
    color: #222222;
    background-color: white;
    border-color: white;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
  }
  .btn-default:hover,
  .btn-default:focus,
  .btn-default.focus,
  .btn-default:active,
  .btn-default.active,
  .open > .dropdown-toggle.btn-default {
    color: #222222;
    background-color: #f2f2f2;
    border-color: #ededed;
  }
  .btn-default:active,
  .btn-default.active,
  .open > .dropdown-toggle.btn-default {
    background-image: none;
  }
  .btn-default.disabled,
  .btn-default[disabled],
  fieldset[disabled] .btn-default,
  .btn-default.disabled:hover,
  .btn-default[disabled]:hover,
  fieldset[disabled] .btn-default:hover,
  .btn-default.disabled:focus,
  .btn-default[disabled]:focus,
  fieldset[disabled] .btn-default:focus,
  .btn-default.disabled.focus,
  .btn-default[disabled].focus,
  fieldset[disabled] .btn-default.focus,
  .btn-default.disabled:active,
  .btn-default[disabled]:active,
  fieldset[disabled] .btn-default:active,
  .btn-default.disabled.active,
  .btn-default[disabled].active,
  fieldset[disabled] .btn-default.active {
    background-color: white;
    border-color: white;
  }
  .btn-default .badge {
    color: white;
    background-color: #222222;
  }
  .btn-primary {
    color: white;
    background-color:rgba(34, 222, 128, 0.9);
    border-color: rgba(34, 222, 128, 0.9);
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
  }
  .btn-primary:hover,
  .btn-primary:focus,
  .btn-primary.focus,
  .btn-primary:active,
  .btn-primary.active,
  .open > .dropdown-toggle.btn-primary {
    color: white;
    background-color: $color_qwerteach_green;
    border-color: $color_qwerteach_green;
  }
  .btn-primary:active,
  .btn-primary.active,
  .open > .dropdown-toggle.btn-primary {
    background-image: none;
  }
  .btn-primary.disabled,
  .btn-primary[disabled],
  fieldset[disabled] .btn-primary,
  .btn-primary.disabled:hover,
  .btn-primary[disabled]:hover,
  fieldset[disabled] .btn-primary:hover,
  .btn-primary.disabled:focus,
  .btn-primary[disabled]:focus,
  fieldset[disabled] .btn-primary:focus,
  .btn-primary.disabled.focus,
  .btn-primary[disabled].focus,
  fieldset[disabled] .btn-primary.focus,
  .btn-primary.disabled:active,
  .btn-primary[disabled]:active,
  fieldset[disabled] .btn-primary:active,
  .btn-primary.disabled.active,
  .btn-primary[disabled].active,
  fieldset[disabled] .btn-primary.active {
    background-color: $color_qwerteach_green;
    border-color: $color_qwerteach_green;
  }
  .btn-primary .badge {
    color: $color_qwerteach_green;
    background-color: white;
  }
  .btn {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    border: none;
    border-radius: 300px;
    font-weight: 700;
    text-transform: uppercase;
  }
  .btn-xl {
    padding: 15px 30px;
  }
  ::-moz-selection {
    color: white;
    text-shadow: none;
    background: #222222;
  }
  ::selection {
    color: white;
    text-shadow: none;
    background: #222222;
  }
  img::selection {
    color: white;
    background: transparent;
  }
  img::-moz-selection {
    color: white;
    background: transparent;
  }
  body {
    webkit-tap-highlight-color: #222222;
  }
}