@import "global_variables";
.todo_list_title{
  margin:0px;
  padding:20px 0px;
  text-align:center;
  color:$dark_grey;
  background-color:$color_qwerteach_green;
  font-size: 24px;
}

.todo {
  overflow:hidden;
  line-height: 25px;
  z-index: 2;
  position: relative;
  height: 150px;
  border-bottom: 1px solid #979797;

  .todo_title{
    margin:0;
  }
  .todo_payment, .todo_review, .todo_answer{
    padding: 30px;
    padding-bottom: 0px;
  }
  .todo_payment_img{
    background: $dark_grey;
    height: 170px;
    width: 170px;
    line-height: 170px;
  }
  .todo_review_img{
    height:170px;
    float:left;
  }
  .todo_action{
    margin-top:20px;
  }
}
.todo:last-child{
  border-botom: none;
  //box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 1);
}