// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "global_variables";

.section-recherche {
  margin: 0;
  padding: 0;
  background: url(background.jpg) no-repeat center;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  width: auto;
  height: 800px;
}

@media screen and (max-width: 800px) {
  .section-recherche {
    height: 300px;
  }
}

.section-choix {
  background-color: $color_qwerteach_yellow;
  color: $color_qwerteach_purple;
  height: 60%;
  width: auto;
}

.section-commentmarche {
  background-color: $qwerteach_black;
  color: white;
  height: 60%;
  width: auto;
}

.section-commentaire {
  background-color: $color_qwerteach_purple;
  color: white;
  height: 60%;
  width: auto;
}

.colonne1 {
  background-color: $color_qwerteach_green;
  height: 800px;
  width: 33.3333%;
}

@media screen and (max-width: 800px) {
  .colonne1 {
    height: 700px;
  }
}

.colonne2 {
  background-color: $color_qwerteach_pink;
  height: 800px;
  width: 33.3333%;
}

@media screen and (max-width: 800px) {
  .colonne2 {
    height: 700px;
  }
}

.colonne3 {
  background-color: $color_qwerteach_yellow;
  height: 800px;
  width: 33.3333%;

}

@media screen and (max-width: 800px) {
  .colonne3 {
    height: 700px;
  }
}

.section-presse {
  background-color: #fff;
  width: auto;
}

.mangopay {
  height: 20px;
  width: 20px;
}

.case4 {
  background-color: $color_qwerteach_purple;
}

@mixin t($duration) {
  -webkit-transition: all $duration;
  -moz-transition: all $duration;
  -ms-transition: all $duration;
  -o-transition: all $duration;
  transition: all $duration;
}

/* Profil*/
#profile-header{
  @include t(0.3s);
  background-color: $color_qwerteach_mauve;
  color:white;
  padding: 20px;
  max-height:250px;
  h2.user-name{
    font-family: SofiaProRegular;
    font-size: 30px;
    small{
      text-transform:uppercase;
      font-family: SofiaProLight;
      font-size:14px;
      color:white;
    }
  }
  #topics{
    display:block;

  }
  #pricing{
    @include t(0.3s);
    margin-top:auto;
    padding: 30px 0px;
    .user-pricing{
      @include t(0.3s);
      font-size: 30px;
      font-family: SofiaProRegular;
    }
    .detailed-pricing-link{
      font-family: SofiaProLight;
      font-size: 12px;
      text-transform:uppercase;
      @include t(0.3s);
      margin-bottom:10px;
      a{
        color: white;
      }
    }
    #cta{
      @include t(0.3s);
      margin-top:0px;
    }
  }
  .profilepicture{
    @include t(0.3s);
    max-height:auto;
    padding-left:0px;
    img {
      border-radius: 50%;
      max-height:250px;
      max-width:100%;
      @include t(0.3s);
    }
  }
  #cta, .profilepicture, .profile-infos{
    margin-top:0px;
    @include t(0.3s);
  }
}

#profile-header.smaller{
  max-height:100px;
  width:100%;
  z-index:10;
  position:fixed;
  top:0;
  .profilepicture{
    padding-left:35px;
    img{
      width:auto;
      max-height:75px;
    }
  }
  #topics{
    display:none;
  }
  h2.user-name{
    margin:0px;
  }
  .profile-infos{
    line-height:10px;
  }
  #pricing{
    padding: 3px 0px;
    margin-top:-15px;
    .user-pricing{
      font-size:25px;
    }
    .detailed-pricing-link{
      font-size: 10px;
      text-transform:uppercase;
      margin-bottom:0px;
    }
  }
  .profilepicture, .profile-infos{
    margin-top:-10px;
  }
}


#profile-offers{
  .card{
    .card-content{
      .card-title{
        line-height: normal;
        small{
          font-size: 70%;
        }
      }
    }
  }
}

#profile-description{
  margin-bottom: 100px;
  h3{
    margin: 20px 0px;
    font-size: 32px;
    font-family: SofiaProRegular;
  }
}
#profile-offers, #profile-description{
  margin-top:50px;
}

#profile-reviews{
  float:left;
  padding:10px 30px;
  color: $medium_grey;
  .review{
    width:100%;
    padding-top:20px;
    .review-content{
      float:left;
      letter-spacing: 0px;
      line-height: 22px;
    }
    .review-sender {
      float: left;
      max-width: 90px;
      text-align: center;
      margin-right: 25px;
      overflow:hidden;
      .sender-name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      img {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        margin-bottom: 10px;
      }
    }
    .review-stars{
      margin-bottom:15px;
    }
  }
}

/*Flipping cards effect*/
.profile-offer, .press-article {
  perspective: 1000px;
  float:left;
  position:relative;
  height: 256px;
}
.profile-offer.hover, .press-article.hover{
  overflow: hidden;
}

/* flip the pane when hovered */
.profile-offer.hover .flipper, .press-article.hover .flipper {
  transform: rotateY(180deg);
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
}

/* hide back of pane during swap */
.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  padding:20px 30px;
  transform: rotateY(180deg);
  font-size: 14px;
  letter-spacing: 0px;
  height: 226px;
  overflow: auto;
  .a-title {
    font-size: 20px;
    font-weight:300;
    letter-spacing: 0.2px;
    margin-bottom: 20px;
    line-height: 23px;
  }
}