@import 'global_variables.scss';

#mangopay_index{
  #wallet_header{
    background-color: $color_qwerteach_purple;
    color:white;
  }
  .card-bank-accounts{
    .account-type, .card-type{
      font-weight:600;
    }
  }
  .card-coordonnees{
    .account-owner{
      margin-top:10px;
      font-size: 15px;
      font-weight: 600;
    }
  }
}

#register_bank_account{
  .choose_bank_account_type{
    label{
      font-weight: 400;
    }
    .col-xs-2{
      white-space: nowrap;
    }
  }
}