%h3
  Bonjour!
%p Vous avez oublié votre mot de passe sur Qwerteach? Pas de problème, vous pouvez le ré-initialiser via le lien ci-dessous.
%p= link_to 'Ré-initialiser mon mot de passe', edit_password_url(@resource, reset_password_token: @token)
%p Si vous n'êtes pas à l'origine de cette action, veuillez ignorer ce message.
%p Votre mot de passe ne sera pas modifié tant que vous n'aurez pas défini de nouveau mot de passe.
-#
-#%h3 Qwerteach évolue!
-#%p Vous êtes de plus en plus nombreux à utiliser Qwerteach, et nos services ont beaucoup évolué depuis nos débuts. Un changement technologique devenait nécessaire pour pouvoir répondre à vos attentes! C'est pourquoi Qwerteach évolue: un changement de technologies sous-jacentes, et un design actualisé, pour vous offrir une expérience la plus intuive et agréable possible!
-#%p De nombreux aspects du site ont évolué, notamment en termes de sécurité. Ainsi, pour accéder à votre compte Qwerteach, nous vous demandons de configurer un nouveau mot de passe. Pour ce faire, cliquez sur le lien suivant. Il vous mènera vers un formulaire sur lequel vous pourrez choisir votre mot de passe.
-#%p= link_to 'Ré-initialiser mon mot de passe', edit_password_url(@resource, reset_password_token: @token)
-#%p Gardez à l'esprit que votre compte ne sera pas accessible tant que vous n'aurez pas ré-initialisé votre mot de passe.
-#%p Retrouvez-nous sur le nouveau Qwerteach!
