%h3
  Bonjour!
%p Vous avez oublié votre mot de passe sur Qwerteach? Pas de problème, vous pouvez le ré-initialiser via le lien ci-dessous.
%p= link_to 'Ré-initialiser mon mot de passe', edit_password_url(@resource, reset_password_token: @token)
%p Si vous n'êtes pas à l'origine de cette action, veuillez ignorer ce message.
%p Votre mot de passe ne sera pas modifié tant que vous n'aurez pas défini de nouveau mot de passe.
