%p
  Bonjour #{@resource.firstname}!
%p Votre compte Qwerteach a été bloqué suite à un trop grand nombre de tentatives de connexion infructueuses.
%p Cliquez ci-dessous pour débloquer votre compte:
%p= link_to 'Débloquer mon compte', unlock_url(@resource, unlock_token: @token)
