---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic cXdlcnRlYWNocmFpbHM6eGs0WUpMWnZ5S3N5QWJoN0Q3RlRNUk92ckZ6azQyMWZzRE9pRHhIUHJPNlNVYzBvUnA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"117c6a1f67754a198ed68d587b85cdef","token_type":"bearer","expires_in":1199}'
  recorded_at: Wed, 22 Mar 2017 18:54:04 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"IT","Nationality":"PW","Address":{"AddressLine1":"Dicki
        Ramp","AddressLine2":"9331","PostalCode":"FH4 6AP","City":"Adrianaburgh","Region":"New
        York","Country":"UM"},"FirstName":"Laure","LastName":"Ward","Birthday":701197200,"Email":"arline@glover.biz","PersonType":"NATURAL","Tag":"user
        5"}'
    headers:
      Authorization:
      - bearer 117c6a1f67754a198ed68d587b85cdef
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '119'
      - '186'
      - '3686'
      - '81'
      X-Ratelimit-Remaining:
      - '101914'
      - '2219'
      - '4381'
      - '8614'
      X-Ratelimit-Reset:
      - '1490209680'
      - '1490210580'
      - '1490212380'
      - '1490295120'
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Dicki Ramp","AddressLine2":"9331","City":"Adrianaburgh","Region":"New
        York","PostalCode":"FH4 6AP","Country":"UM"},"FirstName":"Laure","LastName":"Ward","Birthday":701197200,"Nationality":"PW","CountryOfResidence":"IT","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"PersonType":"NATURAL","Email":"arline@glover.biz","KYCLevel":"LIGHT","Id":"23103351","Tag":"user
        5","CreationDate":1490208839}'
  recorded_at: Wed, 22 Mar 2017 18:54:05 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[23103351],"Currency":"EUR","Description":"wallet user 5"}'
    headers:
      Authorization:
      - bearer 117c6a1f67754a198ed68d587b85cdef
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '118'
      - '185'
      - '3685'
      - '72'
      X-Ratelimit-Remaining:
      - '101915'
      - '2228'
      - '4382'
      - '8615'
      X-Ratelimit-Reset:
      - '1490209740'
      - '1490210640'
      - '1490212440'
      - '1490295180'
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 5","Owners":["23103351"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"23103352","Tag":null,"CreationDate":1490208840}'
  recorded_at: Wed, 22 Mar 2017 18:54:05 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural/23103351
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer 117c6a1f67754a198ed68d587b85cdef
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Da[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23103351/bankaccounts/ca
    body:
      encoding: UTF-8
      string: '{"OwnerName":"Laure Lowe","OwnerAddress":{"AddressLine1":"Dicki Ramp","AddressLine2":"9331","City":"Adrianaburgh","Region":"New
        York","PostalCode":"FH4 6AP","Country":"UM"},"Type":"ca","BranchCode":"00152","InstitutionNumber":"614","AccountNumber":"11696419","BankName":"SberBank"}'
    headers:
      Authorization:
      - bearer 117c6a1f67754a198ed68d587b85cdef
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '122'
      - '189'
      - '3689'
      - '76'
      X-Ratelimit-Remaining:
      - '101911'
      - '2224'
      - '4378'
      - '8611'
      X-Ratelimit-Reset:
      - '1490209740'
      - '1490210640'
      - '1490212440'
      - '1490295180'
    body:
      encoding: UTF-8
      string: '{"OwnerAddress":{"AddressLine1":"Dicki Ramp","AddressLine2":"9331","City":"Adrianaburgh","Region":"New
        York","PostalCode":"FH4 6AP","Country":"UM"},"AccountNumber":"11696419","InstitutionNumber":"614","BranchCode":"00152","BankName":"SberBank","UserId":"23103351","OwnerName":"Laure
        Lowe","Type":"CA","Id":"23103359","Tag":null,"CreationDate":1490208843,"Active":true}'
  recorded_at: Wed, 22 Mar 2017 18:54:10 GMT
recorded_with: VCR 3.0.3
