---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic cXdlcnRlYWNocmFpbHM6eGs0WUpMWnZ5S3N5QWJoN0Q3RlRNUk92ckZ6azQyMWZzRE9pRHhIUHJPNlNVYzBvUnA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"1f61077c9a0d4f6c873b80e53eb25f64","token_type":"bearer","expires_in":1199}'
  recorded_at: Wed, 22 Mar 2017 18:53:56 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"GG","Nationality":"MF","Address":{"AddressLine1":"Tremblay
        Path","AddressLine2":"404","PostalCode":"MZ7 2CF","City":"New Stellabury","Region":"Delaware","Country":"NR"},"FirstName":"Clarita","LastName":"Armstrong","Birthday":701197200,"Email":"evelyne_bahringer@ebert.info","PersonType":"NATURAL","Tag":"user
        5"}'
    headers:
      Authorization:
      - bearer 1f61077c9a0d4f6c873b80e53eb25f64
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '113'
      - '180'
      - '3680'
      - '75'
      X-Ratelimit-Remaining:
      - '101920'
      - '2225'
      - '4387'
      - '8620'
      X-Ratelimit-Reset:
      - '1490209680'
      - '1490210580'
      - '1490212380'
      - '1490295120'
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Tremblay Path","AddressLine2":"404","City":"New
        Stellabury","Region":"Delaware","PostalCode":"MZ7 2CF","Country":"NR"},"FirstName":"Clarita","LastName":"Armstrong","Birthday":701197200,"Nationality":"MF","CountryOfResidence":"GG","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"PersonType":"NATURAL","Email":"evelyne_bahringer@ebert.info","KYCLevel":"LIGHT","Id":"23103342","Tag":"user
        5","CreationDate":1490208832}'
  recorded_at: Wed, 22 Mar 2017 18:53:58 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[23103342],"Currency":"EUR","Description":"wallet user 5"}'
    headers:
      Authorization:
      - bearer 1f61077c9a0d4f6c873b80e53eb25f64
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '114'
      - '181'
      - '3681'
      - '76'
      X-Ratelimit-Remaining:
      - '101919'
      - '2224'
      - '4386'
      - '8619'
      X-Ratelimit-Reset:
      - '1490209680'
      - '1490210580'
      - '1490212380'
      - '1490295120'
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 5","Owners":["23103342"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"23103345","Tag":null,"CreationDate":1490208833}'
  recorded_at: Wed, 22 Mar 2017 18:53:58 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural/23103342
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer 1f61077c9a0d4f6c873b80e53eb25f64
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Da[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23103342/bankaccounts/us
    body:
      encoding: UTF-8
      string: '{"OwnerName":"Samatha Boyer","OwnerAddress":{"AddressLine1":"Tremblay
        Path","AddressLine2":"404","City":"New Stellabury","Region":"Delaware","PostalCode":"MZ7
        2CF","Country":"NR"},"Type":"us","ABA":"071000288","AccountNumber":"11696419"}'
    headers:
      Authorization:
      - bearer 1f61077c9a0d4f6c873b80e53eb25f64
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '118'
      - '185'
      - '3685'
      - '80'
      X-Ratelimit-Remaining:
      - '101915'
      - '2220'
      - '4382'
      - '8615'
      X-Ratelimit-Reset:
      - '1490209680'
      - '1490210580'
      - '1490212380'
      - '1490295120'
    body:
      encoding: UTF-8
      string: '{"OwnerAddress":{"AddressLine1":"Tremblay Path","AddressLine2":"404","City":"New
        Stellabury","Region":"Delaware","PostalCode":"MZ7 2CF","Country":"NR"},"AccountNumber":"11696419","ABA":"071000288","DepositAccountType":"CHECKING","UserId":"23103342","OwnerName":"Samatha
        Boyer","Type":"US","Id":"23103348","Tag":null,"CreationDate":1490208836,"Active":true}'
  recorded_at: Wed, 22 Mar 2017 18:54:03 GMT
recorded_with: VCR 3.0.3
