---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic cXdlcnRlYWNocmFpbHM6eGs0WUpMWnZ5S3N5QWJoN0Q3RlRNUk92ckZ6azQyMWZzRE9pRHhIUHJPNlNVYzBvUnA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"379aaf504d5e4ce6a5b2db9888376ab3","token_type":"bearer","expires_in":1199}'
  recorded_at: Wed, 22 Mar 2017 18:54:11 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"SX","Nationality":"VA","Address":{"AddressLine1":"Jeff
        Walk","AddressLine2":"13927","PostalCode":"ZH5 1GH","City":"Lake Sharanhaven","Region":"South
        Carolina","Country":"VE"},"FirstName":"Robyn","LastName":"Howell","Birthday":701197200,"Email":"kristeen_carter@schultz.biz","PersonType":"NATURAL","Tag":"user
        5"}'
    headers:
      Authorization:
      - bearer 379aaf504d5e4ce6a5b2db9888376ab3
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '123'
      - '190'
      - '3690'
      - '77'
      X-Ratelimit-Remaining:
      - '101910'
      - '2223'
      - '4377'
      - '8610'
      X-Ratelimit-Reset:
      - '1490209740'
      - '1490210640'
      - '1490212440'
      - '1490295180'
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Jeff Walk","AddressLine2":"13927","City":"Lake
        Sharanhaven","Region":"South Carolina","PostalCode":"ZH5 1GH","Country":"VE"},"FirstName":"Robyn","LastName":"Howell","Birthday":701197200,"Nationality":"VA","CountryOfResidence":"SX","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"PersonType":"NATURAL","Email":"kristeen_carter@schultz.biz","KYCLevel":"LIGHT","Id":"23103367","Tag":"user
        5","CreationDate":1490208846}'
  recorded_at: Wed, 22 Mar 2017 18:54:12 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[23103367],"Currency":"EUR","Description":"wallet user 5"}'
    headers:
      Authorization:
      - bearer 379aaf504d5e4ce6a5b2db9888376ab3
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '124'
      - '191'
      - '3691'
      - '78'
      X-Ratelimit-Remaining:
      - '101909'
      - '2222'
      - '4376'
      - '8609'
      X-Ratelimit-Reset:
      - '1490209740'
      - '1490210640'
      - '1490212440'
      - '1490295180'
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 5","Owners":["23103367"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"23103368","Tag":null,"CreationDate":1490208848}'
  recorded_at: Wed, 22 Mar 2017 18:54:13 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural/23103367
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer 379aaf504d5e4ce6a5b2db9888376ab3
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Da[...]
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23103367/bankaccounts/other
    body:
      encoding: UTF-8
      string: '{"OwnerName":"Winnie Schaden","OwnerAddress":{"AddressLine1":"Jeff
        Walk","AddressLine2":"13927","City":"Lake Sharanhaven","Region":"South Carolina","PostalCode":"ZH5
        1GH","Country":"VE"},"Type":"other","Country":"FR","AccountNumber":"11696419","BIC":"CRLYFRPP"}'
    headers:
      Authorization:
      - bearer 379aaf504d5e4ce6a5b2db9888376ab3
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '128'
      - '195'
      - '3695'
      - '82'
      X-Ratelimit-Remaining:
      - '101905'
      - '2218'
      - '4372'
      - '8605'
      X-Ratelimit-Reset:
      - '1490209740'
      - '1490210640'
      - '1490212440'
      - '1490295180'
    body:
      encoding: UTF-8
      string: '{"OwnerAddress":{"AddressLine1":"Jeff Walk","AddressLine2":"13927","City":"Lake
        Sharanhaven","Region":"South Carolina","PostalCode":"ZH5 1GH","Country":"VE"},"AccountNumber":"11696419","BIC":"CRLYFRPP","Country":"FR","UserId":"23103367","OwnerName":"Winnie
        Schaden","Type":"OTHER","Id":"23103378","Tag":null,"CreationDate":1490208850,"Active":true}'
  recorded_at: Wed, 22 Mar 2017 18:54:18 GMT
recorded_with: VCR 3.0.3
