!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      = @subject
    %p
      = @text + "\n#{link_to 'Connectez-vous', dashboard_url} pour les lire et y répondre.".html_safe
    %hr
    %p
      #{link_to 'Consulter la liste de mes cours', lessons_url } pour plus d'informations
