%h1 #{@lesson.teacher.name} a refusé votre demande de cours.
%p Celle-ci a été annulée ; le crédit de la leçon a été reversé sur votre portefeuille virtuel.

%h3= link_to 'Voir mes cours', lessons_url