---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic cXdlcnRlYWNocmFpbHM6eGs0WUpMWnZ5S3N5QWJoN0Q3RlRNUk92ckZ6azQyMWZzRE9pRHhIUHJPNlNVYzBvUnA=
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"a7f879ec1ccb4d7381aca48243576c55","token_type":"bearer","expires_in":1199}'
  recorded_at: Wed, 22 Mar 2017 18:57:14 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/natural
    body:
      encoding: UTF-8
      string: '{"CountryOfResidence":"AZ","Nationality":"TF","Address":{"AddressLine1":"Malissa
        Drives","AddressLine2":"6628","PostalCode":"GD1 9RN","City":"West Keturahside","Region":"Hawaii","Country":"GD"},"FirstName":"Van","LastName":"Watsica","Birthday":701197200,"Email":"galen@kassulkebrown.info","PersonType":"NATURAL","Tag":"user
        5"}'
    headers:
      Authorization:
      - bearer a7f879ec1ccb4d7381aca48243576c55
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '179'
      - '225'
      - '292'
      - '3792'
      X-Ratelimit-Remaining:
      - '101808'
      - '2121'
      - '4275'
      - '8508'
      X-Ratelimit-Reset:
      - '1490209920'
      - '1490210820'
      - '1490212620'
      - '1490295360'
    body:
      encoding: UTF-8
      string: '{"Address":{"AddressLine1":"Malissa Drives","AddressLine2":"6628","City":"West
        Keturahside","Region":"Hawaii","PostalCode":"GD1 9RN","Country":"GD"},"FirstName":"Van","LastName":"Watsica","Birthday":701197200,"Nationality":"TF","CountryOfResidence":"AZ","Occupation":null,"IncomeRange":null,"ProofOfIdentity":null,"ProofOfAddress":null,"PersonType":"NATURAL","Email":"galen@kassulkebrown.info","KYCLevel":"LIGHT","Id":"23103513","Tag":"user
        5","CreationDate":1490209029}'
  recorded_at: Wed, 22 Mar 2017 18:57:15 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/wallets
    body:
      encoding: UTF-8
      string: '{"Owners":[23103513],"Currency":"EUR","Description":"wallet user 5"}'
    headers:
      Authorization:
      - bearer a7f879ec1ccb4d7381aca48243576c55
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '180'
      - '226'
      - '293'
      - '3793'
      X-Ratelimit-Remaining:
      - '101807'
      - '2120'
      - '4274'
      - '8507'
      X-Ratelimit-Reset:
      - '1490209920'
      - '1490210820'
      - '1490212620'
      - '1490295360'
    body:
      encoding: UTF-8
      string: '{"Description":"wallet user 5","Owners":["23103513"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"23103517","Tag":null,"CreationDate":1490209031}'
  recorded_at: Wed, 22 Mar 2017 18:57:16 GMT
[...]
- request:
    method: get
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23103513/wallets
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Authorization:
      - bearer a7f879ec1ccb4d7381aca48243576c55
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23103513/wallets?page=1&per_page=10>;
        rel="first",<https://api.sandbox.mangopay.com/v2.01/qwerteachrails/users/23103513/wallets?page=1&per_page=10>;
        rel="last"
      X-Number-Of-Pages:
      - '1'
      X-Number-Of-Items:
      - '3'
      X-Ratelimit:
      - '183'
      - '229'
      - '296'
      - '3796'
      X-Ratelimit-Remaining:
      - '101804'
      - '2117'
      - '4271'
      - '8504'
      X-Ratelimit-Reset:
      - '1490209920'
      - '1490210820'
      - '1490212620'
      - '1490295360'
    body:
      encoding: UTF-8
      string: '[{"Description":"wallet user 5","Owners":["23103513"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"23103517","Tag":null,"CreationDate":1490209031},{"Description":"wallet
        bonus 5","Owners":["23103513"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"23103521","Tag":"Bonus","CreationDate":1490209032},{"Description":"wallet
        transfert 5","Owners":["23103513"],"Balance":{"Currency":"EUR","Amount":0},"Currency":"EUR","FundsType":"DEFAULT","Id":"23103525","Tag":"Transfert","CreationDate":1490209032}]'
  recorded_at: Wed, 22 Mar 2017 18:57:18 GMT
- request:
    method: post
    uri: https://api.sandbox.mangopay.com/v2.01/qwerteachrails/payins/bankwire/direct
    body:
      encoding: UTF-8
      string: '{"AuthorId":"23103513","DeclaredDebitedFunds":{"Currency":"EUR","Amount":10000.0},"DeclaredFees":{"Currency":"EUR","Amount":0.0},"CreditedWalletId":"23103517"}'
    headers:
      Authorization:
      - bearer a7f879ec1ccb4d7381aca48243576c55
      Content-Type:
      - application/json
      X-Mangopay-Client-User-Agent:
      - '{"bindings_version":"3.0.26","lang":"ruby","lang_version":"2.3.1 p112 (2016-04-26)","platform":"x86_64-darwin16","uname":"Darwin
        MBP-MacBook.Dlink 16.0.0 Darwin Kernel Version 16.0.0: Mon Aug 29 17:56:20
        PDT 2016; root:xnu-3789.1.32~3/RELEASE_X86_64 x86_64"}'
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit:
      - '184'
      - '230'
      - '297'
      - '3797'
      X-Ratelimit-Remaining:
      - '101803'
      - '2116'
      - '4270'
      - '8503'
      X-Ratelimit-Reset:
      - '1490209920'
      - '1490210820'
      - '1490212620'
      - '1490295360'
    body:
      encoding: UTF-8
      string: '{"Id":"23103529","Tag":null,"CreationDate":1490209034,"ResultCode":null,"ResultMessage":null,"AuthorId":"23103513","CreditedUserId":"23103513","DebitedFunds":{"Currency":"XXX","Amount":0},"CreditedFunds":{"Currency":"XXX","Amount":0},"Fees":{"Currency":"XXX","Amount":0},"Status":"CREATED","ExecutionDate":null,"Type":"PAYIN","Nature":"REGULAR","CreditedWalletId":"23103517","DebitedWalletId":null,"PaymentType":"BANK_WIRE","ExecutionType":"DIRECT","DeclaredDebitedFunds":{"Currency":"EUR","Amount":10000},"DeclaredFees":{"Currency":"EUR","Amount":0},"WireReference":"85003e5edf","BankAccount":{"OwnerAddress":{"AddressLine1":"1
        Mango Street","AddressLine2":null,"City":"Paris","Region":null,"PostalCode":"75010","Country":"FR"},"Type":"IBAN","OwnerName":"MANGOPAY","IBAN":"FR7618829754160173622224251","BIC":"CMBRFR2BCME"}}'
  recorded_at: Wed, 22 Mar 2017 18:57:19 GMT
recorded_with: VCR 3.0.3
