#login-modal.modal.fade{:role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close.text-white{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Connexion
      .modal-body
        = render "users/sessions/new.html.haml"
      .modal-footer.text-right
        = link_to 'Pas encore membre?', new_user_registration_path
        %br/