%ul.nav.navbar-nav.pull-left
  %li= link_to 'Rechercher', all_teachers_path
  %li= link_to 'Devenir professeur', become_teacher_accueil_path
  %li= link_to 'Comment ça marche ?', pages_path('comment-ca-marche'), class: 'text-green'
%ul.nav.navbar-nav
  %li
    %a{"data-toggle" => "modal", :href => "#signup-modal"} S'inscrire
  %li
    %a{"data-toggle" => "modal", :href => "#login-modal"} Connexion
  %li
    %a{"data-toggle" => "modal", :href => faq_path} FAQ