#sign-up-modal.modal.fade{:role => "dialog"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close.text-white{"data-dismiss" => "modal", :type => "button"} ×
        %h4.modal-title Inscrivez-vous pour en savoir
      .modal-body
        .row
          .col-sm-2
          .col-sm-8
      .modal-footer
        .pasDeCompte{"data-dismiss" => "modal", "data-target" => "#myModCo", "data-toggle" => "modal"}
          %a{:href => "#login-modal", :data => {:toggle=>"modal"}}
            Déjà inscrit?
            %br/
